/* GROUP: Main Document Styles */
.qventas_celular  .wmapproot {
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	color: #373737;
	font-weight: normal;
}
.qventas_celular .wmapproot > .wmpagecontainer,
.qventas_celular.wmapproot > .wmpagecontainer,
.qventas_celular #studio_designer > .wmlayout {
/* 	border-radius: 0px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 0px; // THEMER: DISABLED */
/* 	box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
	background-color: #eeeeee;
	background-image: none;
	filter: none;
}

/* IE9 has buggy display when combinding both gradients and radius.
 * Gradients and not radius work on IE8, so we'll just do it the IE 8 way */
.dj_ie9 .qventas_celular div,
.dj_ie9 .qventas_celular input,
.dj_ie9 .qventas_celular button {
   border-radius: 0px !important; /* THEMER: HIDE */
}