/* GROUP: Grid Rows */
.qventas_celular .GridListStyle div.dojoxGrid, 
.qventas_celular .GridListStyle .wmlist {
	font-size: 13px;
}

.qventas_celular .GridListStyle  .wmlist-cell,
.qventas_celular .GridListStyle td.dojoxGridCell {
	border-top: solid 1px #d9d9d9;
	border-right: solid 1px #d9d9d9;
	border-bottom: solid 1px #d9d9d9;
	border-left: solid 1px #d9d9d9;
}

.qventas_celular .GridListStyle div.dojoxGridRow,
.qventas_celular .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOver,
.qventas_celular .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOver td.dojoxGridCell,
.qventas_celular .GridListStyle div.wmlist-item,
.qventas_celular .GridListStyle.Disabled div.wmlist-item.wmlist-item-over  {
	font-family: "Open Sans",sans-serif;
    font-weight: normal;
}

.qventas_celular .GridListStyle div.dojoxGridContent .dojoxGridCell {
   background-color: transparent; /* THEMER: HIDE */
}

.qventas_celular .GridListStyle div.dojoxGridContent .dojoxGridCellFocus,
.qventas_celular .GridListStyle div.dojoxGridContent .dojoxGrid-cell-focus {
   border: 1px dashed transparent !important; /* THEMER: HIDE */
}


/* GROUP: Odd Numbered Rows */
.qventas_celular .GridListStyle div.dojoxGridRow,
.qventas_celular .GridListStyle div.wmlist-item,

/* Disabled grid rows */
.qventas_celular .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOver,
.qventas_celular .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowSelected,
.qventas_celular .GridListStyle.Disabled .dojoxGridRowOver td.dojoxGridCell,
.qventas_celular .GridListStyle.Disabled div.wmlist-item.wmlist-item-over,
.qventas_celular .GridListStyle.Disabled div.wmlist-item.wmlist-item-selected,

/* Disabled odd    rows */
.qventas_celular .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOdd.dojoxGridRowOver,
.qventas_celular .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOdd.dojoxGridRowSelected,
.qventas_celular .GridListStyle.Disabled div.wmlist-item.Odd.wmlist-item-over,
.qventas_celular .GridListStyle.Disabled div.wmlist-item.Odd.wmlist-item-selected   {
	color: #373737;
	background-color: #f5f5f5;
	background-image: none;
	filter: none;
}


/* GROUP: Even Numbered Rows */
.qventas_celular .GridListStyle div.dojoxGrid-row.dojoxGrid-row-odd,
.qventas_celular .GridListStyle div.dojoxGridRow.dojoxGridRowOdd,
.qventas_celular .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOdd.dojoxGridRowOver,
.qventas_celular .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOdd.dojoxGridRowSelected,
.qventas_celular .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOdd.dojoxGridRowOver td.dojoxGridCell,
.qventas_celular .GridListStyle.Disabled div.wmlist-item.Odd.wmlist-item-over,
.qventas_celular .GridListStyle.Disabled div.wmlist-item.Odd.wmlist-item-selected,
.qventas_celular .GridListStyle .wmlist-item.Odd {
	color: #373737;
	background-color: #ffffff;
	background-image: none;
	filter: none;
}

/* GROUP: Selected Row */
.qventas_celular .GridListStyle .dojoxGridRow.dojoxGridRowSelected,
.qventas_celular .GridListStyle.Disabled .dojoxGridRow.dojoxGridRowSelected,
.qventas_celular .GridListStyle .dojoxGridRow.dojoxGridRowSelected td.dojoxGridCell,
.qventas_celular .GridListStyle .dojoxGridRow.dojoxGridRowOdd.dojoxGridRowSelected,
.qventas_celular .GridListStyle .dojoxGridRow.dojoxGridRowOver.dojoxGridRowSelected,
.qventas_celular .GridListStyle .dojoxGridRow.dojoxGridRowOdd.dojoxGridRowOver.dojoxGridRowSelected,
.qventas_celular .GridListStyle .wmlist-item.wmlist-item-selected,
.qventas_celular .GridListStyle.Disabled .wmlist-item.wmlist-item-selected,
.qventas_celular .GridListStyle .wmlist-item.wmlist-item-selected.wmlist-item-over {
	background-color: #64b5f6;
	background-image: none;
	filter: none;
	color: #ffffff;
}

/* GROUP: Selected Cell */
.qventas_celular .dojoxGridCellFocus {
    outline: solid 0px #ae0909;
    outline-offset: -1px; /* Change this to match outline width (but negative). Not supported by IE */ /* THEMER: HIDE */
}

/* GROUP: Hover row */
.qventas_celular .GridListStyle .wmlist-item.wmlist-item-over,
.qventas_celular .GridListStyle .dojoxGridRow.dojoxGridRowOver,
.qventas_celular .GridListStyle .dojoxGridRow.dojoxGridRowOdd.dojoxGridRowOver,
.qventas_celular .GridListStyle .dojoxGridRowOver a,
.qventas_celular .GridListStyle .dojoxGridRowOver td.dojoxGridCell {
	background-color: #b4b4b4;
	background-image: none;
	filter: none;
	color: #ffffff;
}

/* GROUP: Grid Header */
.qventas_celular .GridListStyle .wmlist-header th,
.qventas_celular .GridListStyle.wmNoFontSize div.dojoxGridHeader .dojoxGridCell {
	font-size: 13px;
}

.qventas_celular .GridListStyle .wmlist-header .wmlist-cell,
.qventas_celular .GridListStyle div.dojoxGridHeader .dojoxGridCell {
	border-top: solid 1px #d9d9d9;
	border-right: solid 1px #d9d9d9;
	border-bottom: solid 1px #d9d9d9;
	border-left: solid 1px #d9d9d9;
}



.qventas_celular .GridListStyle .wmlist-header,
.qventas_celular .GridListStyle div.dojoxGridHeader {
	background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(255, 255, 255)), color-stop(50%,rgb(217, 217, 217)), to(rgb(217, 217, 217)));
	background-image: -moz-linear-gradient(top, rgb(255, 255, 255) 0%,rgb(217, 217, 217) 50%,rgb(217, 217, 217) 100%);
	background-image: -o-linear-gradient(top, rgb(255, 255, 255) 0%,rgb(217, 217, 217) 50%,rgb(217, 217, 217) 100%);
	background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%,rgb(217, 217, 217) 50%,rgb(217, 217, 217) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(255, 255, 255)', endColorstr='rgb(217, 217, 217)',GradientType=0);
}
.qventas_celular .GridListStyle .wmlist-header th,
.qventas_celular .GridListStyle div.dojoxGridHeader th.dojoxGridCell,
.qventas_celular .GridListStyle div.dojoxGridHeader th.dojoxGridCell.dojoxGridCellOver {	
    background: transparent none !important; /* THEMER: HIDE */
	font-family: "Open Sans",sans-serif;
	color: #373737;
	font-weight: normal;
}

/* GROUP: Grid Cells */
.qventas_celular .GridListStyle .dojoxGridCell,
.qventas_celular .GridListStyle .wmlist-cell {
    padding: 4px 8px;
}

/* GROUP: Focused Cell */
.qventas_celular .GridListStyle .dojoxGridCellFocus {
/*   outline: solid 1px #5b9dd7; // THEMER: DISABLED */
}


/* THEMER: DO NOT SUBCLASS START */
/* GROUP: Mobile List */
.qventas_celular .MobileListStyle div.wmlist-item,
.qventas_celular .Disabled.MobileListStyle div.wmlist-item,
.qventas_celular .Disabled.MobileListStyle div.wmlist-item.wmlist-item-over {
	border-radius: 0px;
	-webkit-border-radius: 0px;
    margin: 5px;
	background-color: #0866c6;
	background-image: none;
	filter: none;
	color: #373737;
	font-family: "Open Sans",sans-serif;
    min-height: 24px;
}

.qventas_celular .wmlist.MobileListStyle td.wmlist-cell {
	border: solid 0px #d9d9d9;
}

/* GROUP: Mobile List Hover (Desktop only!) */
.qventas_celular .MobileListStyle div.wmlist-item.wmlist-item-over,
.qventas_celular .MobileListStyle div.wmlist-item.Odd.wmlist-item-over {
	background-color: #555555;
	color: #FFFFFF;
}

/* GROUP: Mobile List Selected Row */
.qventas_celular .MobileListStyle div.wmlist-item.wmlist-item-selected,
.qventas_celular .MobileListStyle div.wmlist-item.Odd.wmlist-item-selected,
.qventas_celular .MobileListStyle div.wmlist-item.wmlist-item-selected.wmlist-item-over,
.qventas_celular .MobileListStyle div.wmlist-item.Odd.wmlist-item-selected.wmlist-item-over {
	background-color: #333333; 
	color: #FFFFFF; 
}
/* THEMER: DO NOT SUBCLASS END */