/* GROUP: Portlet Titlebar */
.w3demo .dojoxPortlet div.dijitTitlePaneTitle {
	font-family: "Open Sans",sans-serif;
	font-size: 12px;
	font-weight: normal;

  min-height: 22px;
	line-height: 28px;
  padding-left: 10px;
}

.w3demo .dojoxPortlet div.dijitTitlePaneTitle .dijitTitlePaneTextNode {
	color: #373737;
}

.w3demo .dojoxPortlet {
	border-top: solid 1px #d9d9d9;
	border-right: solid 1px #d9d9d9;
	border-bottom: solid 1px #d9d9d9;
	border-left: solid 1px #d9d9d9;
/* 	border-radius: 3px 3px 4px 4px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 3px 3px 4px 4px; // THEMER: DISABLED */
}

.w3demo .dojoxPortlet div.dijitTitlePaneTitle {
	background-color: #eeeeee;
	background-image: none;
	filter: none;
}

/* GROUP: Portlet Titlebar Icons */
.w3demo .dojoxPortlet div.dijitTitlePaneTitle .dojoxPortletIcon {
  border-color: #333333;
  width: 16px;
  height: 20px;
  margin-right: 4px;
}

/* GROUP: Portlet Close Icon */
.w3demo .dojoxPortlet div.dijitTitlePaneTitle .dojoxPortletIcon.dojoxCloseNode {
/* 	background: url(images/DialogIconsGray.png) no-repeat 0px 0px; // THEMER: DISABLED */
  position: relative;
  top: 3px;
  height: 16px;
}
/* GROUP: Portlet Close Icon Hover */
.w3demo .dojoxPortlet div.dijitTitlePaneTitle .dojoxPortletIcon.dojoxCloseNode:hover {
/* background-position: 0px -16px; // THEMER: DISABLED */
}

/* GROUP: Portlet Minify Icon */
.w3demo .dojoxPortlet div.dijitTitlePaneTitle .dojoxPortletIcon.dojoxArrowDown {
	background: url(images/DialogIconsGray.png) no-repeat -16px 0px;
  position: relative;
  top: 3px;
  height: 16px;
}

/* GROUP: Portlet Minify Icon Hover */
.w3demo .dojoxPortlet div.dijitTitlePaneTitle .dojoxPortletIcon.dojoxArrowDown:hover {
/*  background-position: -16px -16px; // THEMER: DISABLED */
}

/* GROUP: Portlet Unminify Icon */
.w3demo .dojoxPortlet div.dijitTitlePaneTitle.dijitClosed .dojoxPortletIcon.dojoxArrowDown {
	background: url(images/DialogIconsGray.png) no-repeat -32px 0px;
}

/* GROUP: Portlet Unminify Icon Hover */
.w3demo .dojoxPortlet div.dijitTitlePaneTitle.dijitClosed .dojoxPortletIcon.dojoxArrowDown:hover {
/* 	background-position: -16px -16px; ; // THEMER: DISABLED */
}