/* GROUP: Dialog Frame */
.qventas .wmdialog {
/* 	border-radius: 4px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 4px; // THEMER: DISABLED */
	box-shadow: 4px 4px 8px black;
	-webkit-box-shadow: 4px 4px 8px black;
}

/* GROUP: Dialog Container */
.qventas .wmdialog {
    background-color: white;
    background-image: none;
    filter: none;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	color: #474747;
	font-weight: normal;
}

/* GROUP: Dialog Titlebar */
.qventas .dialogtitlebar .wmlabel{
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	color: #0866c6;
	font-weight: bold;
}

.qventas .dialogtitlebar {
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), color-stop(37%,#dcdcdc), to(#dcdcdc));
	background-image: -moz-linear-gradient(top, #ffffff 0%,#dcdcdc 37%,#dcdcdc 100%);
	background-image: -o-linear-gradient(top, #ffffff 0%,#dcdcdc 37%,#dcdcdc 100%);
	background-image: -ms-linear-gradient(top, #ffffff 0%,#dcdcdc 37%,#dcdcdc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dcdcdc',GradientType=0);
}


/* GROUP: Titlebar Buttons: Close Button */
.qventas .dialogtitlebar .dialogclosebutton {
/* 	background: url(images/DialogIconsGray.png) repeat 0% 0%; // THEMER: DISABLED */
}

/* GROUP: Titlebar Buttons: Minify Button */
.qventas .dialogtitlebar .dialogminifybutton {
	background: url(images/DialogIconsGray.png) no-repeat -16px 0px;
}
/* GROUP: Titlebar Buttons: Maxify Button */
.qventas .dialogtitlebar .dialogmaxifybutton {
	background: url(images/DialogIconsGray.png) no-repeat -32px 0px;
}
