/* GROUP: Standard Tab Button */
.qventas .wmtablayers .wmtablayers-tab,
.qventas .wmtablayers button.wmtablayers-verticaltab {
	font-family: "Open Sans",sans-serif;
	color: #373737;
	font-weight: normal;
	font-size: 12px;
	background-color: transparent;
	background-image: none;
	filter: none;
}
.qventas .wmtablayers .wmtablayers-tab {

	height: 27px;
	margin-left: 2;
	border-radius: 2px;
	-webkit-border-radius: 2px;
/* 	box-shadow: -1px 1px 1px #444444; // THEMER: DISABLED */
/* 	-webkit-box-shadow: -1px 1px 1px #444444; // THEMER: DISABLED */

	border-top: solid 1px rgb(197, 197, 197);
	border-right: solid 1px rgb(197, 197, 197);
	border-bottom: solid 1px rgb(197, 197, 197);
	border-left: solid 1px rgb(197, 197, 197);
}
.dj_ff .qventas .wmtablayers .wmtablayers-tab {
       box-shadow: 0 0 0 black !important; /* THEMER: HIDE */
}
/* GROUP: First Tab */
.qventas .wmtablayers-tab:first-child {
	margin-left: 4;
}


/* GROUP: Standard Selected Tab Button */
.qventas .wmtablayers .wmtablayers-verticaltab.wmtablayers-selected,
.qventas .wmtablayers .wmtablayers-verticaltab.wmtablayers-selected:hover,
.qventas .wmtablayers .wmtablayers-tab.wmtablayers-selected,
.qventas .wmtablayers .wmtablayers-tab.wmtablayers-selected:hover {
	background-color: transparent;
	background-image: none;
	filter: none;
	color: #1976d2;
	border-top: solid 1px #c5c5c5;
	border-right: solid 1px #c5c5c5;
	border-bottom: solid 1px #c5c5c5;
	border-left: solid 1px #c5c5c5;
}
.qventas .wmtablayers .wmtablayers-tab.wmtablayers-selected,
.qventas .wmtablayers .wmtablayers-tab.wmtablayers-selected:hover {
/* 	box-shadow: -1px 1px 1px #444444; // THEMER: DISABLED */
/* 	-webkit-box-shadow: -1px 1px 1px #444444; // THEMER: DISABLED */
/* 	top: 0px; // THEMER: DISABLED */
    /* NOTE: To create different values of top for different browsers, use
     .dj_ie .qventas .wmtablayers .wmtablayers-tab.wmtablayers-selected, 
     .dj_ff .qventas .wmtablayers .wmtablayers-tab.wmtablayers-selected,
     .dj_webkit .qventas .wmtablayers .wmtablayers-tab.wmtablayers-selected */
}

/* GROUP: Tab Button with Focus */
.qventas .wmtablayers .wmtablayers-verticaltab:focus,
.qventas .wmtablayers .wmtablayers-tab:focus {
/* 	outline: solid 0px ; // THEMER: DISABLED */
	color: #1976d2;
}

/* GROUP: Tab Button with Hover */
.qventas .wmtablayers .wmtablayers-tab:hover,
.qventas .wmtablayers .wmtablayers-verticaltab:hover {
	color: #1976d2;
	background-color: #f2f2f2;
	background-image: none;
	filter: none;
/* 	border-top: solid 2px rgb(8, 102, 198); // THEMER: DISABLED */
/* 	border-right: solid 0px rgb(251, 251, 251); // THEMER: DISABLED */
/* 	border-bottom: solid 0px rgb(251, 251, 251); // THEMER: DISABLED */
/* 	border-left: solid 0px rgb(251, 251, 251); // THEMER: DISABLED */
}
.qventas .wmtablayers .wmtablayers-tab:hover {
/* 	box-shadow: null; // THEMER: DISABLED */
/* 	-webkit-box-shadow: null; // THEMER: DISABLED */
}

/* GROUP: Tab Button with Mouse Down */
/* NOTE: This does not appear to work in firefox at design time but is fine at runtime */
.qventas .wmtablayers .wmtablayers-tab:active,
.qventas .wmtablayers .wmtablayers-verticaltab:active,
.qventas .wmtablayers .wmtablayers-tab:active:.focus,
.qventas .wmtablayers .wmtablayers-verticaltab:active:focus {
/* 	color: #ffffff; // THEMER: DISABLED */
background-color: #444444; 
background-image: none;
filter: none;
}
.qventas .wmtablayers .wmtablayers-tab:active,
.qventas .wmtablayers .wmtablayers-tab:active:focus {
    box-shadow: 0px 0px 0px #444444; 
}


/* GROUP: Layer Borders */
.qventas .wmtablayers  .wmTabLayers-client > .wmlayer {
/* 	border-radius: 4px !important; // THEMER: DISABLED */
/* 	-webkit-border-radius: 4px !important; // THEMER: DISABLED */
}

/* GROUP: Tab Bar */
.qventas .wmtablayers div.wmtablayers-tabbar {
	background-color: transparent;
	background-image: none;
	filter: none;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}



/* GROUP: Vertical Tab Buttons */
.qventas .wmtablayers button.wmtablayers-verticaltab {
	font-size: 13px;
	width: 100%;
/* 	margin-left: 5%; // THEMER: DISABLED */
/* 	margin-bottom: 10px; // THEMER: DISABLED */
/* 	border-radius: 4px 0px 0px 4px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 4px 0px 0px 4px; // THEMER: DISABLED */
	border-top: solid 0px rgb(68, 68, 68);
	border-right: solid 0px transparent;
	border-bottom: solid 0px rgb(68, 68, 68);
	border-left: solid 0px rgb(68, 68, 68);
/* 	box-shadow: -1px 1px 1px #444444; // THEMER: DISABLED */
/* 	-webkit-box-shadow: -1px 1px 1px #444444; // THEMER: DISABLED */
}

/* GROUP: First Vertical Tab */
.qventas .wmtablayers .wmtablayers-verticaltab:first-child {
/* 	margin-top: 8px; // THEMER: DISABLED */
}

/* GROUP: Vertical Tab Buttons with Hover */
.qventas .wmtablayers .wmtablayers-verticaltab:hover {
/* 	box-shadow: null; // THEMER: DISABLED */
/* 	-webkit-box-shadow: null; // THEMER: DISABLED */
}

/* GROUP: Vertical Selected Tab Buttons */
.qventas .wmtablayers .wmtablayers-verticaltab.wmtablayers-selected {
/* 	box-shadow: null; // THEMER: DISABLED */
/* 	-webkit-box-shadow: null; // THEMER: DISABLED */
/*  border: solid 1px black; // THEMER: DISABLED */
}

/* GROUP: Vertical Tab with Mouse Down */
.qventas .wmtablayers .wmtablayers-verticaltab:active,
.qventas .wmtablayers .wmtablayers-verticaltab:active:focus {
    box-shadow: 0px 0px 0px #444444; 
}