/* GROUP: Tool tips */
.qventas .AppToolTip {
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	color: #fafafa;
	font-weight: normal;

	background-color: #55575c;
	background-image: none;
	filter: none;

	border-radius: 4px;
	-webkit-border-radius: 4px;
/* 	box-shadow: 4px 4px 8px #666; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 4px 4px 8px #666; // THEMER: DISABLED */
}