html.WMApp body .appNameLabel {
color: #ffffff;
font-size: 20px;
font-weight: bold;

}




html.WMApp body .mainHeaderPanel {
background-color: #0866c6;

}


html.WMApp body .iconsNameLabel {
color: #ffffff;
font-size: 12px;
}


