/* TODO: Fix all .dijitButtonContents which are found in Select editors which are found in editable grid */

/* GROUP: Standard Editors */
/* THEMER: DO NOT SUBCLASS START */
.divinamisericordia .dojoxGrid .dijitTextBox,
.divinamisericordia .dojoxGrid .dijitComboBox,
.divinamisericordia .dojoxGrid .dijitSelect .dijitButtonContents,
/* THEMER: DO NOT SUBCLASS END */
.divinamisericordia .wmeditor .dijitTextBox,
.divinamisericordia .wmeditor .dijitTextArea,
.divinamisericordia .wmeditor .dijitComboBox,
.divinamisericordia .wmeditor .dijitSelect .dijitButtonContents,
.divinamisericordia .dijitTimePickerItem,
.divinamisericordia .wmeditor .RichTextEditable iframe {
	border: solid 1px #a8a8a8;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	color: #373737;
	font-weight: normal;
	background-color: #ffffff;
	background-image: none;
	filter: none;
	padding: 6,12,6,12;
}

/* THEMER: DO NOT SUBCLASS START */
.divinamisericordia  .wmeditor .dijitTextBox,
.divinamisericordia  .wmeditor .dijitTextArea,
.divinamisericordia  .wmeditor .dijitComboBox,
/* THEMER: DO NOT SUBCLASS END */
.divinamisericordia  .dojoxGrid .dijitTextBox,
.divinamisericordia  .dojoxGrid .dijitTextArea,
.divinamisericordia  .dojoxGrid .dijitComboBox
 {
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

.divinamisericordia .wmeditor.wmrichtext {
    -webkit-border-bottom-left-radius: 4px;  /* THEMER: CALC: ${border-bottom-left-radius} */
    -webkit-border-bottom-right-radius: 4px; /* THEMER: CALC: ${border-bottom-right-radius} */
    border-bottom-left-radius: 4px;       /* THEMER: CALC: ${border-bottom-left-radius} */
    border-bottom-right-radius: 4px;      /* THEMER: CALC: ${border-bottom-right-radius} */
}


/* GROUP: Hover */
/* THEMER: DO NOT SUBCLASS START */
.divinamisericordia .dijitTimePickerMarker.dijitTimePickerMarkerHover,
.divinamisericordia .dijitTimePickerItem.dijitTimePickerItemHover,
/* THEMER: DO NOT SUBCLASS END */
.divinamisericordia .wmeditor .dijitTextBox.dijitHover,
.divinamisericordia .wmeditor .dijitTextArea:hover,
.divinamisericordia .wmeditor .dijitComboBox.dijitHover,
.divinamisericordia .wmeditor .dijitSelect.dijitHover .dijitButtonContents,
.divinamisericordia .wmeditor .RichTextEditable:hover iframe {
	color: #373737;
	border: solid 1px #7dac44;
	background-color: #ffffff;
	background-image: none;
	filter: none;
}

/* GROUP: Focus */
/* THEMER: DO NOT SUBCLASS START */
.divinamisericordia .dojoxGrid .dijitTextBox.dijitFocused,
.divinamisericordia .dojoxGrid .dijitComboBox.dijitFocused,
.divinamisericordia .dojoxGrid .dijitSelect.dijitFocused .dijitButtonContents,
/* THEMER: DO NOT SUBCLASS END */
.divinamisericordia .wmeditor .dijitTextBox.dijitFocused,
.divinamisericordia .wmeditor .dijitTextBox.dijitFocused.dijitHover,
.divinamisericordia .wmeditor .dijitTextArea.dijitFocused,
.divinamisericordia .wmeditor .dijitTextArea.dijitFocused:hover,
.divinamisericordia .wmeditor .dijitComboBox.dijitFocused,
.divinamisericordia .wmeditor .dijitComboBox.dijitFocused.dijitHover,
.divinamisericordia .wmeditor .dijitSelect.dijitFocused .dijitButtonContents,
.divinamisericordia .wmeditor .dijitSelect.dijitFocused.dijitHover .dijitButtonContents,
.divinamisericordia .isDirty.wmeditor .dijitTextBox.dijitFocused,
.divinamisericordia .isDirty.wmeditor .dijitTextArea.dijitFocused,
.divinamisericordia .isDirty.wmeditor .dijitComboBox.dijitFocused,
.divinamisericordia .wmeditor .RichTextEditable.Focused iframe {
	color: #373737;
	border: solid 1px #7dac44;
	background-color: #d3f0a7;
	background-image: none;
	filter: none;
}

/* GROUP: isDirty */
.divinamisericordia .isDirty.wmeditor .dijitTextBox,
.divinamisericordia .isDirty.wmeditor .dijitTextArea,
.divinamisericordia .isDirty.wmeditor .dijitComboBox {
/* 	color: #ffffff; // THEMER: DISABLED */
	border: solid 1px #a8a8a8;
/* 	background-color: #b98181; // THEMER: DISABLED */
/* 	background-image: none; // THEMER: DISABLED */
/* 	filter: none; // THEMER: DISABLED */
}

/* GROUP: Invalid */
.divinamisericordia .wmeditor .dijitError.dijitTextBox,
.divinamisericordia .wmeditor .dijitError.dijitTextArea,
.divinamisericordia .wmeditor .dijitError.dijitComboBox,
.divinamisericordia .wmeditor .dijitError.isDirty.dijitTextBox,
.divinamisericordia .wmeditor .dijitError.isDirty.dijitTextArea,
.divinamisericordia .wmeditor .dijitError.isDirty.dijitComboBox
{
	color: #373737;
	border: solid 1px #ed0202;
	background-color: #f2bdbd;
	background-image: none;
	filter: none;
}


/* GROUP: Captions */
.divinamisericordia .wmeditor .wmeditor-caption {
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	color: #373737;
	font-weight: normal;
}

/* GROUP: Read-only */
.divinamisericordia .wmeditor .wmeditor-readonlyNode {
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
    border: solid 1px #a8a8a8;
/* 	color: ; // THEMER: DISABLED */
/* 	font-weight: undefined; // THEMER: DISABLED */
}


/* GROUP: Drop Down Boxes */
/* THEMER: DO NOT SUBCLASS START */
.divinamisericordia .dojoxGrid .dijitComboBox .dijitArrowButton,
/* THEMER: DO NOT SUBCLASS END */
.divinamisericordia .wmeditor .dijitSpinner .dijitArrowButton,
.divinamisericordia .wmeditor .dijitComboBox .dijitArrowButton,
.divinamisericordia .wmeditor .dijitSelect .dijitArrowButton {
	background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(255, 255, 255)), color-stop(50%,rgb(217, 217, 217)), to(rgb(217, 217, 217)));
	background-image: -moz-linear-gradient(top, rgb(255, 255, 255) 0%,rgb(217, 217, 217) 50%,rgb(217, 217, 217) 100%);
	background-image: -o-linear-gradient(top, rgb(255, 255, 255) 0%,rgb(217, 217, 217) 50%,rgb(217, 217, 217) 100%);
	background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%,rgb(217, 217, 217) 50%,rgb(217, 217, 217) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(255, 255, 255)', endColorstr='rgb(217, 217, 217)',GradientType=0);
}

/* THEMER: DO NOT SUBCLASS START */
.divinamisericordia .dojoxGrid .dijitComboBox .dijitArrowButton,
.divinamisericordia .dijitComboBox .dijitArrowButton .dijitArrowButtonInner, /* Grid combo boxes and selects */
.divinamisericordia .dijitSelect .dijitArrowButton .dijitArrowButtonInner,
/* THEMER: DO NOT SUBCLASS END */
.divinamisericordia .wmeditor .dijitComboBox .dijitArrowButton,
.divinamisericordia .wmeditor .dijitSelect .dijitArrowButton,
.divinamisericordia .wmeditor .dijitComboBox .dijitArrowButton .dijitArrowButtonInner,
.divinamisericordia .wmeditor .dijitSelect .dijitArrowButton .dijitArrowButtonInner {
/* 	border-radius: 0px 2px 2px 0px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 0px 2px 2px 0px; // THEMER: DISABLED */
}


/* GROUP: Drop Down Boxes Hover */ 
/* THEMER: DO NOT SUBCLASS START */
.divinamisericordia .dojoxGrid .dijitComboBox .dijitArrowButton:hover,
/* THEMER: DO NOT SUBCLASS END */
.divinamisericordia .wmeditor .dijitSpinner .dijitArrowButton:hover,
.divinamisericordia .wmeditor .dijitComboBox .dijitArrowButton:hover,
.divinamisericordia .wmeditor .dijitSelect .dijitArrowButton:hover {
/* 		  background-color: rgb(255, 102, 102); // THEMER: DISABLED */
/* 		  background-image: none; // THEMER: DISABLED */
/* 		  filter: none; // THEMER: DISABLED */
}

/* GROUP: Drop Down Clicking */
/* THEMER: DO NOT SUBCLASS START */
.divinamisericordia .dojoxGrid .dijitComboBox .dijitArrowButton:active,
/* THEMER: DO NOT SUBCLASS END */
.divinamisericordia .wmeditor .dijitSpinner .dijitArrowButton:active,
.divinamisericordia .wmeditor .dijitComboBox .dijitArrowButton:active,
.divinamisericordia .wmeditor .dijitSelect .dijitArrowButton:active {
/* 		  background-color: rgb(102, 102, 255); // THEMER: DISABLED */
/* 		  background-image: none; // THEMER: DISABLED */
/* 		  filter: none; // THEMER: DISABLED */
		  
}


/* GROUP: Drop Down Box Arrows */
/* THEMER: DO NOT SUBCLASS START */
.divinamisericordia .dijitComboBox .dijitArrowButton .dijitArrowButtonInner,
.divinamisericordia .dijitSelect .dijitArrowButton .dijitArrowButtonInner,
/* THEMER: DO NOT SUBCLASS END */
.divinamisericordia .wmeditor .dijitComboBox .dijitArrowButton .dijitArrowButtonInner,
.divinamisericordia .wmeditor .dijitSelect .dijitArrowButton .dijitArrowButtonInner {
	background: url(images/comboArrowDownDark.png) no-repeat 50% 50%;
}



/* GROUP: Spinner Arrows Down */
.divinamisericordia .wmeditor .dijitSpinner .dijitArrowButton .dijitArrowButtonInner {
	background: url(images/comboArrowDownDark.png) no-repeat 30% 30%;
}

/* GROUP: Spinner Arrows Up */
.divinamisericordia .wmeditor .dijitSpinner .dijitArrowButton.dijitUpArrowButton .dijitArrowButtonInner {
	background: url(images/comboArrowUpDark.png) no-repeat 0% 0%;
}



/* GROUP: Sliders */
.divinamisericordia .wmeditor .dijitSlider .dijitSliderImageHandleH {
    background: url(images/preciseSliderThumb.png) no-repeat 50% 0%;
    outline-width: 0;
}

/* GROUP: Slider Bar Progress */
.divinamisericordia .wmeditor .dijitSlider .dijitSliderProgressBarH,
.divinamisericordia .wmeditor .dijitSlider .dijitSliderLeftBumper,
.divinamisericordia .wmeditor .dijitSliderFocused.dijitSlider .dijitSliderProgressBarH,
.divinamisericordia .wmeditor .dijitSliderFocused.dijitSlider .dijitSliderLeftBumper {
	background-color: #7dac44;
	background-image: none;
	filter: none;
}

/* GROUP: Slider Bar Remainder */
.divinamisericordia .wmeditor .dijitSlider .dijitSliderRemainingBarH,
.divinamisericordia .wmeditor .dijitSlider .dijitSliderRightBumper,
.divinamisericordia .wmeditor .dijitSliderFocused.dijitSlider .dijitSliderRemainingBarH,
.divinamisericordia .wmeditor .dijitSliderFocused.dijitSlider .dijitSliderRightBumper {
	background-color: #dcdcdc;
	background-image: none;
	filter: none;
}    
