/* GROUP: Links */
.divinamisericordia .wmapproot.WidgetThemerPage-demoPanelWithAppRoot > div > .wmlabel > .wmSizeNode a, /* THEMER: REMOVE LINE */ /* Theme designer needs to override studio's stylesheet, but running app does not need this */
.divinamisericordia .wmapproot a,
.divinamisericordia  #wavemakerNode  .wmapproot a,
.divinamisericordia .wmapproot.WidgetThemerPage-demoPanelWithAppRoot > div > .wmlabel > .wmSizeNode a:visited, /* THEMER: REMOVE LINE */ /* Theme designer needs to override studio's stylesheet, but running app does not need this */
#studio_designer.divinamisericordia .wmapproot a:visited,
.divinamisericordia  #wavemakerNode  .wmapproot a:visited {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	color: #474747;
	font-weight: normal;
  text-decoration:underline;
}
/* GROUP: Hover */
.divinamisericordia .wmapproot.WidgetThemerPage-demoPanelWithAppRoot > div > .wmlabel > .wmSizeNode a:hover, /* THEMER: REMOVE LINE */
.divinamisericordia  #wavemakerNode  .wmapproot a:hover,
.divinamisericordia  #wavemakerNode  .wmapproot a:hover:visited {
	color: #474747;
  text-decoration:underline;
}

/* GROUP: Links being Clicked */
.divinamisericordia .wmapproot.WidgetThemerPage-demoPanelWithAppRoot > div > .wmlabel > .wmSizeNode a:active, /* THEMER: REMOVE LINE */
.divinamisericordia  #wavemakerNode  .wmapproot a:active,
.divinamisericordia  #wavemakerNode  .wmapproot a:hover:active,
.divinamisericordia  #wavemakerNode  .wmapproot a:hover:visited:active {
	color: #474747;
  text-decoration:none;
}

/* GROUP: Disabled Links */
.divinamisericordia .wmapproot.WidgetThemerPage-demoPanelWithAppRoot > div > .Disabled.wmlabel > .wmSizeNode a, /* THEMER: REMOVE LINE */
.divinamisericordia  #wavemakerNode  .wmapproot .Disabled a,
.divinamisericordia .wmapproot.WidgetThemerPage-demoPanelWithAppRoot > div > .Disabled.wmlabel > .wmSizeNode a:hover, /* THEMER: REMOVE LINE */
.divinamisericordia  #wavemakerNode  .wmapproot .Disabled a:hover,
.divinamisericordia .wmapproot.WidgetThemerPage-demoPanelWithAppRoot > div > .Disabled.wmlabel > .wmSizeNode a:active, /* THEMER: REMOVE LINE */
.divinamisericordia  #wavemakerNode  .wmapproot .Disabled a:active,
.divinamisericordia .wmapproot.WidgetThemerPage-demoPanelWithAppRoot > div > .Disabled.wmlabel > .wmSizeNode a:hover:active, /* THEMER: REMOVE LINE */
.divinamisericordia  #wavemakerNode  .wmapproot .Disabled a:hover:active,
.divinamisericordia .wmapproot.WidgetThemerPage-demoPanelWithAppRoot > div > .Disabled.wmlabel > .wmSizeNode a:hover:visited:active, /* THEMER: REMOVE LINE */
.divinamisericordia  #wavemakerNode  .wmapproot .Disabled a:hover:visited:active {
  color: #999999;
}