
/* GROUP: Dialog Footer */
.linkapp_enreja .dialogfooter,
.linkapp_enreja .wmpagedialog-controlspanel {
	background-color: #666666;
	background-image: none;
	filter: none;
}

/* GROUP: Dialog Footer Buttons */
.linkapp_enreja .dialogfooter .wmbutton {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
    color: #FFFFFF; 
	font-weight: normal;
	background-color: #333333;
	background-image: none;
	filter: none;
/* 	box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
/* 	border-radius: 4px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 4px; // THEMER: DISABLED */
}

/* GROUP: Footer Buttons (Hover) */
.linkapp_enreja .dialogfooter .wmbutton:hover {
    color: #FFFFFF; 
	background-color: #444444;
	background-image: none;
	filter: none;
/* 	box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
}

/* GROUP: Footer Buttons (Active) */
.linkapp_enreja .dialogfooter button.wmbutton.toggleButtonDown,
.linkapp_enreja .dialogfooter .wmbutton.Active,
.linkapp_enreja .dialogfooter .wmbutton:active,
.linkapp_enreja .dialogfooter .wmbutton.Active:hover,
.linkapp_enreja .dialogfooter .wmbutton:active:hover {
    color: #FFFFFF; 
	background-color: #d9241a;
	background-image: none;
	filter: none;
/* 	box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
}

