/* GROUP: Bevel */
.linkapp_enreja .wmbevel {
	background-color: #666666;
	background-image: none;
	filter: none;
}

/* GROUP: Splitter */
/* NOTE: If you use gradients, then you can't use the horizontal and vertical images (which is important) */
.linkapp_enreja div.wmsplitter-h,
.linkapp_enreja div.wmsplitter-v {
	background-color: #666666; /* THEMER: NO BACKGROUND IMAGE */
}
/* GROUP: Splitter Hover */
.linkapp_enreja div.wmsplitter-h:hover,
.linkapp_enreja div.wmsplitter-v:hover {
	background-color: #666666; /* THEMER: NO BACKGROUND IMAGE */
}
/* GROUP: Splitter Horizontal Image */
.linkapp_enreja .wmsplitter-h {
	background: url(images/splitter_bg_h.png) no-repeat 50% 50%;
}

/* GROUP: Splitter Vertical Image */
.linkapp_enreja .wmsplitter-v {
	background: url(images/splitter_bg_v.png) no-repeat 50% 50%;
}
