/* GROUP: Tool tips */
.linkapp_enreja .AppToolTip {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	color: #333333;
  font-weight: bold;

	background-color: #fffecb;
	background-image: none;
	filter: none;

/* 	border-radius: 0px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 0px; // THEMER: DISABLED */
  box-shadow: 2px 2px 2px #666;
}