/* GROUP: Standard Button */
/* dijitReset needed for popupButton */
.linkapp_shamcey .wmbutton,
.linkapp_shamcey button.wmbutton, /* mostly to clobber .dj_ie .wmbutton in default/theme.css */
.linkapp_shamcey .wmbutton .dijitReset {
    font-family: Ubuntu, Helvetica, sans-serif;
	border: 1px solid #666666;
	border-radius: 3px;
	-webkit-border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    line-height: 12px;
/* 	text-shadow: 0 1px 0 #6a6969; // THEMER: DISABLED */
    vertical-align: middle;
    white-space: nowrap;
}
.linkapp_shamcey .wmbutton {
/* 	box-shadow: 1px 1px 2px black; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 1px 1px 2px black; // THEMER: DISABLED */
	background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(255, 255, 255)), color-stop(49%,#a0a0a0), to(#a0a0a0));
	background-image: -moz-linear-gradient(top, rgb(255, 255, 255) 0%,#a0a0a0 49%,#a0a0a0 100%);
	background-image: -o-linear-gradient(top, rgb(255, 255, 255) 0%,#a0a0a0 49%,#a0a0a0 100%);
	background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%,#a0a0a0 49%,#a0a0a0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(255, 255, 255)', endColorstr='#a0a0a0',GradientType=0);
}

/* GROUP: Hover State */
 .linkapp_shamcey   .wmbutton:hover {
 	color: #FFFFFF;
	font-weight: bold;
/* 	box-shadow: 1px 2px 3px #6e6e6e; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 1px 2px 3px #6e6e6e; // THEMER: DISABLED */
	background-color: #373737;
	background-image: none;
	filter: none;
}


/* GROUP: Active State */
/* button.wmbutton required instead of .wmbutton for IE8 */
.linkapp_shamcey   button.wmbutton.toggleButtonDown,
.linkapp_shamcey   .wmbutton.Active,
.linkapp_shamcey   .wmbutton.Active:hover,
.linkapp_shamcey   .wmbutton:active,
.linkapp_shamcey   .wmbutton:hover:active {
	color: #FFFFFF;
	font-weight: normal;
/* 	box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
	background-color: #0044cc;
	background-image: none;
	filter: none;
}

/* GROUP: Focus State */
/* NOTE: This occurs when the user tabs to the button.
  It may also occur when the user clicks the button */
.linkapp_shamcey   .wmbutton:focus {
/* 	outline: solid 1px #ffffff; // THEMER: DISABLED */
}

/* GROUP: Popup Menu */
.linkapp_shamcey .wmbutton.wmPopupButton .popupIcon {
   background-image: url(lib/wm/base/widget/themes/wm_default/images/comboArrowDownDark.png);
   background-position: 0% 50%;
}

/* GROUP: Disabled Button */
.linkapp_shamcey .Disabled.wmbutton,
.linkapp_shamcey .Disabled.wmbutton:hover,
.linkapp_shamcey .Disabled.wmbutton:active,
.linkapp_shamcey .Disabled.wmbutton:active:hover {
  color: #FFFFFF;
	font-weight: normal;
/* 	box-shadow: 2px 2px 2px #8a3535; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 2px 2px 2px #8a3535; // THEMER: DISABLED */
  background-color: #333333;
  background-image: none;
	opacity: 0.30;
}