/* GROUP: Dialog Frame */
.linkapp_shamcey .wmdialog {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 2px 2px 4px black;
	-webkit-box-shadow: 2px 2px 4px black;
}

/* GROUP: Dialog Container */
.linkapp_shamcey .wmdialog {
	background-color: rgb(240, 238, 238);
	background-image: none;
	filter: none;
	font-family: Ubuntu, Helvetica, sans-serif;
	font-size: 1em;
	color: #232323;
	font-weight: normal;
}

/* GROUP: Dialog Titlebar */
.linkapp_shamcey .dialogtitlebar .wmlabel{
	font-family: Ubuntu, Helvetica, sans-serif;
	font-size: 1em;
    color: #FFFFFF;
	font-weight: normal;
}

.linkapp_shamcey .dialogtitlebar {
	background-color: #0866c6;
	background-image: none;
	filter: none;
}


/* GROUP: Titlebar Buttons: Close Button */
.linkapp_shamcey .dialogtitlebar .dialogclosebutton {
    background-image: url(images/DialogIconsGray.png);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
}

/* GROUP: Titlebar Buttons: Minify Button */
.linkapp_shamcey .dialogtitlebar .dialogminifybutton {
    background-image: url(images/DialogIconsGray.png);
    background-position: -16px 0px;
    background-repeat: no-repeat;
}
/* GROUP: Titlebar Buttons: Maxify Button */
.linkapp_shamcey .dialogtitlebar .dialogmaxifybutton {
    background-image: url(images/DialogIconsGray.png);
    background-position: -32px 0px;
    background-repeat: no-repeat;
}
