/* GROUP: Menu Bar Styling */
.linkapp_shamcey .dojoMenu .dijitMenu,
.linkapp_shamcey .dojoMenu .dijitMenuBar,
.linkapp_shamcey .dojoMenu .dijitMenuItem {
/* 	font-family: Ubuntu, Helvetica, sans-serif; // THEMER: DISABLED */
	font-size: 1em;
	font-weight: normal;
	color: #d2d2d2;

	background-color: transparent;
	background-image: none;
	filter: none;
}

.linkapp_shamcey .dojoMenu .dijitMenuBar .dijitMenuItem {
	margin-right: 8px;
}

/* GROUP: Menu Bar Hover */
.linkapp_shamcey .dojoMenu .dijitMenuItem.dijitMenuItemHover {
	color: #ffffff;
/* 	background-color: rgb(210, 210, 210); // THEMER: DISABLED */
/* 	background-image: none; // THEMER: DISABLED */
/* 	filter: none; // THEMER: DISABLED */
/* 	outline-top: solid 1px ; // THEMER: DISABLED */
/* 	outline-right: solid 0px ; // THEMER: DISABLED */
/* 	outline-bottom: solid 1px #222222; // THEMER: DISABLED */
/* 	outline-left: solid 0px ; // THEMER: DISABLED */
}

/* GROUP: Menu Bar Select */
.linkapp_shamcey .dojoMenu .dijitMenuItem.dijitMenuItemSelected {
/* 	color: #222222; // THEMER: DISABLED */
/* 	background-color: transparent; // THEMER: DISABLED */
/* 	background-image: none; // THEMER: DISABLED */
/* 	filter: none; // THEMER: DISABLED */
/* 	outline-top: solid 1px #ffffff; // THEMER: DISABLED */
/* 	outline-right: solid 1px #ffffff; // THEMER: DISABLED */
/* 	outline-bottom: solid 1px #ffffff; // THEMER: DISABLED */
/* 	outline-left: solid 1px #ffffff; // THEMER: DISABLED */
}

/* GROUP: Horizontal Menu Bar Icon */
.linkapp_shamcey .dojoMenu div.dijitMenuBar div.dijitMenuItem {
/* 	background: url(images/comboArrowDownDark.png) no-repeat 90% 50% !important; // THEMER: DISABLED */
/* 	padding-right: 25px !important; // THEMER: DISABLED */
}

/* THEMER: DO NOT SUBCLASS START */
/* GROUP: Popup Menu Box */
.linkapp_shamcey .dijitMenuPopup .dijitMenuTable {
	background-color: #ffffff;
	background-image: none;
	filter: none;
	border-top: solid 1px rgb(153, 153, 153);
	border-right: solid 1px #999999;
	border-bottom: solid 1px #999999;
	border-left: solid 1px #999999;
}
.linkapp_shamcey .dijitMenuPopup {
	box-shadow: 3px 3px 5px #222222;
	-webkit-box-shadow: 3px 3px 5px #222222;
}

/* GROUP: Popup Menu Item */
.linkapp_shamcey .dijitPopup .dijitMenuTable .dijitMenuItem {
	font-size: 1em;
/* 	font-family: Ubuntu, Helvetica, sans-serif; // THEMER: DISABLED */
	color: #222222;
	font-weight: normal;
	background-color: transparent; /* THEMER: IGNORE */
	background-image: none; /* THEMER: IGNORE */
	filter: none; /* THEMER: IGNORE */
	border-top: solid 0px rgb(251, 251, 251);
	border-right: solid 0px rgb(251, 251, 251);
	border-bottom: solid 0px rgb(170, 170, 170);
	border-left: solid 0px rgb(251, 251, 251);
}

/* GROUP: Popup Menu Item Hover/Selected */
/* NOTE: There is no good way with dojo menus to distinguish between hover and select */
.linkapp_shamcey .dijitPopup .dijitMenu.dijitMenuTable .dijitMenuItem.dijitMenuItemFocused,
.linkapp_shamcey .dijitPopup .dijitMenu.dijitMenuTable .dijitMenuItem.dijitMenuItemSelected {
    color: #FFFFFF;
	background-color: #0866c6;
	background-image: none;
	filter: none;
    outline-width: 0;
}
/* THEMER: DO NOT SUBCLASS END */