.linkapp_shamcey  .wmapproot {
font-family: Ubuntu, Helvetica, sans-serif;
font-size: 12px;
color: #222222;
font-weight: normal;
}
.linkapp_shamcey .wmapproot > .wmpagecontainer,
.linkapp_shamcey.wmapproot > .wmpagecontainer,
.linkapp_shamcey #studio_designer > .wmlayout {
background-color: #ffffff;
background-image: none;
filter: none;
}
.dj_ie9 .linkapp_shamcey div,
.dj_ie9 .linkapp_shamcey input,
.dj_ie9 .linkapp_shamcey button {
border-radius: 0px !important;
}
.linkapp_shamcey .wmaccordion div.wmaccordion-header {
font-family: Ubuntu, Helvetica, sans-serif;
font-size: 1em;
color: #222222;
font-weight: normal;
background-image: -webkit-gradient(linear, center top, center bottom, from(#d2d2d2), color-stop(49%,rgb(160, 160, 160)), to(rgb(160, 160, 160)));
background-image: -moz-linear-gradient(top, #d2d2d2 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
background-image: -o-linear-gradient(top, #d2d2d2 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
background-image: -ms-linear-gradient(top, #d2d2d2 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2d2d2', endColorstr='rgb(160, 160, 160)',GradientType=0);
}
.linkapp_shamcey .wmaccordion div.wmaccordion-header.wmaccordion-collapsed {
color: #222222;
font-weight: normal;
background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(255, 255, 255)), color-stop(49%,rgb(160, 160, 160)), to(rgb(160, 160, 160)));
background-image: -moz-linear-gradient(top, rgb(255, 255, 255) 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
background-image: -o-linear-gradient(top, rgb(255, 255, 255) 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(255, 255, 255)', endColorstr='rgb(160, 160, 160)',GradientType=0);
}
.linkapp_shamcey div.wmaccordion .wmaccordion-header.wmaccordion-collapsed:hover {
color: #222222;
background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(255, 255, 255)), color-stop(49%,rgb(160, 160, 160)), to(rgb(160, 160, 160)));
background-image: -moz-linear-gradient(top, rgb(255, 255, 255) 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
background-image: -o-linear-gradient(top, rgb(255, 255, 255) 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(255, 255, 255)', endColorstr='rgb(160, 160, 160)',GradientType=0);
}
.linkapp_shamcey .wmaccordion .accordionArrowNode {
float: none !important;
position: absolute;
}
.linkapp_shamcey .wmaccordion .accordionArrowNode.accordionOnLeftArrowNode {
position: relative;
float: none;
}
.linkapp_shamcey .wmaccordion .wmaccordion-collapsed .accordionArrowNode {
}
.linkapp_shamcey .wmaccordion .wmlayer.wmaccordion-content {
background-color: #ffffff;
background-image: none;
filter: none;
}
.linkapp_shamcey .wmtablayers .wmtablayers-tab,
.linkapp_shamcey .wmtablayers button.wmtablayers-verticaltab {
font-family: Ubuntu, Helvetica, sans-serif;
color: #222222;
font-weight: normal;
font-size: 1em;
background-color: #ffffff;
background-image: none;
filter: none;
}
.linkapp_shamcey .wmtablayers .wmtablayers-tab {
border-top: solid 0px rgb(68, 68, 68);
border-right: solid 1px rgb(68, 68, 68);
border-bottom: solid 1px #444444;
border-left: solid 0px rgb(68, 68, 68);
}
.dj_ff .linkapp_shamcey .wmtablayers .wmtablayers-tab {
box-shadow: 0 0 0 black !important;
}
.linkapp_shamcey .wmtablayers-tab:first-child {
}
.linkapp_shamcey .wmtablayers .wmtablayers-verticaltab.wmtablayers-selected,
.linkapp_shamcey .wmtablayers .wmtablayers-verticaltab.wmtablayers-selected:hover,
.linkapp_shamcey .wmtablayers .wmtablayers-tab.wmtablayers-selected,
.linkapp_shamcey .wmtablayers .wmtablayers-tab.wmtablayers-selected:hover {
background-color: #2176cc;
background-image: none;
filter: none;
}
.linkapp_shamcey .wmtablayers .wmtablayers-tab.wmtablayers-selected,
.linkapp_shamcey .wmtablayers .wmtablayers-tab.wmtablayers-selected:hover {
}
.linkapp_shamcey .wmtablayers .wmtablayers-verticaltab:focus,
.linkapp_shamcey .wmtablayers .wmtablayers-tab:focus {
}
.linkapp_shamcey .wmtablayers .wmtablayers-tab:hover,
.linkapp_shamcey .wmtablayers .wmtablayers-verticaltab:hover {
color: #FFFFFF;
background-color: #2176cc;
background-image: none;
filter: none;
}
.linkapp_shamcey .wmtablayers .wmtablayers-tab:hover {
}
.linkapp_shamcey .wmtablayers .wmtablayers-tab:active,
.linkapp_shamcey .wmtablayers .wmtablayers-verticaltab:active,
.linkapp_shamcey .wmtablayers .wmtablayers-tab:active:.focus,
.linkapp_shamcey .wmtablayers .wmtablayers-verticaltab:active:focus {
color: #FFFFFF;
background-color: #444444;
background-image: none;
filter: none;
}
.linkapp_shamcey .wmtablayers .wmtablayers-tab:active,
.linkapp_shamcey .wmtablayers .wmtablayers-tab:active:focus {
box-shadow: 0px 0px 0px #444444;
}
.linkapp_shamcey .wmtablayers  .wmTabLayers-client > .wmlayer {
border-radius: 4px !important;
-webkit-border-radius: 4px !important;
}
.linkapp_shamcey .wmtablayers div.wmtablayers-tabbar {
}
.linkapp_shamcey .wmtablayers button.wmtablayers-verticaltab {
font-size: 1em;
width: 110px;
margin-left: 0;
margin-bottom: 0px;
border-top: solid 0px rgb(68, 68, 68);
border-right: solid 0px transparent;
border-bottom: solid 0px rgb(68, 68, 68);
border-left: solid 0px rgb(68, 68, 68);
}
.linkapp_shamcey .wmtablayers .wmtablayers-verticaltab:first-child {
margin-top: 0px;
}
.linkapp_shamcey .wmtablayers .wmtablayers-verticaltab:hover {
}
.linkapp_shamcey .wmtablayers .wmtablayers-verticaltab.wmtablayers-selected {
}
.linkapp_shamcey .wmtablayers .wmtablayers-verticaltab:active,
.linkapp_shamcey .wmtablayers .wmtablayers-verticaltab:active:focus {
}
.linkapp_shamcey .wmfancypanel .wmFancyPanel-containerWidget {
border-top-left-radius: 0px !important;
border-top-right-radius: 0px !important;
-webkit-border-top-left-radius: 0px !important;
-webkit-border-top-right-radius: 0px !important;
box-shadow: 0px 0px 0px black !important;
border-radius: 4px;
-webkit-border-radius: 4px;
background-color: white;
background-image: none;
filter: none;
}
.linkapp_shamcey .wmfancypanel .wmFancyPanel-labelWidget {
border-radius: 0px;
-webkit-border-radius: 0px;
font-family: Ubuntu, Helvetica, sans-serif;
font-size: 1em;
font-weight: normal;
color: #222222;
background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(210, 210, 210)), color-stop(49%,rgb(160, 160, 160)), to(rgb(160, 160, 160)));
background-image: -moz-linear-gradient(top, rgb(210, 210, 210) 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
background-image: -o-linear-gradient(top, rgb(210, 210, 210) 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
background-image: -ms-linear-gradient(top, rgb(210, 210, 210) 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(210, 210, 210)', endColorstr='rgb(160, 160, 160)',GradientType=0);
}
.linkapp_shamcey .wmbutton,
.linkapp_shamcey button.wmbutton,
.linkapp_shamcey .wmbutton .dijitReset {
font-family: Ubuntu, Helvetica, sans-serif;
border: 1px solid #666666;
border-radius: 3px;
-webkit-border-radius: 3px;
color: #fff;
cursor: pointer;
font-size: 1em;
font-weight: bold;
line-height: 12px;
vertical-align: middle;
white-space: nowrap;
}
.linkapp_shamcey .wmbutton {
background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(255, 255, 255)), color-stop(49%,#a0a0a0), to(#a0a0a0));
background-image: -moz-linear-gradient(top, rgb(255, 255, 255) 0%,#a0a0a0 49%,#a0a0a0 100%);
background-image: -o-linear-gradient(top, rgb(255, 255, 255) 0%,#a0a0a0 49%,#a0a0a0 100%);
background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%,#a0a0a0 49%,#a0a0a0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(255, 255, 255)', endColorstr='#a0a0a0',GradientType=0);
}
.linkapp_shamcey   .wmbutton:hover {
color: #FFFFFF;
font-weight: bold;
background-color: #373737;
background-image: none;
filter: none;
}
.linkapp_shamcey   button.wmbutton.toggleButtonDown,
.linkapp_shamcey   .wmbutton.Active,
.linkapp_shamcey   .wmbutton.Active:hover,
.linkapp_shamcey   .wmbutton:active,
.linkapp_shamcey   .wmbutton:hover:active {
color: #FFFFFF;
font-weight: normal;
background-color: #0044cc;
background-image: none;
filter: none;
}
.linkapp_shamcey   .wmbutton:focus {
}
.linkapp_shamcey .wmbutton.wmPopupButton .popupIcon {
background-image: url(lib/wm/base/widget/themes/wm_default/images/comboArrowDownDark.png);
background-position: 0% 50%;
}
.linkapp_shamcey .Disabled.wmbutton,
.linkapp_shamcey .Disabled.wmbutton:hover,
.linkapp_shamcey .Disabled.wmbutton:active,
.linkapp_shamcey .Disabled.wmbutton:active:hover {
color: #FFFFFF;
font-weight: normal;
background-color: #333333;
background-image: none;
opacity: 0.30;
}
.linkapp_shamcey .wmtogglebuttonpanel {
}
.linkapp_shamcey .wmtogglebuttonpanel .wmbutton:first-child {
}
.linkapp_shamcey .wmtogglebuttonpanel .wmbutton:last-child {
}
.linkapp_shamcey .wmapproot .wmtogglebuttonpanel .wmbutton {
}
.linkapp_shamcey .wmtogglebuttonpanel .wmbutton {
font-family: Ubuntu, Helvetica, sans-serif;
font-size: 1em;
color: #d2d2d2;
font-weight: normal;
background-color: #222222;
background-image: none;
filter: none;
}
.linkapp_shamcey .wmtogglebuttonpanel .wmbutton.toggleButtonDown {
font-family: Ubuntu, Helvetica, sans-serif;
font-size: 1em;
color: #ffffff;
font-weight: normal;
background-color: #0866c6;
background-image: none;
filter: none;
}
.linkapp_shamcey .wmeditor .dijitTextBox,
.linkapp_shamcey .wmeditor .dijitTextArea,
.linkapp_shamcey .wmeditor .dijitComboBox,
.linkapp_shamcey .wmeditor .dijitSelect .dijitButtonContents,
.linkapp_shamcey .dijitTimePickerItem,
.linkapp_shamcey .wmeditor .RichTextEditable iframe {
border: solid 1px #999999;
font-family: Ubuntu, Helvetica, sans-serif;
font-size: 1em;
color: #000;
font-weight: normal;
background-color: #ffffff;
background-image: none;
box-sizing: border-box;
filter: none;
padding: 2px;
vertical-align: middle;
line-height: 1.25;
}
.linkapp_shamcey  .wmeditor .dijitTextBox,
.linkapp_shamcey  .wmeditor .dijitTextArea,
.linkapp_shamcey  .wmeditor .dijitComboBox,
-webkit-border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
}
.linkapp_shamcey .dijitTimePickerMarker.dijitTimePickerMarkerHover,
.linkapp_shamcey .dijitTimePickerItem.dijitTimePickerItemHover,
.linkapp_shamcey .wmeditor .dijitTextBox.dijitHover,
.linkapp_shamcey .wmeditor .dijitTextArea:hover,
.linkapp_shamcey .wmeditor .dijitComboBox.dijitHover,
.linkapp_shamcey .wmeditor .dijitSelect.dijitHover .dijitButtonContents,
.linkapp_shamcey .wmeditor .RichTextEditable:hover iframe {
border: solid 0px #0866c6;
}
.linkapp_shamcey .wmeditor .dijitTextBox.dijitFocused,
.linkapp_shamcey .wmeditor .dijitTextBox.dijitFocused.dijitHover,
.linkapp_shamcey .wmeditor .dijitTextArea.dijitFocused,
.linkapp_shamcey .wmeditor .dijitTextArea.dijitFocused:hover,
.linkapp_shamcey .wmeditor .dijitComboBox.dijitFocused,
.linkapp_shamcey .wmeditor .dijitComboBox.dijitFocused.dijitHover,
.linkapp_shamcey .wmeditor .dijitSelect.dijitFocused .dijitButtonContents,
.linkapp_shamcey .wmeditor .dijitSelect.dijitFocused.dijitHover .dijitButtonContents,
.linkapp_shamcey .isDirty.wmeditor .dijitTextBox.dijitFocused,
.linkapp_shamcey .isDirty.wmeditor .dijitTextArea.dijitFocused,
.linkapp_shamcey .isDirty.wmeditor .dijitComboBox.dijitFocused,
.linkapp_shamcey .wmeditor .RichTextEditable.Focused iframe {
border: solid 0px #0866c6;
background-color: #ffffff;
background-image: none;
filter: none;
}
.linkapp_shamcey .isDirty.wmeditor .dijitTextBox,
.linkapp_shamcey .isDirty.wmeditor .dijitTextArea,
.linkapp_shamcey .isDirty.wmeditor .dijitComboBox {
}
.linkapp_shamcey .wmeditor .dijitError.dijitTextBox,
.linkapp_shamcey .wmeditor .dijitError.dijitTextArea,
.linkapp_shamcey .wmeditor .dijitError.dijitComboBox,
.linkapp_shamcey .wmeditor .dijitError.isDirty.dijitTextBox,
.linkapp_shamcey .wmeditor .dijitError.isDirty.dijitTextArea,
.linkapp_shamcey .wmeditor .dijitError.isDirty.dijitComboBox
{
border-color: #666666;
background-color: #F9F7BA;
background-image: none;
filter: none;
}
.linkapp_shamcey .wmeditor .wmeditor-caption {
font-family: Ubuntu, Helvetica, sans-serif;
font-size: 1em;
color: #333333;
font-weight: normal;
}
.linkapp_shamcey .wmeditor .wmeditor-readonlyNode {
font-family: Ubuntu, Helvetica, sans-serif;
font-size: 1em;
color: ;
font-weight: normal;
}
.linkapp_shamcey .wmeditor .dijitSpinner .dijitArrowButton,
.linkapp_shamcey .wmeditor .dijitComboBox .dijitArrowButton,
.linkapp_shamcey .wmeditor .dijitSelect .dijitArrowButton {
background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(170, 170, 170)), color-stop(52%,rgb(102, 102, 102)), to(rgb(102, 102, 102)));
background-image: -moz-linear-gradient(top, rgb(170, 170, 170) 0%,rgb(102, 102, 102) 52%,rgb(102, 102, 102) 100%);
background-image: -o-linear-gradient(top, rgb(170, 170, 170) 0%,rgb(102, 102, 102) 52%,rgb(102, 102, 102) 100%);
background-image: -ms-linear-gradient(top, rgb(170, 170, 170) 0%,rgb(102, 102, 102) 52%,rgb(102, 102, 102) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(170, 170, 170)', endColorstr='rgb(102, 102, 102)',GradientType=0);
}
.linkapp_shamcey .dijitComboBox .dijitArrowButton .dijitArrowButtonInner,
.linkapp_shamcey .dijitSelect .dijitArrowButton .dijitArrowButtonInner,
.linkapp_shamcey .wmeditor .dijitComboBox .dijitArrowButton,
.linkapp_shamcey .wmeditor .dijitSelect .dijitArrowButton,
.linkapp_shamcey .wmeditor .dijitComboBox .dijitArrowButton .dijitArrowButtonInner,
.linkapp_shamcey .wmeditor .dijitSelect .dijitArrowButton .dijitArrowButtonInner {
}
.linkapp_shamcey .wmeditor .dijitSpinner .dijitArrowButton:hover,
.linkapp_shamcey .wmeditor .dijitComboBox .dijitArrowButton:hover,
.linkapp_shamcey .wmeditor .dijitSelect .dijitArrowButton:hover {
}
.linkapp_shamcey .wmeditor .dijitSpinner .dijitArrowButton:active,
.linkapp_shamcey .wmeditor .dijitComboBox .dijitArrowButton:active,
.linkapp_shamcey .wmeditor .dijitSelect .dijitArrowButton:active {
}
.linkapp_shamcey .dijitComboBox .dijitArrowButton .dijitArrowButtonInner,
.linkapp_shamcey .dijitSelect .dijitArrowButton .dijitArrowButtonInner,
.linkapp_shamcey .wmeditor .dijitComboBox .dijitArrowButton .dijitArrowButtonInner,
.linkapp_shamcey .wmeditor .dijitSelect .dijitArrowButton .dijitArrowButtonInner {
background-position: 50% 50%;
background-image: url(images/comboArrowDownLight.png);
}
.linkapp_shamcey .wmeditor .dijitSpinner .dijitArrowButton .dijitArrowButtonInner {
background-position: 30% 30%;
background-image: url(images/comboArrowDownLight.png);
}
.linkapp_shamcey .wmeditor .dijitSpinner .dijitArrowButton.dijitUpArrowButton .dijitArrowButtonInner {
background-image: url(images/comboArrowUpLight.png);
}
.linkapp_shamcey .wmeditor .dijitSlider .dijitSliderImageHandleH {
background: url(images/preciseSliderThumb.png) no-repeat 50% 0%;
outline-width: 0;
}
.linkapp_shamcey .wmeditor .dijitSlider .dijitSliderProgressBarH,
.linkapp_shamcey .wmeditor .dijitSlider .dijitSliderLeftBumper,
.linkapp_shamcey .wmeditor .dijitSliderFocused.dijitSlider .dijitSliderProgressBarH,
.linkapp_shamcey .wmeditor .dijitSliderFocused.dijitSlider .dijitSliderLeftBumper {
background-color: #0866c6;
background-image: none;
filter: none;
}
.linkapp_shamcey .wmeditor .dijitSlider .dijitSliderRemainingBarH,
.linkapp_shamcey .wmeditor .dijitSlider .dijitSliderRightBumper,
.linkapp_shamcey .wmeditor .dijitSliderFocused.dijitSlider .dijitSliderRemainingBarH,
.linkapp_shamcey .wmeditor .dijitSliderFocused.dijitSlider .dijitSliderRightBumper {
background-color: #666666;
background-image: none;
filter: none;
}
.linkapp_shamcey .GridListStyle .wmlist {
font-size: 1em;
}
.linkapp_shamcey .GridListStyle  .wmlist-cell{
border-style: inherit;
border-width: 1px;
border-color: rgb(153, 153, 153);
border-bottom: 1px solid #e3e3e3;
font-size: 1em;
cursor: pointer;
}
.linkapp_shamcey .GridListStyle div.wmlist-item,
.linkapp_shamcey .GridListStyle.Disabled div.wmlist-item.wmlist-item-over  {
font-family: Ubuntu, Helvetica, sans-serif;
font-weight: normal;
}
.linkapp_shamcey .GridListStyle div.wmlist-item,
}
.linkapp_shamcey .GridListStyle.Disabled div.wmlist-item.Odd.wmlist-item-over,
.linkapp_shamcey .GridListStyle.Disabled div.wmlist-item.Odd.wmlist-item-selected,
.linkapp_shamcey .GridListStyle .wmlist-item.Odd {
background-color: #f3f3f3;
background-image: none;
filter: none;
}
.linkapp_shamcey .GridListStyle .wmlist-item.wmlist-item-selected,
.linkapp_shamcey .GridListStyle.Disabled .wmlist-item.wmlist-item-selected,
.linkapp_shamcey .GridListStyle .wmlist-item.wmlist-item-selected.wmlist-item-over {
background-color: #dddddd;
background-image: none;
filter: none;
}
.linkapp_shamcey .GridListStyle .wmlist-item.wmlist-item-over{
background-color: #dddddd;
background-image: none;
filter: none;
color: #000000;
}
.linkapp_shamcey .GridListStyle .wmlist-header th{
cursor: pointer;
border-top: solid 0px rgb(251, 251, 251);
border-right: solid 0px rgb(170, 170, 170);
border-bottom: solid 0px rgb(102, 102, 102);
border-left: solid 0px rgb(251, 251, 251);
font-weight: bold;
text-align: left;
font-size: 1em;
text-transform: uppercase;
padding: 2px 4px;
height: 32px;
}
.linkapp_shamcey .GridListStyle .wmlist-header .wmlist-cell{
}
.linkapp_shamcey .GridListStyle .wmlist-header{
background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), color-stop(77%,#d2d2d2), to(#d2d2d2));
background-image: -moz-linear-gradient(top, #ffffff 0%,#d2d2d2 77%,#d2d2d2 100%);
background-image: -o-linear-gradient(top, #ffffff 0%,#d2d2d2 77%,#d2d2d2 100%);
background-image: -ms-linear-gradient(top, #ffffff 0%,#d2d2d2 77%,#d2d2d2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d2d2d2',GradientType=0);
}
.linkapp_shamcey .GridListStyle .wmlist-header th{
background: transparent none !important;
font-family: Ubuntu, Helvetica, sans-serif;
color: #3a3939;
font-weight: normal;
}
.linkapp_shamcey .GridListStyle .wmlist-cell {
padding: 4px 8px;
}
.linkapp_shamcey .MobileListStyle div.wmlist-item,
.linkapp_shamcey .Disabled.MobileListStyle div.wmlist-item,
.linkapp_shamcey .Disabled.MobileListStyle div.wmlist-item.wmlist-item-over {
border-radius: 4px;
margin: 5px;
background-color: #0866c6;
background-image: none;
filter: none;
color: #d2d2d2;
font-family: Ubuntu, Helvetica, sans-serif;
min-height: 24px;
}
.linkapp_shamcey .wmlist.MobileListStyle td.wmlist-cell {
border-style: solid;
border-color: #AAAAAA;
border-width: 0px;
}
.linkapp_shamcey .MobileListStyle div.wmlist-item.wmlist-item-over,
.linkapp_shamcey .MobileListStyle div.wmlist-item.Odd.wmlist-item-over {
background-color: #555555;
color: #FFFFFF;
}
.linkapp_shamcey .MobileListStyle div.wmlist-item.wmlist-item-selected,
.linkapp_shamcey .MobileListStyle div.wmlist-item.Odd.wmlist-item-selected,
.linkapp_shamcey .MobileListStyle div.wmlist-item.wmlist-item-selected.wmlist-item-over,
.linkapp_shamcey .MobileListStyle div.wmlist-item.Odd.wmlist-item-selected.wmlist-item-over {
background-color: #333333;
color: #FFFFFF;
}
.linkapp_shamcey .wmprogressbar .dijitProgressBar {
border: solid 1px black;
}
.linkapp_shamcey .wmprogressbar .dijitProgressBarLabel {
font-family: Ubuntu, Helvetica, sans-serif;
font-size: 1em;
color: #FFFFFF;
font-weight: normal;
}
.linkapp_shamcey .wmprogressbar .dijitProgressBar {
background-color: rgb(68, 68, 68);
background-image: none;
filter: none;
}
.linkapp_shamcey .wmprogressbar .dijitProgressBarFull {
background-color: rgb(68, 68, 68);
background-image: -webkit-gradient(linear, center top, center bottom, from(#c4c4cb), color-stop(20%,#5c5d60), to(#5c5d60));
background-image: -moz-linear-gradient(top, #c4c4cb 0%,#5c5d60 20%,#5c5d60 100%);
background-image: -o-linear-gradient(top, #c4c4cb 0%,#5c5d60 20%,#5c5d60 100%);
background-image: -ms-linear-gradient(top, #c4c4cb 0%,#5c5d60 20%,#5c5d60 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4cb', endColorstr='#5c5d60',GradientType=0);
border-right: solid 1px black;
border-top: solid 0px black;
border-bottom: solid 0px black;
border-left: solid 0px black;
}
.linkapp_shamcey .wmprogressbar .dijitProgressBarTile {
background-image: inherit;
background-color: inherit;
}
.linkapp_shamcey .wmbevel {
background-color: #444444;
}
.linkapp_shamcey div.wmsplitter-h,
.linkapp_shamcey div.wmsplitter-v {
background-color: #444444;
}
.linkapp_shamcey div.wmsplitter-h:hover,
.linkapp_shamcey div.wmsplitter-v:hover {
background-color: #444444;
}
.linkapp_shamcey .wmsplitter-h {
background: url(images/splitter_bg_h.png) no-repeat 50% 50%;
}
.linkapp_shamcey .wmsplitter-v {
background: url(images/splitter_bg_v.png) no-repeat 50% 50%;
}
.linkapp_shamcey .dijitCalendarDayLabel,
.linkapp_shamcey .dijitCalendarDateLabel {
font-size: 1em;
}
.linkapp_shamcey table.dijitCalendarContainer td.dijitCalendarCurrentMonth {
background-color: #f8f8f8 !important;
background-image: none !important;
filter: none !important;
color: #030000;
}
.linkapp_shamcey .dijitCalendarBodyContainer td {
border-top: solid 1px #ccc;
border-right: solid 1px #ccc;
border-bottom: solid 0px rgb(102, 102, 102);
border-left: solid 0px rgb(102, 102, 102);
}
.linkapp_shamcey .dijitCalendarContainer td.dijitCalendarSelectedDate,
.linkapp_shamcey .dijitCalendarContainer td.dijitCalendarSelectedDate.dijitCalendarCurrentMonth {
background-color: #0866c6 !important;
background-image: none !important;
filter: none !important;
color: #e2e2d4 !important;
}
.linkapp_shamcey .dijitCalendarContainer td.dijitCalendarHoveredDate,
.linkapp_shamcey .dijitCalendarContainer td.dijitCalendarHoveredDate.dijitCalendarCurrentMonth,
.linkapp_shamcey .dijitCalendarContainer .dijitCalendarHoveredYear,
.linkapp_shamcey .dijitCalendarContainer .dijitCalendarNextYear:hover,
.linkapp_shamcey .dijitCalendarContainer .dijitCalendarPreviousYear:hover {
background-color: #908a8a !important;
background-image: none !important;
filter: none !important;
color: #ebebe2;
}
.linkapp_shamcey .dijitCalendarContainer .dijitCalendarPreviousMonth,
.linkapp_shamcey .dijitCalendarContainer .dijitCalendarNextMonth {
background-color: #655f5f !important;
background-image: none !important;
filter: none !important;
color: #bab0b0;
}
.linkapp_shamcey .dijitCalendarContainer .dijitCalendarDayLabelTemplate {
background-color: #655f5f !important;
background-image: none !important;
filter: none !important;
color: #bab0b0;
}
.linkapp_shamcey tr.dijitCalendarMonthContainer th {
background-image: -webkit-gradient(linear, center top, center bottom, from(#0866c6), color-stop(51%,#0866ff), to(#0866ff));
background-image: -moz-linear-gradient(top, #0866c6 0%,#0866ff 51%,#0866ff 100%);
background-image: -o-linear-gradient(top, #0866c6 0%,#0866ff 51%,#0866ff 100%);
background-image: -ms-linear-gradient(top, #0866c6 0%,#0866ff 51%,#0866ff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0866c6', endColorstr='#0866ff',GradientType=0);
}
.linkapp_shamcey tr.dijitCalendarMonthContainer th {
font-family: Ubuntu, Helvetica, sans-serif;
font-size: 1em;
color: #f3e6e6;
font-weight: bold;
}
.linkapp_shamcey tr.dijitCalendarMonthContainer th .dijitCalendarMonthLabel {
font-family: Ubuntu, Helvetica, sans-serif;
font-size: 1em;
color: #FFFFFF;
font-weight: bold;
border: solid 0px rgb(251, 251, 251);
box-shadow: 0px 0px 0px black;
}
.linkapp_shamcey table.dijitCalendarContainer {
border: solid 2px rgb(102, 102, 102);
border-radius: 4px;
-webkit-border-radius: 4px;
}
.linkapp_shamcey .wmapproot a,
.linkapp_shamcey  #wavemakerNode  .wmapproot a,
#studio_designer.linkapp_shamcey .wmapproot a:visited,
.linkapp_shamcey  #wavemakerNode  .wmapproot a:visited {
font-family: Ubuntu, Helvetica, sans-serif;
font-size: 1em;
color: #336699;
font-weight: normal;
text-decoration:underline;
}
.linkapp_shamcey  #wavemakerNode  .wmapproot a:hover,
.linkapp_shamcey  #wavemakerNode  .wmapproot a:hover:visited {
color: #336699;
text-decoration:underline;
}
.linkapp_shamcey  #wavemakerNode  .wmapproot a:active,
.linkapp_shamcey  #wavemakerNode  .wmapproot a:hover:active,
.linkapp_shamcey  #wavemakerNode  .wmapproot a:hover:visited:active {
color: #336699;
text-decoration:none;
}
.linkapp_shamcey  #wavemakerNode  .wmapproot .Disabled a,
.linkapp_shamcey  #wavemakerNode  .wmapproot .Disabled a:hover,
.linkapp_shamcey  #wavemakerNode  .wmapproot .Disabled a:active,
.linkapp_shamcey  #wavemakerNode  .wmapproot .Disabled a:hover:active,
.linkapp_shamcey  #wavemakerNode  .wmapproot .Disabled a:hover:visited:active {
color: #999999;
}
.linkapp_shamcey .dojoxPortlet div.dijitTitlePaneTitle {
font-family: Ubuntu, Helvetica, sans-serif;
font-size: 1em;
font-weight: normal;
min-height: 22px;
line-height: 22px;
padding-left: 10px;
}
.linkapp_shamcey .dojoxPortlet div.dijitTitlePaneTitle .dijitTitlePaneTextNode {
color: #333333;
}
.linkapp_shamcey .dojoxPortlet {
border: solid 1px #949494;
border-radius: 4px;
}
.linkapp_shamcey .dojoxPortlet div.dijitTitlePaneTitle {
background-color: #E8E9EA;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom: solid 1px #949494;
}
.linkapp_shamcey .dojoxPortlet div.dijitTitlePaneTitle .dojoxPortletIcon {
border-color: #333333;
width: 16px;
height: 20px;
margin-right: 4px;
}
.linkapp_shamcey .dojoxPortlet div.dijitTitlePaneTitle .dojoxPortletIcon.dojoxCloseNode {
background-image: url(images/DialogIconsGray.png);
background-position: 0px 0px;
position: relative;
top: 3px;
height: 16px;
}
.linkapp_shamcey .dojoxPortlet div.dijitTitlePaneTitle .dojoxPortletIcon.dojoxCloseNode:hover {
}
.linkapp_shamcey .dojoxPortlet div.dijitTitlePaneTitle .dojoxPortletIcon.dojoxArrowDown {
background-image: url(images/DialogIconsGray.png);
position: relative;
top: 3px;
height: 16px;
background-position: -16px 0px;
}
.linkapp_shamcey .dojoxPortlet div.dijitTitlePaneTitle .dojoxPortletIcon.dojoxArrowDown:hover {
}
.linkapp_shamcey .dojoxPortlet div.dijitTitlePaneTitle.dijitClosed .dojoxPortletIcon.dojoxArrowDown {
background-image: url(images/DialogIconsGray.png);
background-position: -32px 0px;
}
.linkapp_shamcey .dojoxPortlet div.dijitTitlePaneTitle.dijitClosed .dojoxPortletIcon.dojoxArrowDown:hover {
}
.linkapp_shamcey .wmdialog {
border-radius: 3px;
-webkit-border-radius: 3px;
box-shadow: 2px 2px 4px black;
-webkit-box-shadow: 2px 2px 4px black;
}
.linkapp_shamcey .wmdialog {
background-color: rgb(240, 238, 238);
background-image: none;
filter: none;
font-family: Ubuntu, Helvetica, sans-serif;
font-size: 1em;
color: #232323;
font-weight: normal;
}
.linkapp_shamcey .dialogtitlebar .wmlabel{
font-family: Ubuntu, Helvetica, sans-serif;
font-size: 1em;
color: #FFFFFF;
font-weight: normal;
}
.linkapp_shamcey .dialogtitlebar {
background-color: #0866c6;
background-image: none;
filter: none;
}
.linkapp_shamcey .dialogtitlebar .dialogclosebutton {
background-image: url(images/DialogIconsGray.png);
background-repeat: no-repeat;
background-repeat: no-repeat;
}
.linkapp_shamcey .dialogtitlebar .dialogminifybutton {
background-image: url(images/DialogIconsGray.png);
background-position: -16px 0px;
background-repeat: no-repeat;
}
.linkapp_shamcey .dialogtitlebar .dialogmaxifybutton {
background-image: url(images/DialogIconsGray.png);
background-position: -32px 0px;
background-repeat: no-repeat;
}
.linkapp_shamcey .dialogfooter,
.linkapp_shamcey .wmpagedialog-controlspanel {
background-color: #232323;
background-image: none;
filter: none;
}
.linkapp_shamcey .dialogfooter .wmbutton {
font-family: Ubuntu, Helvetica, sans-serif;
border: 1px solid #666666;
border-radius: 3px;
-webkit-border-radius: 3px;
color: #fff;
cursor: pointer;
font-size: 1em;
font-weight: normal;
line-height: 12px;
vertical-align: middle;
white-space: nowrap;
}
.linkapp_shamcey .dialogfooter .wmbutton:hover {
color: #FFFFFF;
font-weight: normal;
background-color: #373737;
background-image: none;
filter: none;
}
.linkapp_shamcey .dialogfooter button.wmbutton.toggleButtonDown,
.linkapp_shamcey .dialogfooter .wmbutton.Active,
.linkapp_shamcey .dialogfooter .wmbutton:active,
.linkapp_shamcey .dialogfooter .wmbutton.Active:hover,
.linkapp_shamcey .dialogfooter .wmbutton:active:hover {
color: #FFFFFF;
background-color: #444444;
background-image: none;
filter: none;
}
.linkapp_shamcey .dojoMenu .dijitMenu,
.linkapp_shamcey .dojoMenu .dijitMenuBar,
.linkapp_shamcey .dojoMenu .dijitMenuItem {
font-size: 1em;
font-weight: normal;
color: #d2d2d2;
background-color: transparent;
background-image: none;
filter: none;
}
.linkapp_shamcey .dojoMenu .dijitMenuBar .dijitMenuItem {
margin-right: 8px;
}
.linkapp_shamcey .dojoMenu .dijitMenuItem.dijitMenuItemHover {
color: #ffffff;
}
.linkapp_shamcey .dojoMenu .dijitMenuItem.dijitMenuItemSelected {
}
.linkapp_shamcey .dojoMenu div.dijitMenuBar div.dijitMenuItem {
}
.linkapp_shamcey .dijitMenuPopup .dijitMenuTable {
background-color: #ffffff;
background-image: none;
filter: none;
border-top: solid 1px rgb(153, 153, 153);
border-right: solid 1px #999999;
border-bottom: solid 1px #999999;
border-left: solid 1px #999999;
}
.linkapp_shamcey .dijitMenuPopup {
box-shadow: 3px 3px 5px #222222;
-webkit-box-shadow: 3px 3px 5px #222222;
}
.linkapp_shamcey .dijitPopup .dijitMenuTable .dijitMenuItem {
font-size: 1em;
color: #222222;
font-weight: normal;
background-color: transparent;
background-image: none;
filter: none;
border-top: solid 0px rgb(251, 251, 251);
border-right: solid 0px rgb(251, 251, 251);
border-bottom: solid 0px rgb(170, 170, 170);
border-left: solid 0px rgb(251, 251, 251);
}
.linkapp_shamcey .dijitPopup .dijitMenu.dijitMenuTable .dijitMenuItem.dijitMenuItemFocused,
.linkapp_shamcey .dijitPopup .dijitMenu.dijitMenuTable .dijitMenuItem.dijitMenuItemSelected {
color: #FFFFFF;
background-color: #0866c6;
background-image: none;
filter: none;
outline-width: 0;
}
.linkapp_shamcey .dijitPopup .dijitCalendarMonthMenu,
.linkapp_shamcey  ul.dijitMenu {
background-color: #ffffff;
background-image: none;
filter: none;
border-top: solid 1px rgb(153, 153, 153);
border-right: solid 1px black;
border-bottom: solid 1px black;
border-left: solid 1px black;
box-shadow: 3px 3px 4px black;
}
.linkapp_shamcey .dijitPopup .dijitCalendarMonthLabel,
.linkapp_shamcey  ul.dijitMenu .dijitMenuItem {
padding: 4px 5px;
text-align: left;
font-size: 1em;
font-family: Ubuntu, Helvetica, sans-serif;
color: #444444;
font-weight: normal;
background-color: transparent;
border-top: solid 0px rgb(251, 251, 251);
border-right: solid 0px rgb(251, 251, 251);
border-bottom: solid 0px rgb(170, 170, 170);
border-left: solid 0px rgb(251, 251, 251);
}
.linkapp_shamcey .dijitPopup .dijitCalendarMonthLabel .dijitMenuItemSelected,
.linkapp_shamcey  ul.dijitMenu .dijitMenuItem.dijitMenuItemSelected {
color: #0866c6;
background-color: transparent;
border-top: solid 0px rgb(251, 251, 251);
border-right: solid 0px rgb(251, 251, 251);
border-bottom: solid 0px rgb(170, 170, 170);
border-left: solid 0px rgb(251, 251, 251);
}
.linkapp_shamcey .AppToolTip {
font-family: Ubuntu, Helvetica, sans-serif;
font-size: 1em;
color: black;
font-weight: bold;
background-color: #FFFECB;
background-image: none;
filter: none;
border-radius: 0px;
-webkit-border-radius: 0px;
box-shadow: 2px 2px 2px #666;
}
html.WMApp .linkapp_shamcey div.wmtoast.wmtoastExtraSpecific {
background-color: rgb(40,40,40);
background-image: none;
filter: none;
-webkit-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 3px 4px 4px #222;
box-shadow: 3px 4px 4px #222;
}
.linkapp_shamcey .wmtoast .wmtoastmessage {
font-family: Ubuntu, Helvetica, sans-serif;
font-size: 1em;
color: black;
font-weight: bold;
}
html.WMApp .linkapp_shamcey div.wmtoast.Success.wmtoastExtraSpecific {
background-color: #ffffff;
background-image: none;
filter: none;
}
.linkapp_shamcey .wmtoast .wmtoasttitle,
.linkapp_shamcey .wmtoast.Success .wmtoastmessage {
color: black;
}
.linkapp_shamcey .wmtoast.Success .ToastLeft {
background: url(images/OK.png) 0% 0%;
}
html.WMApp .linkapp_shamcey div.wmtoast.Warning.wmtoastExtraSpecific {
background-color: #ffffff;
background-image: none;
filter: none;
}
.linkapp_shamcey .wmtoast .wmtoasttitle,
.linkapp_shamcey .wmtoast.Warning .wmtoastmessage {
color: black;
}
.linkapp_shamcey .wmtoast.Warning .ToastLeft {
background-image: url(images/Caution.png);
}
html.WMApp .linkapp_shamcey div.wmtoast.Error.wmtoastExtraSpecific {
background-color: #ffffff;
background-image: none;
filter: none;
}
.linkapp_shamcey .wmtoast .wmtoasttitle,
.linkapp_shamcey .wmtoast.Error .wmtoastmessage {
color: black;
}
.linkapp_shamcey .wmtoast.Error .ToastLeft {
background-image: url(images/Close.png);
}
html.WMApp .linkapp_shamcey div.wmtoast.Info.wmtoastExtraSpecific {
background-color: #ffffff;
background-image: none;
filter: none;
}
.linkapp_shamcey .wmtoast .wmtoasttitle,
.linkapp_shamcey .wmtoast.Info .wmtoastmessage {
color: black;
}
.linkapp_shamcey .wmtoast.Info .ToastLeft {
background-image: url(images/Help\ Circle.png);
}
.linkapp_shamcey .wmtoast .wmtoasttitle {
font-family: Ubuntu, Helvetica, sans-serif;
font-size: 1em;
color: black;
font-weight: bold;
}
.wmtoastExtraSpecific.fadeInAnim {
-webkit-animation-name: toastFadeInKeyFrames;
-moz-animation-name: toastFadeInKeyFrames;
animation-name: toastFadeInKeyFrames;
}
@keyframes toastFadeInKeyFrames {
0% {
opacity: 0;
}
100% {
opacity: 0.9;
}
}
html.WMApp .linkapp_shamcey div.wmtoast.wmtoastExtraSpecific {
opacity: 0.9;
}