 /***** START SECTION: Main Document *****/
/* GROUP: Main Document Styles */
.linkapp_shamcey  .wmapproot {
	font-family: Ubuntu, Helvetica, sans-serif;
	font-size: 12px;
	color: #222222;
	font-weight: normal;
}
.linkapp_shamcey .wmapproot > .wmpagecontainer,
.linkapp_shamcey.wmapproot > .wmpagecontainer,
.linkapp_shamcey #studio_designer > .wmlayout {
/* 	border-radius: 4px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 4px; // THEMER: DISABLED */
/* 	box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
	background-color: #ffffff;
	background-image: none;
	filter: none;
}

/* IE9 has buggy display when combinding both gradients and radius.
 * Gradients and not radius work on IE8, so we'll just do it the IE 8 way */
.dj_ie9 .linkapp_shamcey div,
.dj_ie9 .linkapp_shamcey input,
.dj_ie9 .linkapp_shamcey button {
   border-radius: 0px !important; /* THEMER: HIDE */
}
/***** END SECTION: Main Document *****//***** START SECTION: Accordions *****/

/* GROUP: Accordion Header */
.linkapp_shamcey .wmaccordion div.wmaccordion-header {
	font-family: Ubuntu, Helvetica, sans-serif;
	font-size: 1em;
	color: #222222;
	font-weight: normal;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#d2d2d2), color-stop(49%,rgb(160, 160, 160)), to(rgb(160, 160, 160)));
	background-image: -moz-linear-gradient(top, #d2d2d2 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
	background-image: -o-linear-gradient(top, #d2d2d2 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
	background-image: -ms-linear-gradient(top, #d2d2d2 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2d2d2', endColorstr='rgb(160, 160, 160)',GradientType=0);
/* 	border-radius: 4px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 4px; // THEMER: DISABLED */
}

/* GROUP: Closed Header */
.linkapp_shamcey .wmaccordion div.wmaccordion-header.wmaccordion-collapsed {
	color: #222222;
	font-weight: normal;
	background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(255, 255, 255)), color-stop(49%,rgb(160, 160, 160)), to(rgb(160, 160, 160)));
	background-image: -moz-linear-gradient(top, rgb(255, 255, 255) 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
	background-image: -o-linear-gradient(top, rgb(255, 255, 255) 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
	background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(255, 255, 255)', endColorstr='rgb(160, 160, 160)',GradientType=0);
}

/* GROUP: Header Hover */
.linkapp_shamcey div.wmaccordion .wmaccordion-header.wmaccordion-collapsed:hover {
	color: #222222;
	background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(255, 255, 255)), color-stop(49%,rgb(160, 160, 160)), to(rgb(160, 160, 160)));
	background-image: -moz-linear-gradient(top, rgb(255, 255, 255) 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
	background-image: -o-linear-gradient(top, rgb(255, 255, 255) 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
	background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(255, 255, 255)', endColorstr='rgb(160, 160, 160)',GradientType=0);
}



/* GROUP: Accordion Arrow (Selected) */
.linkapp_shamcey .wmaccordion .accordionArrowNode {
   float: none !important; /* THEMER: HIDE */
   position: absolute; /* THEMER: HIDE */
/* 	right: 5px; // THEMER: DISABLED */
/* 	background: url(images/comboArrowDownDark.png) no-repeat 50% 50%; // THEMER: DISABLED */
}
.linkapp_shamcey .wmaccordion .accordionArrowNode.accordionOnLeftArrowNode {
     position: relative; /* THEMER: HIDE */
     float: none; /* THEMER: HIDE */
}

/* GROUP: Accordion Arrow (Closed) */
.linkapp_shamcey .wmaccordion .wmaccordion-collapsed .accordionArrowNode {
/* 	background: url(images/arrowRightDark.png) no-repeat 0% 0%; // THEMER: DISABLED */
}


/* GROUP: Layer Styling */
.linkapp_shamcey .wmaccordion .wmlayer.wmaccordion-content {
/* 	border-radius: 2px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 2px; // THEMER: DISABLED */
	background-color: #ffffff;
	background-image: none;
	filter: none;
}

/***** END SECTION: Accordions *****//***** START SECTION: Tabs *****/
/* GROUP: Standard Tab Button */
.linkapp_shamcey .wmtablayers .wmtablayers-tab,
.linkapp_shamcey .wmtablayers button.wmtablayers-verticaltab {
	font-family: Ubuntu, Helvetica, sans-serif;
	color: #222222;
	font-weight: normal;
	font-size: 1em;
	background-color: #ffffff;
	background-image: none;
	filter: none;
}
.linkapp_shamcey .wmtablayers .wmtablayers-tab {

/* 	height: 100%; // THEMER: DISABLED */
/* 	margin-left: 1px; // THEMER: DISABLED */
/* 	border-radius: 8px 8px 0px 0px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 8px 8px 0px 0px; // THEMER: DISABLED */
/* 	box-shadow: -1px 1px 1px #444444; // THEMER: DISABLED */
/* 	-webkit-box-shadow: -1px 1px 1px #444444; // THEMER: DISABLED */

	border-top: solid 0px rgb(68, 68, 68);
	border-right: solid 1px rgb(68, 68, 68);
	border-bottom: solid 1px #444444;
	border-left: solid 0px rgb(68, 68, 68);
}
.dj_ff .linkapp_shamcey .wmtablayers .wmtablayers-tab {
       box-shadow: 0 0 0 black !important; /* THEMER: HIDE */
}
/* GROUP: First Tab */
.linkapp_shamcey .wmtablayers-tab:first-child {
/* 	margin-left: 5px; // THEMER: DISABLED */
}


/* GROUP: Standard Selected Tab Button */
.linkapp_shamcey .wmtablayers .wmtablayers-verticaltab.wmtablayers-selected,
.linkapp_shamcey .wmtablayers .wmtablayers-verticaltab.wmtablayers-selected:hover,
.linkapp_shamcey .wmtablayers .wmtablayers-tab.wmtablayers-selected,
.linkapp_shamcey .wmtablayers .wmtablayers-tab.wmtablayers-selected:hover {
	background-color: #2176cc;
	background-image: none;
	filter: none;
}
.linkapp_shamcey .wmtablayers .wmtablayers-tab.wmtablayers-selected,
.linkapp_shamcey .wmtablayers .wmtablayers-tab.wmtablayers-selected:hover {
/* 	box-shadow: -1px 1px 1px #444444; // THEMER: DISABLED */
/* 	-webkit-box-shadow: -1px 1px 1px #444444; // THEMER: DISABLED */
/* 	top: 2px; // THEMER: DISABLED */
    /* NOTE: To create different values of top for different browsers, use
     .dj_ie .linkapp_shamcey .wmtablayers .wmtablayers-tab.wmtablayers-selected, 
     .dj_ff .linkapp_shamcey .wmtablayers .wmtablayers-tab.wmtablayers-selected,
     .dj_webkit .linkapp_shamcey .wmtablayers .wmtablayers-tab.wmtablayers-selected */
}

/* GROUP: Tab Button with Focus */
.linkapp_shamcey .wmtablayers .wmtablayers-verticaltab:focus,
.linkapp_shamcey .wmtablayers .wmtablayers-tab:focus {
/* 	outline: solid 1px ; // THEMER: DISABLED */
}

/* GROUP: Tab Button with Hover */
.linkapp_shamcey .wmtablayers .wmtablayers-tab:hover,
.linkapp_shamcey .wmtablayers .wmtablayers-verticaltab:hover {
	color: #FFFFFF; 
	background-color: #2176cc;
	background-image: none;
	filter: none;
}
.linkapp_shamcey .wmtablayers .wmtablayers-tab:hover {
/* 	box-shadow: null; // THEMER: DISABLED */
/* 	-webkit-box-shadow: null; // THEMER: DISABLED */
}

/* GROUP: Tab Button with Mouse Down */
/* NOTE: This does not appear to work in firefox at design time but is fine at runtime */
.linkapp_shamcey .wmtablayers .wmtablayers-tab:active,
.linkapp_shamcey .wmtablayers .wmtablayers-verticaltab:active,
.linkapp_shamcey .wmtablayers .wmtablayers-tab:active:.focus,
.linkapp_shamcey .wmtablayers .wmtablayers-verticaltab:active:focus {
color: #FFFFFF; 
background-color: #444444; 
background-image: none;
filter: none;
}
.linkapp_shamcey .wmtablayers .wmtablayers-tab:active,
.linkapp_shamcey .wmtablayers .wmtablayers-tab:active:focus {
    box-shadow: 0px 0px 0px #444444; 
}


/* GROUP: Layer Borders */
.linkapp_shamcey .wmtablayers  .wmTabLayers-client > .wmlayer {
	border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
}

/* GROUP: Tab Bar */
.linkapp_shamcey .wmtablayers div.wmtablayers-tabbar {
/* 	background-color: rgb(8, 102, 198); // THEMER: DISABLED */
/* 	background-image: none; // THEMER: DISABLED */
/* 	filter: none; // THEMER: DISABLED */
}



/* GROUP: Vertical Tab Buttons */
.linkapp_shamcey .wmtablayers button.wmtablayers-verticaltab {
	font-size: 1em;
	width: 110px;
	margin-left: 0;
	margin-bottom: 0px;
/* 	border-radius: 4px 0px 0px 4px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 4px 0px 0px 4px; // THEMER: DISABLED */
	border-top: solid 0px rgb(68, 68, 68);
	border-right: solid 0px transparent;
	border-bottom: solid 0px rgb(68, 68, 68);
	border-left: solid 0px rgb(68, 68, 68);
/* 	box-shadow: -1px 1px 1px #444444; // THEMER: DISABLED */
/* 	-webkit-box-shadow: -1px 1px 1px #444444; // THEMER: DISABLED */
}

/* GROUP: First Vertical Tab */
.linkapp_shamcey .wmtablayers .wmtablayers-verticaltab:first-child {
	margin-top: 0px;
}

/* GROUP: Vertical Tab Buttons with Hover */
.linkapp_shamcey .wmtablayers .wmtablayers-verticaltab:hover {
/* 	box-shadow: null; // THEMER: DISABLED */
/* 	-webkit-box-shadow: null; // THEMER: DISABLED */
}

/* GROUP: Vertical Selected Tab Buttons */
.linkapp_shamcey .wmtablayers .wmtablayers-verticaltab.wmtablayers-selected {
/* 	box-shadow: null; // THEMER: DISABLED */
/* 	-webkit-box-shadow: null; // THEMER: DISABLED */
/*  border: solid 1px black; // THEMER: DISABLED */
}

/* GROUP: Vertical Tab with Mouse Down */
.linkapp_shamcey .wmtablayers .wmtablayers-verticaltab:active,
.linkapp_shamcey .wmtablayers .wmtablayers-verticaltab:active:focus {
/* 	box-shadow: 0px 0px 0px #444444; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 0px 0px 0px #444444; // THEMER: DISABLED */
}
/***** END SECTION: Tabs *****//***** START SECTION: Titled Panel *****/
/* GROUP: Container */
.linkapp_shamcey .wmfancypanel .wmFancyPanel-containerWidget {
    border-top-left-radius: 0px !important; /* THEMER: HIDE */
    border-top-right-radius: 0px !important;/* THEMER: HIDE */
    -webkit-border-top-left-radius: 0px !important;/* THEMER: HIDE */
    -webkit-border-top-right-radius: 0px !important;/* THEMER: HIDE */
    box-shadow: 0px 0px 0px black !important;/* THEMER: HIDE */
	border-radius: 4px;
	-webkit-border-radius: 4px;
    background-color: white;
    background-image: none;
    filter: none;
}


/* GROUP: Panel Title */
.linkapp_shamcey .wmfancypanel .wmFancyPanel-labelWidget {
	border-radius: 0px;
	-webkit-border-radius: 0px;

	font-family: Ubuntu, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: normal;
	color: #222222;
	background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(210, 210, 210)), color-stop(49%,rgb(160, 160, 160)), to(rgb(160, 160, 160)));
	background-image: -moz-linear-gradient(top, rgb(210, 210, 210) 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
	background-image: -o-linear-gradient(top, rgb(210, 210, 210) 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
	background-image: -ms-linear-gradient(top, rgb(210, 210, 210) 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(210, 210, 210)', endColorstr='rgb(160, 160, 160)',GradientType=0);
}
/***** END SECTION: Titled Panel *****//***** START SECTION: Buttons *****/
/* GROUP: Standard Button */
/* dijitReset needed for popupButton */
.linkapp_shamcey .wmbutton,
.linkapp_shamcey button.wmbutton, /* mostly to clobber .dj_ie .wmbutton in default/theme.css */
.linkapp_shamcey .wmbutton .dijitReset {
    font-family: Ubuntu, Helvetica, sans-serif;
	border: 1px solid #666666;
	border-radius: 3px;
	-webkit-border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    line-height: 12px;
/* 	text-shadow: 0 1px 0 #6a6969; // THEMER: DISABLED */
    vertical-align: middle;
    white-space: nowrap;
}
.linkapp_shamcey .wmbutton {
/* 	box-shadow: 1px 1px 2px black; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 1px 1px 2px black; // THEMER: DISABLED */
	background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(255, 255, 255)), color-stop(49%,#a0a0a0), to(#a0a0a0));
	background-image: -moz-linear-gradient(top, rgb(255, 255, 255) 0%,#a0a0a0 49%,#a0a0a0 100%);
	background-image: -o-linear-gradient(top, rgb(255, 255, 255) 0%,#a0a0a0 49%,#a0a0a0 100%);
	background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%,#a0a0a0 49%,#a0a0a0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(255, 255, 255)', endColorstr='#a0a0a0',GradientType=0);
}

/* GROUP: Hover State */
 .linkapp_shamcey   .wmbutton:hover {
 	color: #FFFFFF;
	font-weight: bold;
/* 	box-shadow: 1px 2px 3px #6e6e6e; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 1px 2px 3px #6e6e6e; // THEMER: DISABLED */
	background-color: #373737;
	background-image: none;
	filter: none;
}


/* GROUP: Active State */
/* button.wmbutton required instead of .wmbutton for IE8 */
.linkapp_shamcey   button.wmbutton.toggleButtonDown,
.linkapp_shamcey   .wmbutton.Active,
.linkapp_shamcey   .wmbutton.Active:hover,
.linkapp_shamcey   .wmbutton:active,
.linkapp_shamcey   .wmbutton:hover:active {
	color: #FFFFFF;
	font-weight: normal;
/* 	box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
	background-color: #0044cc;
	background-image: none;
	filter: none;
}

/* GROUP: Focus State */
/* NOTE: This occurs when the user tabs to the button.
  It may also occur when the user clicks the button */
.linkapp_shamcey   .wmbutton:focus {
/* 	outline: solid 1px #ffffff; // THEMER: DISABLED */
}

/* GROUP: Popup Menu */
.linkapp_shamcey .wmbutton.wmPopupButton .popupIcon {
   background-image: url(lib/wm/base/widget/themes/wm_default/images/comboArrowDownDark.png);
   background-position: 0% 50%;
}

/* GROUP: Disabled Button */
.linkapp_shamcey .Disabled.wmbutton,
.linkapp_shamcey .Disabled.wmbutton:hover,
.linkapp_shamcey .Disabled.wmbutton:active,
.linkapp_shamcey .Disabled.wmbutton:active:hover {
  color: #FFFFFF;
	font-weight: normal;
/* 	box-shadow: 2px 2px 2px #8a3535; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 2px 2px 2px #8a3535; // THEMER: DISABLED */
  background-color: #333333;
  background-image: none;
	opacity: 0.30;
}
/***** END SECTION: Buttons *****//***** START SECTION: Toggle Button Panel *****/
/* GROUP: Toggle Panel */
.linkapp_shamcey .wmtogglebuttonpanel {
/* 	border-radius: 8px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 8px; // THEMER: DISABLED */
}

/* GROUP: First Button Radius */
.linkapp_shamcey .wmtogglebuttonpanel .wmbutton:first-child {
/* 	border-radius: 8px 0px 0px 8px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 8px 0px 0px 8px; // THEMER: DISABLED */
}

/* GROUP: Last Button Radius */
.linkapp_shamcey .wmtogglebuttonpanel .wmbutton:last-child {
/* 	border-radius: 0px 8px 8px 0px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 0px 8px 8px 0px; // THEMER: DISABLED */
}

/* GROUP: Middle Buttons Radius */
.linkapp_shamcey .wmapproot .wmtogglebuttonpanel .wmbutton {
/* 	border-radius: 0px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 0px; // THEMER: DISABLED */
}


/* GROUP: Buttons */
.linkapp_shamcey .wmtogglebuttonpanel .wmbutton {
	font-family: Ubuntu, Helvetica, sans-serif;
	font-size: 1em;
	color: #d2d2d2;
	font-weight: normal;

	background-color: #222222;
	background-image: none;
	filter: none;
}


/* GROUP: Selected Button */
.linkapp_shamcey .wmtogglebuttonpanel .wmbutton.toggleButtonDown {
	font-family: Ubuntu, Helvetica, sans-serif;
	font-size: 1em;
	color: #ffffff;
	font-weight: normal;

	background-color: #0866c6;
	background-image: none;
	filter: none;
}
/***** END SECTION: Toggle Button Panel *****//***** START SECTION: Editors *****/
/* TODO: Fix all .dijitButtonContents which are found in Select editors which are found in editable grid */

/* GROUP: Standard Editors */
/* THEMER: DO NOT SUBCLASS START */
.linkapp_shamcey .dojoxGrid .dijitTextBox,
.linkapp_shamcey .dojoxGrid .dijitComboBox,
.linkapp_shamcey .dojoxGrid .dijitSelect .dijitButtonContents,
/* THEMER: DO NOT SUBCLASS END */
.linkapp_shamcey .wmeditor .dijitTextBox,
.linkapp_shamcey .wmeditor .dijitTextArea,
.linkapp_shamcey .wmeditor .dijitComboBox,
.linkapp_shamcey .wmeditor .dijitSelect .dijitButtonContents,
.linkapp_shamcey .dijitTimePickerItem,
.linkapp_shamcey .wmeditor .RichTextEditable iframe {
	border: solid 1px #999999;
	font-family: Ubuntu, Helvetica, sans-serif;
	font-size: 1em;
	color: #000;
	font-weight: normal;
	background-color: #ffffff;
	background-image: none;
    box-sizing: border-box;
	filter: none;
    padding: 2px;
    vertical-align: middle;
    line-height: 1.25;
}

/* THEMER: DO NOT SUBCLASS START */
.linkapp_shamcey  .wmeditor .dijitTextBox,
.linkapp_shamcey  .wmeditor .dijitTextArea,
.linkapp_shamcey  .wmeditor .dijitComboBox,
/* THEMER: DO NOT SUBCLASS END */
.linkapp_shamcey  .dojoxGrid .dijitTextBox,
.linkapp_shamcey  .dojoxGrid .dijitTextArea,
.linkapp_shamcey  .dojoxGrid .dijitComboBox
 {
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

.linkapp_shamcey .wmeditor.wmrichtext {
    -webkit-border-bottom-left-radius: 4px;  /* THEMER: CALC: ${border-bottom-left-radius} */
    -webkit-border-bottom-right-radius: 4px; /* THEMER: CALC: ${border-bottom-right-radius} */
    border-bottom-left-radius: 4px;       /* THEMER: CALC: ${border-bottom-left-radius} */
    border-bottom-right-radius: 4px;      /* THEMER: CALC: ${border-bottom-right-radius} */
}


/* GROUP: Hover */
/* THEMER: DO NOT SUBCLASS START */
.linkapp_shamcey .dijitTimePickerMarker.dijitTimePickerMarkerHover,
.linkapp_shamcey .dijitTimePickerItem.dijitTimePickerItemHover,
/* THEMER: DO NOT SUBCLASS END */
.linkapp_shamcey .wmeditor .dijitTextBox.dijitHover,
.linkapp_shamcey .wmeditor .dijitTextArea:hover,
.linkapp_shamcey .wmeditor .dijitComboBox.dijitHover,
.linkapp_shamcey .wmeditor .dijitSelect.dijitHover .dijitButtonContents,
.linkapp_shamcey .wmeditor .RichTextEditable:hover iframe {
/* 	color: ; // THEMER: DISABLED */
	border: solid 0px #0866c6;
/* 	background-color: rgb(68, 68, 68); // THEMER: DISABLED */
/* 	background-image: none; // THEMER: DISABLED */
/* 	filter: none; // THEMER: DISABLED */
}

/* GROUP: Focus */
/* THEMER: DO NOT SUBCLASS START */
.linkapp_shamcey .dojoxGrid .dijitTextBox.dijitFocused,
.linkapp_shamcey .dojoxGrid .dijitComboBox.dijitFocused,
.linkapp_shamcey .dojoxGrid .dijitSelect.dijitFocused .dijitButtonContents,
/* THEMER: DO NOT SUBCLASS END */
.linkapp_shamcey .wmeditor .dijitTextBox.dijitFocused,
.linkapp_shamcey .wmeditor .dijitTextBox.dijitFocused.dijitHover,
.linkapp_shamcey .wmeditor .dijitTextArea.dijitFocused,
.linkapp_shamcey .wmeditor .dijitTextArea.dijitFocused:hover,
.linkapp_shamcey .wmeditor .dijitComboBox.dijitFocused,
.linkapp_shamcey .wmeditor .dijitComboBox.dijitFocused.dijitHover,
.linkapp_shamcey .wmeditor .dijitSelect.dijitFocused .dijitButtonContents,
.linkapp_shamcey .wmeditor .dijitSelect.dijitFocused.dijitHover .dijitButtonContents,
.linkapp_shamcey .isDirty.wmeditor .dijitTextBox.dijitFocused,
.linkapp_shamcey .isDirty.wmeditor .dijitTextArea.dijitFocused,
.linkapp_shamcey .isDirty.wmeditor .dijitComboBox.dijitFocused,
.linkapp_shamcey .wmeditor .RichTextEditable.Focused iframe {
/* 	color: ; // THEMER: DISABLED */
	border: solid 0px #0866c6;
	background-color: #ffffff;
	background-image: none;
	filter: none;
}

/* GROUP: isDirty */
.linkapp_shamcey .isDirty.wmeditor .dijitTextBox,
.linkapp_shamcey .isDirty.wmeditor .dijitTextArea,
.linkapp_shamcey .isDirty.wmeditor .dijitComboBox {
/* 	color: ; // THEMER: DISABLED */
/* 	border: solid 0px #0866c6; // THEMER: DISABLED */
/* 	background-color: rgb(68, 68, 68); // THEMER: DISABLED */
/* 	background-image: none; // THEMER: DISABLED */
/* 	filter: none; // THEMER: DISABLED */
}

/* GROUP: Invalid */
.linkapp_shamcey .wmeditor .dijitError.dijitTextBox,
.linkapp_shamcey .wmeditor .dijitError.dijitTextArea,
.linkapp_shamcey .wmeditor .dijitError.dijitComboBox,
.linkapp_shamcey .wmeditor .dijitError.isDirty.dijitTextBox,
.linkapp_shamcey .wmeditor .dijitError.isDirty.dijitTextArea,
.linkapp_shamcey .wmeditor .dijitError.isDirty.dijitComboBox
{
/* 	color: ; // THEMER: DISABLED */
	border-color: #666666; 
	background-color: #F9F7BA; 
	background-image: none; 
	filter: none;
}


/* GROUP: Captions */
.linkapp_shamcey .wmeditor .wmeditor-caption {
	font-family: Ubuntu, Helvetica, sans-serif;
	font-size: 1em;
	color: #333333;
	font-weight: normal;
}

/* GROUP: Read-only */
.linkapp_shamcey .wmeditor .wmeditor-readonlyNode {
	font-family: Ubuntu, Helvetica, sans-serif;
	font-size: 1em;
	color: ;
	font-weight: normal;
}


/* GROUP: Drop Down Boxes */
/* THEMER: DO NOT SUBCLASS START */
.linkapp_shamcey .dojoxGrid .dijitComboBox .dijitArrowButton,
/* THEMER: DO NOT SUBCLASS END */
.linkapp_shamcey .wmeditor .dijitSpinner .dijitArrowButton,
.linkapp_shamcey .wmeditor .dijitComboBox .dijitArrowButton,
.linkapp_shamcey .wmeditor .dijitSelect .dijitArrowButton {
	background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(170, 170, 170)), color-stop(52%,rgb(102, 102, 102)), to(rgb(102, 102, 102)));
	background-image: -moz-linear-gradient(top, rgb(170, 170, 170) 0%,rgb(102, 102, 102) 52%,rgb(102, 102, 102) 100%);
	background-image: -o-linear-gradient(top, rgb(170, 170, 170) 0%,rgb(102, 102, 102) 52%,rgb(102, 102, 102) 100%);
	background-image: -ms-linear-gradient(top, rgb(170, 170, 170) 0%,rgb(102, 102, 102) 52%,rgb(102, 102, 102) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(170, 170, 170)', endColorstr='rgb(102, 102, 102)',GradientType=0);
}

/* THEMER: DO NOT SUBCLASS START */
.linkapp_shamcey .dojoxGrid .dijitComboBox .dijitArrowButton,
.linkapp_shamcey .dijitComboBox .dijitArrowButton .dijitArrowButtonInner, /* Grid combo boxes and selects */
.linkapp_shamcey .dijitSelect .dijitArrowButton .dijitArrowButtonInner,
/* THEMER: DO NOT SUBCLASS END */
.linkapp_shamcey .wmeditor .dijitComboBox .dijitArrowButton,
.linkapp_shamcey .wmeditor .dijitSelect .dijitArrowButton,
.linkapp_shamcey .wmeditor .dijitComboBox .dijitArrowButton .dijitArrowButtonInner,
.linkapp_shamcey .wmeditor .dijitSelect .dijitArrowButton .dijitArrowButtonInner {
/* 	border-radius: 0px 2px 2px 0px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 0px 2px 2px 0px; // THEMER: DISABLED */
}


/* GROUP: Drop Down Boxes Hover */ 
/* THEMER: DO NOT SUBCLASS START */
.linkapp_shamcey .dojoxGrid .dijitComboBox .dijitArrowButton:hover,
/* THEMER: DO NOT SUBCLASS END */
.linkapp_shamcey .wmeditor .dijitSpinner .dijitArrowButton:hover,
.linkapp_shamcey .wmeditor .dijitComboBox .dijitArrowButton:hover,
.linkapp_shamcey .wmeditor .dijitSelect .dijitArrowButton:hover {
/* 	background-color: rgb(255, 102, 102); // THEMER: DISABLED */
/* 	background-image: none; // THEMER: DISABLED */
/* 	filter: none; // THEMER: DISABLED */
}

/* GROUP: Drop Down Clicking */
/* THEMER: DO NOT SUBCLASS START */
.linkapp_shamcey .dojoxGrid .dijitComboBox .dijitArrowButton:active,
/* THEMER: DO NOT SUBCLASS END */
.linkapp_shamcey .wmeditor .dijitSpinner .dijitArrowButton:active,
.linkapp_shamcey .wmeditor .dijitComboBox .dijitArrowButton:active,
.linkapp_shamcey .wmeditor .dijitSelect .dijitArrowButton:active {
/* 		  background-color: rgb(102, 102, 255); // THEMER: DISABLED */
/* 		  background-image: none; // THEMER: DISABLED */
/* 		  filter: none; // THEMER: DISABLED */
		  
}


/* GROUP: Drop Down Box Arrows */
/* THEMER: DO NOT SUBCLASS START */
.linkapp_shamcey .dijitComboBox .dijitArrowButton .dijitArrowButtonInner,
.linkapp_shamcey .dijitSelect .dijitArrowButton .dijitArrowButtonInner,
/* THEMER: DO NOT SUBCLASS END */
.linkapp_shamcey .wmeditor .dijitComboBox .dijitArrowButton .dijitArrowButtonInner,
.linkapp_shamcey .wmeditor .dijitSelect .dijitArrowButton .dijitArrowButtonInner {
    background-position: 50% 50%;
	background-image: url(images/comboArrowDownLight.png);
}



/* GROUP: Spinner Arrows Down */
.linkapp_shamcey .wmeditor .dijitSpinner .dijitArrowButton .dijitArrowButtonInner {
	background-position: 30% 30%;
	background-image: url(images/comboArrowDownLight.png); 
}

/* GROUP: Spinner Arrows Up */
.linkapp_shamcey .wmeditor .dijitSpinner .dijitArrowButton.dijitUpArrowButton .dijitArrowButtonInner {
	background-image: url(images/comboArrowUpLight.png);
}



/* GROUP: Sliders */
.linkapp_shamcey .wmeditor .dijitSlider .dijitSliderImageHandleH {
    background: url(images/preciseSliderThumb.png) no-repeat 50% 0%;
    outline-width: 0;
}

/* GROUP: Slider Bar Progress */
.linkapp_shamcey .wmeditor .dijitSlider .dijitSliderProgressBarH,
.linkapp_shamcey .wmeditor .dijitSlider .dijitSliderLeftBumper,
.linkapp_shamcey .wmeditor .dijitSliderFocused.dijitSlider .dijitSliderProgressBarH,
.linkapp_shamcey .wmeditor .dijitSliderFocused.dijitSlider .dijitSliderLeftBumper {
	background-color: #0866c6;
	background-image: none;
	filter: none;
}

/* GROUP: Slider Bar Remainder */
.linkapp_shamcey .wmeditor .dijitSlider .dijitSliderRemainingBarH,
.linkapp_shamcey .wmeditor .dijitSlider .dijitSliderRightBumper,
.linkapp_shamcey .wmeditor .dijitSliderFocused.dijitSlider .dijitSliderRemainingBarH,
.linkapp_shamcey .wmeditor .dijitSliderFocused.dijitSlider .dijitSliderRightBumper {
	background-color: #666666;
	background-image: none;
	filter: none;
}    

/***** END SECTION: Editors *****//***** START SECTION: Grids *****/
/* GROUP: Grid Rows */
.linkapp_shamcey .GridListStyle div.dojoxGrid, 
.linkapp_shamcey .GridListStyle .wmlist {
	font-size: 1em;
}

.linkapp_shamcey .GridListStyle  .wmlist-cell,
.linkapp_shamcey .GridListStyle td.dojoxGridCell {
	border-style: inherit;
	border-width: 1px;
	border-color: rgb(153, 153, 153);
    border-bottom: 1px solid #e3e3e3;
/* 	padding: undefined; // THEMER: DISABLED */
    font-size: 1em;
    cursor: pointer;
}

.linkapp_shamcey .GridListStyle div.dojoxGridRow,
.linkapp_shamcey .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOver,
.linkapp_shamcey .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOver td.dojoxGridCell,
.linkapp_shamcey .GridListStyle div.wmlist-item,
.linkapp_shamcey .GridListStyle.Disabled div.wmlist-item.wmlist-item-over  {
	font-family: Ubuntu, Helvetica, sans-serif;
    font-weight: normal;
}

.linkapp_shamcey .GridListStyle div.dojoxGridContent .dojoxGridCell {
   background-color: transparent; /* THEMER: HIDE */
}

.linkapp_shamcey .GridListStyle div.dojoxGridContent .dojoxGridCellFocus,
.linkapp_shamcey .GridListStyle div.dojoxGridContent .dojoxGrid-cell-focus {
   border: 1px dashed transparent !important; /* THEMER: HIDE */
}


/* GROUP: Odd Numbered Rows */
.linkapp_shamcey .GridListStyle div.dojoxGridRow,
.linkapp_shamcey .GridListStyle div.wmlist-item,

/* Disabled grid rows */
.linkapp_shamcey .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOver,
.linkapp_shamcey .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowSelected,
.linkapp_shamcey .GridListStyle.Disabled .dojoxGridRowOver td.dojoxGridCell,
.linkapp_shamcey .GridListStyle.Disabled div.wmlist-item.wmlist-item-over,
.linkapp_shamcey .GridListStyle.Disabled div.wmlist-item.wmlist-item-selected,

/* Disabled odd    rows */
.linkapp_shamcey .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOdd.dojoxGridRowOver,
.linkapp_shamcey .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOdd.dojoxGridRowSelected,
.linkapp_shamcey .GridListStyle.Disabled div.wmlist-item.Odd.wmlist-item-over,
.linkapp_shamcey .GridListStyle.Disabled div.wmlist-item.Odd.wmlist-item-selected   {
/* 	color: #333333; // THEMER: DISABLED */
/* 	background-color: rgb(170, 170, 170); // THEMER: DISABLED */
/* 	background-image: none; // THEMER: DISABLED */
/* 	filter: none; // THEMER: DISABLED */
}


/* GROUP: Even Numbered Rows */
.linkapp_shamcey .GridListStyle div.dojoxGrid-row.dojoxGrid-row-odd,
.linkapp_shamcey .GridListStyle div.dojoxGridRow.dojoxGridRowOdd,
.linkapp_shamcey .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOdd.dojoxGridRowOver,
.linkapp_shamcey .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOdd.dojoxGridRowSelected,
.linkapp_shamcey .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOdd.dojoxGridRowOver td.dojoxGridCell,
.linkapp_shamcey .GridListStyle.Disabled div.wmlist-item.Odd.wmlist-item-over,
.linkapp_shamcey .GridListStyle.Disabled div.wmlist-item.Odd.wmlist-item-selected,
.linkapp_shamcey .GridListStyle .wmlist-item.Odd {
/* 	color: #1e1c1c; // THEMER: DISABLED */
	background-color: #f3f3f3;
	background-image: none;
	filter: none;
}

/* GROUP: Selected Row */
.linkapp_shamcey .GridListStyle .dojoxGridRow.dojoxGridRowSelected,
.linkapp_shamcey .GridListStyle.Disabled .dojoxGridRow.dojoxGridRowSelected,
.linkapp_shamcey .GridListStyle .dojoxGridRow.dojoxGridRowSelected td.dojoxGridCell,
.linkapp_shamcey .GridListStyle .dojoxGridRow.dojoxGridRowOdd.dojoxGridRowSelected,
.linkapp_shamcey .GridListStyle .dojoxGridRow.dojoxGridRowOver.dojoxGridRowSelected,
.linkapp_shamcey .GridListStyle .dojoxGridRow.dojoxGridRowOdd.dojoxGridRowOver.dojoxGridRowSelected,
.linkapp_shamcey .GridListStyle .wmlist-item.wmlist-item-selected,
.linkapp_shamcey .GridListStyle.Disabled .wmlist-item.wmlist-item-selected,
.linkapp_shamcey .GridListStyle .wmlist-item.wmlist-item-selected.wmlist-item-over {
	background-color: #dddddd;
	background-image: none;
	filter: none;
/* 	color: #ffffff; // THEMER: DISABLED */
}

/* GROUP: Selected Cell */
.linkapp_shamcey .dojoxGridCellFocus {
/* 	outline: solid 0px ; // THEMER: DISABLED */
    outline-offset: -1px; /* Change this to match outline width (but negative). Not supported by IE */ /* THEMER: HIDE */
}

/* GROUP: Hover row */
.linkapp_shamcey .GridListStyle .wmlist-item.wmlist-item-over,
.linkapp_shamcey .GridListStyle .dojoxGridRow.dojoxGridRowOver,
.linkapp_shamcey .GridListStyle .dojoxGridRow.dojoxGridRowOdd.dojoxGridRowOver,
.linkapp_shamcey .GridListStyle .dojoxGridRowOver a,
.linkapp_shamcey .GridListStyle .dojoxGridRowOver td.dojoxGridCell {
	background-color: #dddddd;
	background-image: none;
	filter: none;
	color: #000000;
}

/* GROUP: Grid Header */
.linkapp_shamcey .GridListStyle .wmlist-header th,
.linkapp_shamcey .GridListStyle.wmNoFontSize div.dojoxGridHeader .dojoxGridCell {
	cursor: pointer;
	border-top: solid 0px rgb(251, 251, 251);
	border-right: solid 0px rgb(170, 170, 170);
	border-bottom: solid 0px rgb(102, 102, 102);
	border-left: solid 0px rgb(251, 251, 251);
	font-weight: bold;
    text-align: left;
	font-size: 1em;
    text-transform: uppercase;
    padding: 2px 4px;
	height: 32px;
}

.linkapp_shamcey .GridListStyle .wmlist-header .wmlist-cell,
.linkapp_shamcey .GridListStyle div.dojoxGridHeader .dojoxGridCell {
}



.linkapp_shamcey .GridListStyle .wmlist-header,
.linkapp_shamcey .GridListStyle div.dojoxGridHeader {
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), color-stop(77%,#d2d2d2), to(#d2d2d2));
	background-image: -moz-linear-gradient(top, #ffffff 0%,#d2d2d2 77%,#d2d2d2 100%);
	background-image: -o-linear-gradient(top, #ffffff 0%,#d2d2d2 77%,#d2d2d2 100%);
	background-image: -ms-linear-gradient(top, #ffffff 0%,#d2d2d2 77%,#d2d2d2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d2d2d2',GradientType=0);
}
.linkapp_shamcey .GridListStyle .wmlist-header th,
.linkapp_shamcey .GridListStyle div.dojoxGridHeader th.dojoxGridCell,
.linkapp_shamcey .GridListStyle div.dojoxGridHeader th.dojoxGridCell.dojoxGridCellOver {	
  background: transparent none !important; /* THEMER: HIDE */

	font-family: Ubuntu, Helvetica, sans-serif;
	color: #3a3939;
	font-weight: normal;
}

/* GROUP: Grid Cells */
.linkapp_shamcey .GridListStyle .dojoxGridCell,
.linkapp_shamcey .GridListStyle .wmlist-cell {
    padding: 4px 8px;
}

/* GROUP: Focused Cell */
.linkapp_shamcey .GridListStyle .dojoxGridCellFocus {
/*   outline: solid 1px #5b9dd7; // THEMER: DISABLED */
}


/* THEMER: DO NOT SUBCLASS START */
/* GROUP: Mobile List */
.linkapp_shamcey .MobileListStyle div.wmlist-item,
.linkapp_shamcey .Disabled.MobileListStyle div.wmlist-item,
.linkapp_shamcey .Disabled.MobileListStyle div.wmlist-item.wmlist-item-over {
   border-radius: 4px;
   margin: 5px;
	background-color: #0866c6;
	background-image: none;
	filter: none;
	color: #d2d2d2;
	font-family: Ubuntu, Helvetica, sans-serif;
   min-height: 24px;
}

.linkapp_shamcey .wmlist.MobileListStyle td.wmlist-cell {
    border-style: solid;
    border-color: #AAAAAA;
    border-width: 0px;
}

/* GROUP: Mobile List Hover (Desktop only!) */
.linkapp_shamcey .MobileListStyle div.wmlist-item.wmlist-item-over,
.linkapp_shamcey .MobileListStyle div.wmlist-item.Odd.wmlist-item-over {
		background-color: #555555;
		color: #FFFFFF;
}

/* GROUP: Mobile List Selected Row */
.linkapp_shamcey .MobileListStyle div.wmlist-item.wmlist-item-selected,
.linkapp_shamcey .MobileListStyle div.wmlist-item.Odd.wmlist-item-selected,
.linkapp_shamcey .MobileListStyle div.wmlist-item.wmlist-item-selected.wmlist-item-over,
.linkapp_shamcey .MobileListStyle div.wmlist-item.Odd.wmlist-item-selected.wmlist-item-over {
		background-color: #333333; 
		color: #FFFFFF; 
}
/* THEMER: DO NOT SUBCLASS END */
/***** END SECTION: Grids *****//***** START SECTION: Progress Bar *****/
/* GROUP: ProgressBar */
.linkapp_shamcey .wmprogressbar .dijitProgressBar {
/* 	border-radius: 8px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 8px; // THEMER: DISABLED */
	border: solid 1px black;
}


.linkapp_shamcey .wmprogressbar .dijitProgressBarLabel {
	font-family: Ubuntu, Helvetica, sans-serif;
	font-size: 1em;
		color: #FFFFFF;
	font-weight: normal;
}

.linkapp_shamcey .wmprogressbar .dijitProgressBar {
    background-color: rgb(68, 68, 68);
    background-image: none;
    filter: none;
}


/* GROUP: Progress Indicator */
.linkapp_shamcey .wmprogressbar .dijitProgressBarFull {
    background-color: rgb(68, 68, 68);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#c4c4cb), color-stop(20%,#5c5d60), to(#5c5d60));
    background-image: -moz-linear-gradient(top, #c4c4cb 0%,#5c5d60 20%,#5c5d60 100%);
    background-image: -o-linear-gradient(top, #c4c4cb 0%,#5c5d60 20%,#5c5d60 100%);
    background-image: -ms-linear-gradient(top, #c4c4cb 0%,#5c5d60 20%,#5c5d60 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4cb', endColorstr='#5c5d60',GradientType=0);
/* 	border-radius: 8px 0px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 8px 0px; // THEMER: DISABLED */
    border-right: solid 1px black;
    border-top: solid 0px black;
    border-bottom: solid 0px black;
    border-left: solid 0px black;
    }


.linkapp_shamcey .wmprogressbar .dijitProgressBarTile {
   background-image: inherit; /* THEMER: HIDE */
   background-color: inherit; /* THEMER: HIDE */
}
/***** END SECTION: Progress Bar *****//***** START SECTION: Splitter/Bevel *****/
/* GROUP: Bevel */
.linkapp_shamcey .wmbevel {
    background-color: #444444;
}

/* GROUP: Splitter */
/* NOTE: If you use gradients, then you can't use the horizontal and vertical images (which is important) */
.linkapp_shamcey div.wmsplitter-h,
.linkapp_shamcey div.wmsplitter-v {
    background-color: #444444; /* THEMER: NO BACKGROUND IMAGE */    
}
/* GROUP: Splitter Hover */
.linkapp_shamcey div.wmsplitter-h:hover,
.linkapp_shamcey div.wmsplitter-v:hover {
    background-color: #444444; /* THEMER: NO BACKGROUND IMAGE */    
}
/* GROUP: Splitter Horizontal Image */
.linkapp_shamcey .wmsplitter-h {
	background: url(images/splitter_bg_h.png) no-repeat 50% 50%;
}

/* GROUP: Splitter Vertical Image */
.linkapp_shamcey .wmsplitter-v {
	background: url(images/splitter_bg_v.png) no-repeat 50% 50%;
}

/***** END SECTION: Splitter/Bevel *****//***** START SECTION: Calendar *****/
/* GROUP: Calendar Cells */
.linkapp_shamcey .dijitCalendarDayLabel,
.linkapp_shamcey .dijitCalendarDateLabel {
	font-size: 1em;
}

.linkapp_shamcey table.dijitCalendarContainer td.dijitCalendarCurrentMonth {
		background-color: #f8f8f8 !important;
		background-image: none !important;
		filter: none !important;
		color: #030000;
}

.linkapp_shamcey .dijitCalendarBodyContainer td {
		border-top: solid 1px #ccc;
		border-right: solid 1px #ccc;
		border-bottom: solid 0px rgb(102, 102, 102);
		border-left: solid 0px rgb(102, 102, 102);
}

/* GROUP: Selected Cell */
.linkapp_shamcey .dijitCalendarContainer td.dijitCalendarSelectedDate,
.linkapp_shamcey .dijitCalendarContainer td.dijitCalendarSelectedDate.dijitCalendarCurrentMonth {
	background-color: #0866c6 !important;
	background-image: none !important;
	filter: none !important;
		color: #e2e2d4 !important;
}

/* GROUP: Hover Cell */
.linkapp_shamcey .dijitCalendarContainer td.dijitCalendarHoveredDate,
.linkapp_shamcey .dijitCalendarContainer td.dijitCalendarHoveredDate.dijitCalendarCurrentMonth,
.linkapp_shamcey .dijitCalendarContainer .dijitCalendarHoveredYear,
.linkapp_shamcey .dijitCalendarContainer .dijitCalendarNextYear:hover,
.linkapp_shamcey .dijitCalendarContainer .dijitCalendarPreviousYear:hover {
		background-color: #908a8a !important;
		background-image: none !important;
		filter: none !important;
		color: #ebebe2;
}


/* GROUP: Dates Not In Month */
.linkapp_shamcey .dijitCalendarContainer .dijitCalendarPreviousMonth,
.linkapp_shamcey .dijitCalendarContainer .dijitCalendarNextMonth {
		background-color: #655f5f !important;
		background-image: none !important;
		filter: none !important;
		color: #bab0b0;
}

/* GROUP: Column Headings */
.linkapp_shamcey .dijitCalendarContainer .dijitCalendarDayLabelTemplate {
		background-color: #655f5f !important;
		background-image: none !important;
		filter: none !important;
		color: #bab0b0;
}

/* GROUP: Header */
.linkapp_shamcey tr.dijitCalendarMonthContainer th {    
	background-image: -webkit-gradient(linear, center top, center bottom, from(#0866c6), color-stop(51%,#0866ff), to(#0866ff));
	background-image: -moz-linear-gradient(top, #0866c6 0%,#0866ff 51%,#0866ff 100%);
	background-image: -o-linear-gradient(top, #0866c6 0%,#0866ff 51%,#0866ff 100%);
	background-image: -ms-linear-gradient(top, #0866c6 0%,#0866ff 51%,#0866ff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0866c6', endColorstr='#0866ff',GradientType=0);
}

/* GROUP: Month Container */
.linkapp_shamcey tr.dijitCalendarMonthContainer th {
	font-family: Ubuntu, Helvetica, sans-serif;
	font-size: 1em;
    color: #f3e6e6;
	font-weight: bold;
}

/* GROUP: Month Label */
.linkapp_shamcey tr.dijitCalendarMonthContainer th .dijitCalendarMonthLabel {
	font-family: Ubuntu, Helvetica, sans-serif;
	font-size: 1em;
    color: #FFFFFF; 
    font-weight: bold;
    border: solid 0px rgb(251, 251, 251); /* THEMER: HIDE */
    box-shadow: 0px 0px 0px black; /* THEMER: HIDE */
}

/* GROUP: Outer Widget */
.linkapp_shamcey table.dijitCalendarContainer {
		border: solid 2px rgb(102, 102, 102);

		border-radius: 4px;
		-webkit-border-radius: 4px;
}


/***** END SECTION: Calendar *****//***** START SECTION: Links *****/
/* GROUP: Links */
.linkapp_shamcey .wmapproot.WidgetThemerPage-demoPanelWithAppRoot > div > .wmlabel > .wmSizeNode a, /* THEMER: REMOVE LINE */ /* Theme designer needs to override studio's stylesheet, but running app does not need this */
.linkapp_shamcey .wmapproot a,
.linkapp_shamcey  #wavemakerNode  .wmapproot a,
.linkapp_shamcey .wmapproot.WidgetThemerPage-demoPanelWithAppRoot > div > .wmlabel > .wmSizeNode a:visited, /* THEMER: REMOVE LINE */ /* Theme designer needs to override studio's stylesheet, but running app does not need this */
#studio_designer.linkapp_shamcey .wmapproot a:visited,
.linkapp_shamcey  #wavemakerNode  .wmapproot a:visited {
	font-family: Ubuntu, Helvetica, sans-serif;
	font-size: 1em;
  color: #336699;
	font-weight: normal;
  text-decoration:underline;
}
/* GROUP: Hover */
.linkapp_shamcey .wmapproot.WidgetThemerPage-demoPanelWithAppRoot > div > .wmlabel > .wmSizeNode a:hover, /* THEMER: REMOVE LINE */
.linkapp_shamcey  #wavemakerNode  .wmapproot a:hover,
.linkapp_shamcey  #wavemakerNode  .wmapproot a:hover:visited {
  color: #336699;
  text-decoration:underline;
}

/* GROUP: Links being Clicked */
.linkapp_shamcey .wmapproot.WidgetThemerPage-demoPanelWithAppRoot > div > .wmlabel > .wmSizeNode a:active, /* THEMER: REMOVE LINE */
.linkapp_shamcey  #wavemakerNode  .wmapproot a:active,
.linkapp_shamcey  #wavemakerNode  .wmapproot a:hover:active,
.linkapp_shamcey  #wavemakerNode  .wmapproot a:hover:visited:active {
  color: #336699;
  text-decoration:none;
}

/* GROUP: Disabled Links */
.linkapp_shamcey .wmapproot.WidgetThemerPage-demoPanelWithAppRoot > div > .Disabled.wmlabel > .wmSizeNode a, /* THEMER: REMOVE LINE */
.linkapp_shamcey  #wavemakerNode  .wmapproot .Disabled a,
.linkapp_shamcey .wmapproot.WidgetThemerPage-demoPanelWithAppRoot > div > .Disabled.wmlabel > .wmSizeNode a:hover, /* THEMER: REMOVE LINE */
.linkapp_shamcey  #wavemakerNode  .wmapproot .Disabled a:hover,
.linkapp_shamcey .wmapproot.WidgetThemerPage-demoPanelWithAppRoot > div > .Disabled.wmlabel > .wmSizeNode a:active, /* THEMER: REMOVE LINE */
.linkapp_shamcey  #wavemakerNode  .wmapproot .Disabled a:active,
.linkapp_shamcey .wmapproot.WidgetThemerPage-demoPanelWithAppRoot > div > .Disabled.wmlabel > .wmSizeNode a:hover:active, /* THEMER: REMOVE LINE */
.linkapp_shamcey  #wavemakerNode  .wmapproot .Disabled a:hover:active,
.linkapp_shamcey .wmapproot.WidgetThemerPage-demoPanelWithAppRoot > div > .Disabled.wmlabel > .wmSizeNode a:hover:visited:active, /* THEMER: REMOVE LINE */
.linkapp_shamcey  #wavemakerNode  .wmapproot .Disabled a:hover:visited:active {
  color: #999999;
}
/***** END SECTION: Links *****//***** START SECTION: Dashboard *****/
/* GROUP: Portlet Titlebar */
.linkapp_shamcey .dojoxPortlet div.dijitTitlePaneTitle {
	font-family: Ubuntu, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: normal;

  min-height: 22px;
  line-height: 22px;
  padding-left: 10px;
}

.linkapp_shamcey .dojoxPortlet div.dijitTitlePaneTitle .dijitTitlePaneTextNode {
  color: #333333;
}

.linkapp_shamcey .dojoxPortlet {
  border: solid 1px #949494;
  border-radius: 4px;
}

.linkapp_shamcey .dojoxPortlet div.dijitTitlePaneTitle {
  background-color: #E8E9EA;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: solid 1px #949494;
}

/* GROUP: Portlet Titlebar Icons */
.linkapp_shamcey .dojoxPortlet div.dijitTitlePaneTitle .dojoxPortletIcon {
  border-color: #333333;
  width: 16px;
  height: 20px;
  margin-right: 4px;
}

/* GROUP: Portlet Close Icon */
.linkapp_shamcey .dojoxPortlet div.dijitTitlePaneTitle .dojoxPortletIcon.dojoxCloseNode {
  background-image: url(images/DialogIconsGray.png);
  background-position: 0px 0px;
  position: relative;
  top: 3px;
  height: 16px;
}
/* GROUP: Portlet Close Icon Hover */
.linkapp_shamcey .dojoxPortlet div.dijitTitlePaneTitle .dojoxPortletIcon.dojoxCloseNode:hover {
/* background-position: 0px -16px; // THEMER: DISABLED */
}

/* GROUP: Portlet Minify Icon */
.linkapp_shamcey .dojoxPortlet div.dijitTitlePaneTitle .dojoxPortletIcon.dojoxArrowDown {
  background-image: url(images/DialogIconsGray.png);
  position: relative;
  top: 3px;
  height: 16px;
  background-position: -16px 0px;
}

/* GROUP: Portlet Minify Icon Hover */
.linkapp_shamcey .dojoxPortlet div.dijitTitlePaneTitle .dojoxPortletIcon.dojoxArrowDown:hover {
/*  background-position: -16px -16px; // THEMER: DISABLED */
}

/* GROUP: Portlet Unminify Icon */
.linkapp_shamcey .dojoxPortlet div.dijitTitlePaneTitle.dijitClosed .dojoxPortletIcon.dojoxArrowDown {
  background-image: url(images/DialogIconsGray.png);
  background-position: -32px 0px;
}

/* GROUP: Portlet Unminify Icon Hover */
.linkapp_shamcey .dojoxPortlet div.dijitTitlePaneTitle.dijitClosed .dojoxPortletIcon.dojoxArrowDown:hover {
/*  background-position: -16px -16px; // THEMER: DISABLED */
}
/***** END SECTION: Dashboard *****//***** START SECTION: Dialogs *****/
/* GROUP: Dialog Frame */
.linkapp_shamcey .wmdialog {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 2px 2px 4px black;
	-webkit-box-shadow: 2px 2px 4px black;
}

/* GROUP: Dialog Container */
.linkapp_shamcey .wmdialog {
	background-color: rgb(240, 238, 238);
	background-image: none;
	filter: none;
	font-family: Ubuntu, Helvetica, sans-serif;
	font-size: 1em;
	color: #232323;
	font-weight: normal;
}

/* GROUP: Dialog Titlebar */
.linkapp_shamcey .dialogtitlebar .wmlabel{
	font-family: Ubuntu, Helvetica, sans-serif;
	font-size: 1em;
    color: #FFFFFF;
	font-weight: normal;
}

.linkapp_shamcey .dialogtitlebar {
	background-color: #0866c6;
	background-image: none;
	filter: none;
}


/* GROUP: Titlebar Buttons: Close Button */
.linkapp_shamcey .dialogtitlebar .dialogclosebutton {
    background-image: url(images/DialogIconsGray.png);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
}

/* GROUP: Titlebar Buttons: Minify Button */
.linkapp_shamcey .dialogtitlebar .dialogminifybutton {
    background-image: url(images/DialogIconsGray.png);
    background-position: -16px 0px;
    background-repeat: no-repeat;
}
/* GROUP: Titlebar Buttons: Maxify Button */
.linkapp_shamcey .dialogtitlebar .dialogmaxifybutton {
    background-image: url(images/DialogIconsGray.png);
    background-position: -32px 0px;
    background-repeat: no-repeat;
}

/***** END SECTION: Dialogs *****//***** START SECTION: Dialog Button Bars *****/

/* GROUP: Dialog Footer */
.linkapp_shamcey .dialogfooter,
.linkapp_shamcey .wmpagedialog-controlspanel {
	background-color: #232323;
	background-image: none;
	filter: none;
}

/* GROUP: Dialog Footer Buttons */
.linkapp_shamcey .dialogfooter .wmbutton {
	font-family: Ubuntu, Helvetica, sans-serif;
    border: 1px solid #666666;
	border-radius: 3px;
	-webkit-border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
	font-weight: normal;
    line-height: 12px;
/* 	text-shadow: 0 1px 0 #6a6969; // THEMER: DISABLED */
    vertical-align: middle;
    white-space: nowrap;
}

/* GROUP: Footer Buttons (Hover) */
.linkapp_shamcey .dialogfooter .wmbutton:hover {
    color: #FFFFFF;
	font-weight: normal;
/* 	box-shadow: 0px 0px 0px black; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 0px 0px 0px black; // THEMER: DISABLED */
	background-color: #373737;
	background-image: none;
	filter: none;
}

/* GROUP: Footer Buttons (Active) */
.linkapp_shamcey .dialogfooter button.wmbutton.toggleButtonDown,
.linkapp_shamcey .dialogfooter .wmbutton.Active,
.linkapp_shamcey .dialogfooter .wmbutton:active,
.linkapp_shamcey .dialogfooter .wmbutton.Active:hover,
.linkapp_shamcey .dialogfooter .wmbutton:active:hover {
    color: #FFFFFF; 
    background-color: #444444;
    background-image: none;
    filter: none;
/* 	box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
}


/***** END SECTION: Dialog Button Bars *****//***** START SECTION: Menus *****/
/* GROUP: Menu Bar Styling */
.linkapp_shamcey .dojoMenu .dijitMenu,
.linkapp_shamcey .dojoMenu .dijitMenuBar,
.linkapp_shamcey .dojoMenu .dijitMenuItem {
/* 	font-family: Ubuntu, Helvetica, sans-serif; // THEMER: DISABLED */
	font-size: 1em;
	font-weight: normal;
	color: #d2d2d2;

	background-color: transparent;
	background-image: none;
	filter: none;
}

.linkapp_shamcey .dojoMenu .dijitMenuBar .dijitMenuItem {
	margin-right: 8px;
}

/* GROUP: Menu Bar Hover */
.linkapp_shamcey .dojoMenu .dijitMenuItem.dijitMenuItemHover {
	color: #ffffff;
/* 	background-color: rgb(210, 210, 210); // THEMER: DISABLED */
/* 	background-image: none; // THEMER: DISABLED */
/* 	filter: none; // THEMER: DISABLED */
/* 	outline-top: solid 1px ; // THEMER: DISABLED */
/* 	outline-right: solid 0px ; // THEMER: DISABLED */
/* 	outline-bottom: solid 1px #222222; // THEMER: DISABLED */
/* 	outline-left: solid 0px ; // THEMER: DISABLED */
}

/* GROUP: Menu Bar Select */
.linkapp_shamcey .dojoMenu .dijitMenuItem.dijitMenuItemSelected {
/* 	color: #222222; // THEMER: DISABLED */
/* 	background-color: transparent; // THEMER: DISABLED */
/* 	background-image: none; // THEMER: DISABLED */
/* 	filter: none; // THEMER: DISABLED */
/* 	outline-top: solid 1px #ffffff; // THEMER: DISABLED */
/* 	outline-right: solid 1px #ffffff; // THEMER: DISABLED */
/* 	outline-bottom: solid 1px #ffffff; // THEMER: DISABLED */
/* 	outline-left: solid 1px #ffffff; // THEMER: DISABLED */
}

/* GROUP: Horizontal Menu Bar Icon */
.linkapp_shamcey .dojoMenu div.dijitMenuBar div.dijitMenuItem {
/* 	background: url(images/comboArrowDownDark.png) no-repeat 90% 50% !important; // THEMER: DISABLED */
/* 	padding-right: 25px !important; // THEMER: DISABLED */
}

/* THEMER: DO NOT SUBCLASS START */
/* GROUP: Popup Menu Box */
.linkapp_shamcey .dijitMenuPopup .dijitMenuTable {
	background-color: #ffffff;
	background-image: none;
	filter: none;
	border-top: solid 1px rgb(153, 153, 153);
	border-right: solid 1px #999999;
	border-bottom: solid 1px #999999;
	border-left: solid 1px #999999;
}
.linkapp_shamcey .dijitMenuPopup {
	box-shadow: 3px 3px 5px #222222;
	-webkit-box-shadow: 3px 3px 5px #222222;
}

/* GROUP: Popup Menu Item */
.linkapp_shamcey .dijitPopup .dijitMenuTable .dijitMenuItem {
	font-size: 1em;
/* 	font-family: Ubuntu, Helvetica, sans-serif; // THEMER: DISABLED */
	color: #222222;
	font-weight: normal;
	background-color: transparent; /* THEMER: IGNORE */
	background-image: none; /* THEMER: IGNORE */
	filter: none; /* THEMER: IGNORE */
	border-top: solid 0px rgb(251, 251, 251);
	border-right: solid 0px rgb(251, 251, 251);
	border-bottom: solid 0px rgb(170, 170, 170);
	border-left: solid 0px rgb(251, 251, 251);
}

/* GROUP: Popup Menu Item Hover/Selected */
/* NOTE: There is no good way with dojo menus to distinguish between hover and select */
.linkapp_shamcey .dijitPopup .dijitMenu.dijitMenuTable .dijitMenuItem.dijitMenuItemFocused,
.linkapp_shamcey .dijitPopup .dijitMenu.dijitMenuTable .dijitMenuItem.dijitMenuItemSelected {
    color: #FFFFFF;
	background-color: #0866c6;
	background-image: none;
	filter: none;
    outline-width: 0;
}
/* THEMER: DO NOT SUBCLASS END */
/***** END SECTION: Menus *****//***** START SECTION: Combobox Dropdowns *****/
/* GROUP: ComboBox Drop-down Box */
.linkapp_shamcey .dijitPopup .dijitCalendarMonthMenu,
.linkapp_shamcey  ul.dijitMenu {
	background-color: #ffffff;
	background-image: none;
	filter: none;
	border-top: solid 1px rgb(153, 153, 153);
	border-right: solid 1px black;
	border-bottom: solid 1px black;
	border-left: solid 1px black;
    box-shadow: 3px 3px 4px black;
}

/* GROUP: ComboBox Drop-down Items */
.linkapp_shamcey .dijitPopup .dijitCalendarMonthLabel,
.linkapp_shamcey  ul.dijitMenu .dijitMenuItem {
    padding: 4px 5px;
    text-align: left;
	font-size: 1em;
	font-family: Ubuntu, Helvetica, sans-serif;
	color: #444444;
	font-weight: normal;
    background-color: transparent; /* THEMER: IGNORE */
	border-top: solid 0px rgb(251, 251, 251);
	border-right: solid 0px rgb(251, 251, 251);
	border-bottom: solid 0px rgb(170, 170, 170);
	border-left: solid 0px rgb(251, 251, 251);
}


/* GROUP: ComboBox Item Hover */
.linkapp_shamcey .dijitPopup .dijitCalendarMonthLabel .dijitMenuItemSelected,
.linkapp_shamcey  ul.dijitMenu .dijitMenuItem.dijitMenuItemSelected {
	color: #0866c6;
    background-color: transparent; /* THEMER: IGNORE */
	border-top: solid 0px rgb(251, 251, 251);
	border-right: solid 0px rgb(251, 251, 251);
	border-bottom: solid 0px rgb(170, 170, 170);
	border-left: solid 0px rgb(251, 251, 251);
}

/***** END SECTION: Combobox Dropdowns *****//***** START SECTION: Tool Tips *****/
/* GROUP: Tool tips */
.linkapp_shamcey .AppToolTip {
	font-family: Ubuntu, Helvetica, sans-serif;
	font-size: 1em;
  color: black;
  font-weight: bold;

  background-color: #FFFECB;
  background-image: none;
  filter: none;

  border-radius: 0px;
  -webkit-border-radius: 0px;
  box-shadow: 2px 2px 2px #666;
}
/***** END SECTION: Tool Tips *****//***** START SECTION: Toast Dialogs *****/
/* GROUP: Toast Dialog */
html.WMApp .linkapp_shamcey div.wmtoast.wmtoastExtraSpecific {
    background-color: rgb(40,40,40);
    background-image: none;
    filter: none;

    -webkit-border-radius: 8px;
    border-radius: 8px;
     -webkit-box-shadow: 3px 4px 4px #222;
     box-shadow: 3px 4px 4px #222;
}
.linkapp_shamcey .wmtoast .wmtoastmessage {
	font-family: Ubuntu, Helvetica, sans-serif;
	font-size: 1em;
    color: black;
    font-weight: bold;
}

/* GROUP: Success Styling */
html.WMApp .linkapp_shamcey div.wmtoast.Success.wmtoastExtraSpecific {
    background-color: #ffffff;
    background-image: none;
    filter: none;
}
.linkapp_shamcey .wmtoast .wmtoasttitle,
.linkapp_shamcey .wmtoast.Success .wmtoastmessage {
    color: black;
}


/* GROUP: Success Graphic */
.linkapp_shamcey .wmtoast.Success .ToastLeft {
	background: url(images/OK.png) 0% 0%;
}

/* GROUP: Warning Styling */
html.WMApp .linkapp_shamcey div.wmtoast.Warning.wmtoastExtraSpecific {
    background-color: #ffffff;
    background-image: none;
    filter: none;
}
.linkapp_shamcey .wmtoast .wmtoasttitle,
.linkapp_shamcey .wmtoast.Warning .wmtoastmessage {
    color: black;
}

/* GROUP: Warning Graphic */
.linkapp_shamcey .wmtoast.Warning .ToastLeft {
   background-image: url(images/Caution.png);
}

/* GROUP: Error Styling */
html.WMApp .linkapp_shamcey div.wmtoast.Error.wmtoastExtraSpecific {
    background-color: #ffffff;
    background-image: none;
    filter: none;
}
.linkapp_shamcey .wmtoast .wmtoasttitle,
.linkapp_shamcey .wmtoast.Error .wmtoastmessage {
    color: black;
}

/* GROUP: Error Graphic */
.linkapp_shamcey .wmtoast.Error .ToastLeft {
   background-image: url(images/Close.png);
}

/* GROUP: Info Styling */
html.WMApp .linkapp_shamcey div.wmtoast.Info.wmtoastExtraSpecific {
    background-color: #ffffff;
    background-image: none;
    filter: none;
}
.linkapp_shamcey .wmtoast .wmtoasttitle,
.linkapp_shamcey .wmtoast.Info .wmtoastmessage {
    color: black;
}

/* GROUP: Info Graphic */
.linkapp_shamcey .wmtoast.Info .ToastLeft {
   background-image: url(images/Help\ Circle.png);
}

/* GROUP: Title */
.linkapp_shamcey .wmtoast .wmtoasttitle {
	font-family: Ubuntu, Helvetica, sans-serif;
	font-size: 1em;
    color: black;
    font-weight: bold;
}

/* GROUP: Opacity */
.wmtoastExtraSpecific.fadeInAnim {
      -webkit-animation-name: toastFadeInKeyFrames; /* THEMER: HIDE */
      -moz-animation-name: toastFadeInKeyFrames; /* THEMER: HIDE */
      animation-name: toastFadeInKeyFrames; /* THEMER: HIDE */
}

@keyframes toastFadeInKeyFrames {
   0% {
       opacity: 0; /* THEMER: HIDE */
   }
   100% {
       opacity: 0.9;
   }
 }

/* GROUP: Opacity again */
html.WMApp .linkapp_shamcey div.wmtoast.wmtoastExtraSpecific {
opacity: 0.9;
}
/***** END SECTION: Toast Dialogs *****/