/* GROUP: Container */
.linkapp_shamcey .wmfancypanel .wmFancyPanel-containerWidget {
    border-top-left-radius: 0px !important; /* THEMER: HIDE */
    border-top-right-radius: 0px !important;/* THEMER: HIDE */
    -webkit-border-top-left-radius: 0px !important;/* THEMER: HIDE */
    -webkit-border-top-right-radius: 0px !important;/* THEMER: HIDE */
    box-shadow: 0px 0px 0px black !important;/* THEMER: HIDE */
	border-radius: 4px;
	-webkit-border-radius: 4px;
    background-color: white;
    background-image: none;
    filter: none;
}


/* GROUP: Panel Title */
.linkapp_shamcey .wmfancypanel .wmFancyPanel-labelWidget {
	border-radius: 0px;
	-webkit-border-radius: 0px;

	font-family: Ubuntu, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: normal;
	color: #222222;
	background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(210, 210, 210)), color-stop(49%,rgb(160, 160, 160)), to(rgb(160, 160, 160)));
	background-image: -moz-linear-gradient(top, rgb(210, 210, 210) 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
	background-image: -o-linear-gradient(top, rgb(210, 210, 210) 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
	background-image: -ms-linear-gradient(top, rgb(210, 210, 210) 0%,rgb(160, 160, 160) 49%,rgb(160, 160, 160) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(210, 210, 210)', endColorstr='rgb(160, 160, 160)',GradientType=0);
}