/* GROUP: Tool tips */
.linkapp_shamcey .AppToolTip {
	font-family: Ubuntu, Helvetica, sans-serif;
	font-size: 1em;
  color: black;
  font-weight: bold;

  background-color: #FFFECB;
  background-image: none;
  filter: none;

  border-radius: 0px;
  -webkit-border-radius: 0px;
  box-shadow: 2px 2px 2px #666;
}