/* GROUP: Toast Dialog */
html.WMApp .divinamisericordiaweb div.wmtoast.wmtoastExtraSpecific {
	background-color: #282828;
	background-image: none;
	filter: none;

	border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 2px 2px 4px #222;
	-webkit-box-shadow: 2px 2px 4px #222;
}
.divinamisericordiaweb .wmtoast .wmtoastmessage {
	font-family: "Open Sans", sans-serif;
	font-size: 0.9em;
	color: #505050;
	font-weight: normal;
}

/* GROUP: Success Styling */
html.WMApp .divinamisericordiaweb div.wmtoast.Success.wmtoastExtraSpecific {
	background-color: #d7f0da;
	background-image: none;
	filter: none;
}
.divinamisericordiaweb .wmtoast .wmtoasttitle,
.divinamisericordiaweb .wmtoast.Success .wmtoastmessage {
	color: #072503;
}


/* GROUP: Success Graphic */
.divinamisericordiaweb .wmtoast.Success .ToastLeft {
   background-image: url(images/OK.png);
}

/* GROUP: Warning Styling */
html.WMApp .divinamisericordiaweb div.wmtoast.Warning.wmtoastExtraSpecific {
	background-color: #f0efd2;
	background-image: none;
	filter: none;
}
.divinamisericordiaweb .wmtoast .wmtoasttitle,
.divinamisericordiaweb .wmtoast.Warning .wmtoastmessage {
	color: #646a28;
}

/* GROUP: Warning Graphic */
.divinamisericordiaweb .wmtoast.Warning .ToastLeft {
   background-image: url(images/Caution.png);
}

/* GROUP: Error Styling */
html.WMApp .divinamisericordiaweb div.wmtoast.Error.wmtoastExtraSpecific {
	background-color: #f0d0d0;
	background-image: none;
	filter: none;
}
.divinamisericordiaweb .wmtoast .wmtoasttitle,
.divinamisericordiaweb .wmtoast.Error .wmtoastmessage {
	color: #9f1414;
}

/* GROUP: Error Graphic */
.divinamisericordiaweb .wmtoast.Error .ToastLeft {
   background-image: url(images/Close.png);
}

/* GROUP: Info Styling */
html.WMApp .divinamisericordiaweb div.wmtoast.Info.wmtoastExtraSpecific {
	background-color: #ced7eb;
	background-image: none;
	filter: none;
}
.divinamisericordiaweb .wmtoast .wmtoasttitle,
.divinamisericordiaweb .wmtoast.Info .wmtoastmessage {
	color: #132d65;
}

/* GROUP: Info Graphic */
.divinamisericordiaweb .wmtoast.Info .ToastLeft {
   background-image: url(images/Help\ Circle.png);
}

/* GROUP: Title */
.divinamisericordiaweb .wmtoast .wmtoasttitle {
	font-family: "Open Sans", sans-serif;
	font-size: 1.25em;
	color: #373737;
	font-weight: bold;
}

/* GROUP: Opacity */
.wmtoastExtraSpecific.fadeInAnim {
      -webkit-animation-name: toastFadeInKeyFrames; /* THEMER: HIDE */
      -moz-animation-name: toastFadeInKeyFrames; /* THEMER: HIDE */
      animation-name: toastFadeInKeyFrames; /* THEMER: HIDE */
}

@keyframes toastFadeInKeyFrames {
   0% {
       opacity: 0; /* THEMER: HIDE */
   }
   100% {
	opacity: 0.9;
   }
 }

/* GROUP: Opacity again */
html.WMApp .divinamisericordiaweb div.wmtoast.wmtoastExtraSpecific {
	opacity: 0.9;
}