/* GROUP: Main Document Styles */
.clinica  .wmapproot {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
	font-weight: normal;
}
.clinica .wmapproot > .wmpagecontainer,
.clinica.wmapproot > .wmpagecontainer,
.clinica #studio_designer > .wmlayout {
	border-radius: 0px;
	-webkit-border-radius: 0px;
/* 	box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
	background-color: #ffffff;
	background-image: none;
	filter: none;
}

/* IE9 has buggy display when combinding both gradients and radius.
 * Gradients and not radius work on IE8, so we'll just do it the IE 8 way */
.dj_ie9 .clinica div,
.dj_ie9 .clinica input,
.dj_ie9 .clinica button {
   border-radius: 0px !important; /* THEMER: HIDE */
}