/* GROUP: Tool tips */
.clinica .AppToolTip {
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	color: #333333;
	font-weight: normal;

  background-color: #FFFECB;
  background-image: none;
  filter: none;

	border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: 4px 4px 8px #666;
	-webkit-box-shadow: 4px 4px 8px #666;
}