/* GROUP: Main Document Styles */
.phonegap  .wmapproot {
	font-family: "Open Sans",sans-serif;
	font-size: 12px;
	color: #373737;
	font-weight: normal;
}
.phonegap .wmapproot > .wmpagecontainer,
.phonegap.wmapproot > .wmpagecontainer,
.phonegap #studio_designer > .wmlayout {
/* 	border-radius: 0px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 0px; // THEMER: DISABLED */
/* 	box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
	background-color: #eeeeee;
	background-image: none;
	filter: none;
}

/* IE9 has buggy display when combinding both gradients and radius.
 * Gradients and not radius work on IE8, so we'll just do it the IE 8 way */
.dj_ie9 .phonegap div,
.dj_ie9 .phonegap input,
.dj_ie9 .phonegap button {
   border-radius: 0px !important; /* THEMER: HIDE */
}