/* GROUP: Toast Dialog */
html.WMApp .phonegap div.wmtoast.wmtoastExtraSpecific {
    background-color: rgb(40,40,40);
    background-image: none;
    filter: none;

	border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: 4px 4px 8px #222;
	-webkit-box-shadow: 4px 4px 8px #222;
}
.phonegap .wmtoast .wmtoastmessage {
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	color: #505050;
	font-weight: normal;
}

/* GROUP: Success Styling */
html.WMApp .phonegap div.wmtoast.Success.wmtoastExtraSpecific {
	background-color: #c8e6c9;
	background-image: none;
	filter: none;
}
.phonegap .wmtoast .wmtoasttitle,
.phonegap .wmtoast.Success .wmtoastmessage {
	color: #1b5e20;
}


/* GROUP: Success Graphic */
.phonegap .wmtoast.Success .ToastLeft {
   background-image: url(images/OK.png);
}

/* GROUP: Warning Styling */
html.WMApp .phonegap div.wmtoast.Warning.wmtoastExtraSpecific {
	background-color: #fff9c4;
	background-image: none;
	filter: none;
}
.phonegap .wmtoast .wmtoasttitle,
.phonegap .wmtoast.Warning .wmtoastmessage {
	color: #f57f17;
}

/* GROUP: Warning Graphic */
.phonegap .wmtoast.Warning .ToastLeft {
   background-image: url(images/Caution.png);
}

/* GROUP: Error Styling */
html.WMApp .phonegap div.wmtoast.Error.wmtoastExtraSpecific {
	background-color: #ffcdd2;
	background-image: none;
	filter: none;
}
.phonegap .wmtoast .wmtoasttitle,
.phonegap .wmtoast.Error .wmtoastmessage {
	color: #b71c1c;
}

/* GROUP: Error Graphic */
.phonegap .wmtoast.Error .ToastLeft {
   background-image: url(images/Close.png);
}

/* GROUP: Info Styling */
html.WMApp .phonegap div.wmtoast.Info.wmtoastExtraSpecific {
	background-color: #bbdefb;
	background-image: none;
	filter: none;
}
.phonegap .wmtoast .wmtoasttitle,
.phonegap .wmtoast.Info .wmtoastmessage {
	color: #0d47a1;
}

/* GROUP: Info Graphic */
.phonegap .wmtoast.Info .ToastLeft {
   background-image: url(images/Help\ Circle.png);
}

/* GROUP: Title */
.phonegap .wmtoast .wmtoasttitle {
	font-family: "Open Sans",sans-serif;
	font-size: 14px;
	color: #212121;
	font-weight: bold;
}

/* GROUP: Opacity */
.wmtoastExtraSpecific.fadeInAnim {
      -webkit-animation-name: toastFadeInKeyFrames; /* THEMER: HIDE */
      -moz-animation-name: toastFadeInKeyFrames; /* THEMER: HIDE */
      animation-name: toastFadeInKeyFrames; /* THEMER: HIDE */
}

@keyframes toastFadeInKeyFrames {
   0% {
       opacity: 0; /* THEMER: HIDE */
   }
   100% {
	opacity: 0.9;
   }
 }

/* GROUP: Opacity again */
html.WMApp .phonegap div.wmtoast.wmtoastExtraSpecific {
	opacity: 0.9;
}