/* GROUP: Calendar Cells */
.parquebicentenario .dijitCalendarDayLabel,
.parquebicentenario .dijitCalendarDateLabel {
	font-size: 13px;
}

.parquebicentenario table.dijitCalendarContainer td.dijitCalendarCurrentMonth {
	background-color: #ffffff !important;
	background-image: none !important;
	filter: none !important;
	color: #474747;
}

.parquebicentenario .dijitCalendarBodyContainer td {
	border-top: solid 1px rgb(204, 204, 204);
	border-right: solid 1px rgb(204, 204, 204);
	border-bottom: solid 0px rgb(102, 102, 102);
	border-left: solid 0px rgb(102, 102, 102);
}

/* GROUP: Selected Cell */
.parquebicentenario .dijitCalendarContainer td.dijitCalendarSelectedDate,
.parquebicentenario .dijitCalendarContainer td.dijitCalendarSelectedDate.dijitCalendarCurrentMonth {
	background-color: #851912 !important;
	background-image: none !important;
	filter: none !important;
	color: #ffffff !important;
}

/* GROUP: Hover Cell */
.parquebicentenario .dijitCalendarContainer td.dijitCalendarHoveredDate,
.parquebicentenario .dijitCalendarContainer td.dijitCalendarHoveredDate.dijitCalendarCurrentMonth,
.parquebicentenario .dijitCalendarContainer .dijitCalendarHoveredYear,
.parquebicentenario .dijitCalendarContainer .dijitCalendarNextYear:hover,
.parquebicentenario .dijitCalendarContainer .dijitCalendarPreviousYear:hover {
	background-color: #851912 !important;
	background-image: none !important;
	filter: none !important;
	color: #969696;
}


/* GROUP: Dates Not In Month */
.parquebicentenario .dijitCalendarContainer .dijitCalendarPreviousMonth,
.parquebicentenario .dijitCalendarContainer .dijitCalendarNextMonth {
	background-color: #ffffff !important;
	background-image: none !important;
	filter: none !important;
	color: #dfdfdf;
}

/* GROUP: Column Headings */
.parquebicentenario .dijitCalendarContainer .dijitCalendarDayLabelTemplate {
	background-color: #eeeeee !important;
	background-image: none !important;
	filter: none !important;
	color: #474747;
}

/* GROUP: Header */
.parquebicentenario tr.dijitCalendarMonthContainer th {    
	background-color: #787878;
	background-image: none;
	filter: none;
}

/* GROUP: Month Container */
.parquebicentenario tr.dijitCalendarMonthContainer th {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	color: #eeeeee;
	font-weight: normal;
}

/* GROUP: Month Label */
.parquebicentenario tr.dijitCalendarMonthContainer th .dijitCalendarMonthLabel {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
    color: #FFFFFF; 
	font-weight: normal;
    border: solid 0px rgb(251, 251, 251); /* THEMER: HIDE */
    box-shadow: 0px 0px 0px black; /* THEMER: HIDE */
}

/* GROUP: Outer Widget */
.parquebicentenario table.dijitCalendarContainer {
/* 	border: solid 2px rgb(102, 102, 102); // THEMER: DISABLED */

/* 	border-radius: 4px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 4px; // THEMER: DISABLED */
}

