/* TODO: Fix all .dijitButtonContents which are found in Select editors which are found in editable grid */

/* GROUP: Standard Editors */
/* THEMER: DO NOT SUBCLASS START */
.parquebicentenario .dojoxGrid .dijitTextBox,
.parquebicentenario .dojoxGrid .dijitComboBox,
.parquebicentenario .dojoxGrid .dijitSelect .dijitButtonContents,
/* THEMER: DO NOT SUBCLASS END */
.parquebicentenario .wmeditor .dijitTextBox,
.parquebicentenario .wmeditor .dijitTextArea,
.parquebicentenario .wmeditor .dijitComboBox,
.parquebicentenario .wmeditor .dijitSelect .dijitButtonContents,
.parquebicentenario .dijitTimePickerItem,
.parquebicentenario .wmeditor .RichTextEditable iframe {
	border: solid 1px #a8a8a8;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	color: #474747;
	font-weight: normal;
	background-color: #ffffff;
	background-image: none;
	filter: none;
/* 	padding: 0px ; // THEMER: DISABLED */
}

/* THEMER: DO NOT SUBCLASS START */
.parquebicentenario  .wmeditor .dijitTextBox,
.parquebicentenario  .wmeditor .dijitTextArea,
.parquebicentenario  .wmeditor .dijitComboBox,
/* THEMER: DO NOT SUBCLASS END */
.parquebicentenario  .dojoxGrid .dijitTextBox,
.parquebicentenario  .dojoxGrid .dijitTextArea,
.parquebicentenario  .dojoxGrid .dijitComboBox
 {
	border-radius: 2px;
	-webkit-border-radius: 2px;
}

.parquebicentenario .wmeditor.wmrichtext {
    -webkit-border-bottom-left-radius: 4px;  /* THEMER: CALC: ${border-bottom-left-radius} */
    -webkit-border-bottom-right-radius: 4px; /* THEMER: CALC: ${border-bottom-right-radius} */
    border-bottom-left-radius: 4px;       /* THEMER: CALC: ${border-bottom-left-radius} */
    border-bottom-right-radius: 4px;      /* THEMER: CALC: ${border-bottom-right-radius} */
}


/* GROUP: Hover */
/* THEMER: DO NOT SUBCLASS START */
.parquebicentenario .dijitTimePickerMarker.dijitTimePickerMarkerHover,
.parquebicentenario .dijitTimePickerItem.dijitTimePickerItemHover,
/* THEMER: DO NOT SUBCLASS END */
.parquebicentenario .wmeditor .dijitTextBox.dijitHover,
.parquebicentenario .wmeditor .dijitTextArea:hover,
.parquebicentenario .wmeditor .dijitComboBox.dijitHover,
.parquebicentenario .wmeditor .dijitSelect.dijitHover .dijitButtonContents,
.parquebicentenario .wmeditor .RichTextEditable:hover iframe {
	color: #505050;
	border: solid 1px #851912;
	background-color: #ffffff;
	background-image: none;
	filter: none;
}

/* GROUP: Focus */
/* THEMER: DO NOT SUBCLASS START */
.parquebicentenario .dojoxGrid .dijitTextBox.dijitFocused,
.parquebicentenario .dojoxGrid .dijitComboBox.dijitFocused,
.parquebicentenario .dojoxGrid .dijitSelect.dijitFocused .dijitButtonContents,
/* THEMER: DO NOT SUBCLASS END */
.parquebicentenario .wmeditor .dijitTextBox.dijitFocused,
.parquebicentenario .wmeditor .dijitTextBox.dijitFocused.dijitHover,
.parquebicentenario .wmeditor .dijitTextArea.dijitFocused,
.parquebicentenario .wmeditor .dijitTextArea.dijitFocused:hover,
.parquebicentenario .wmeditor .dijitComboBox.dijitFocused,
.parquebicentenario .wmeditor .dijitComboBox.dijitFocused.dijitHover,
.parquebicentenario .wmeditor .dijitSelect.dijitFocused .dijitButtonContents,
.parquebicentenario .wmeditor .dijitSelect.dijitFocused.dijitHover .dijitButtonContents,
.parquebicentenario .isDirty.wmeditor .dijitTextBox.dijitFocused,
.parquebicentenario .isDirty.wmeditor .dijitTextArea.dijitFocused,
.parquebicentenario .isDirty.wmeditor .dijitComboBox.dijitFocused,
.parquebicentenario .wmeditor .RichTextEditable.Focused iframe {
	color: #505050;
	border: solid 1px #851912;
	background-color: rgb(250, 250, 250);
	background-image: none;
	filter: none;
}

/* GROUP: isDirty */
.parquebicentenario .isDirty.wmeditor .dijitTextBox,
.parquebicentenario .isDirty.wmeditor .dijitTextArea,
.parquebicentenario .isDirty.wmeditor .dijitComboBox {
/* 	color: #ffffff; // THEMER: DISABLED */
	border: solid 1px #a8a8a8;
/* 	background-color: #b98181; // THEMER: DISABLED */
/* 	background-image: none; // THEMER: DISABLED */
/* 	filter: none; // THEMER: DISABLED */
}

/* GROUP: Invalid */
.parquebicentenario .wmeditor .dijitError.dijitTextBox,
.parquebicentenario .wmeditor .dijitError.dijitTextArea,
.parquebicentenario .wmeditor .dijitError.dijitComboBox,
.parquebicentenario .wmeditor .dijitError.isDirty.dijitTextBox,
.parquebicentenario .wmeditor .dijitError.isDirty.dijitTextArea,
.parquebicentenario .wmeditor .dijitError.isDirty.dijitComboBox
{
	color: #ffffff;
	border: solid 1px #a8a8a8;
	background-color: #c90909;
	background-image: none;
	filter: none;
}


/* GROUP: Captions */
.parquebicentenario .wmeditor .wmeditor-caption {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	color: #474747;
	font-weight: normal;
}

/* GROUP: Read-only */
.parquebicentenario .wmeditor .wmeditor-readonlyNode {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
    border: solid 1px #a8a8a8;
/* 	color: ; // THEMER: DISABLED */
/* 	font-weight: undefined; // THEMER: DISABLED */
}


/* GROUP: Drop Down Boxes */
/* THEMER: DO NOT SUBCLASS START */
.parquebicentenario .dojoxGrid .dijitComboBox .dijitArrowButton,
/* THEMER: DO NOT SUBCLASS END */
.parquebicentenario .wmeditor .dijitSpinner .dijitArrowButton,
.parquebicentenario .wmeditor .dijitComboBox .dijitArrowButton,
.parquebicentenario .wmeditor .dijitSelect .dijitArrowButton {
	background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(255, 255, 255)), color-stop(50%,rgb(217, 217, 217)), to(rgb(217, 217, 217)));
	background-image: -moz-linear-gradient(top, rgb(255, 255, 255) 0%,rgb(217, 217, 217) 50%,rgb(217, 217, 217) 100%);
	background-image: -o-linear-gradient(top, rgb(255, 255, 255) 0%,rgb(217, 217, 217) 50%,rgb(217, 217, 217) 100%);
	background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%,rgb(217, 217, 217) 50%,rgb(217, 217, 217) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(255, 255, 255)', endColorstr='rgb(217, 217, 217)',GradientType=0);
}

/* THEMER: DO NOT SUBCLASS START */
.parquebicentenario .dojoxGrid .dijitComboBox .dijitArrowButton,
.parquebicentenario .dijitComboBox .dijitArrowButton .dijitArrowButtonInner, /* Grid combo boxes and selects */
.parquebicentenario .dijitSelect .dijitArrowButton .dijitArrowButtonInner,
/* THEMER: DO NOT SUBCLASS END */
.parquebicentenario .wmeditor .dijitComboBox .dijitArrowButton,
.parquebicentenario .wmeditor .dijitSelect .dijitArrowButton,
.parquebicentenario .wmeditor .dijitComboBox .dijitArrowButton .dijitArrowButtonInner,
.parquebicentenario .wmeditor .dijitSelect .dijitArrowButton .dijitArrowButtonInner {
/* 	border-radius: 0px 2px 2px 0px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 0px 2px 2px 0px; // THEMER: DISABLED */
}


/* GROUP: Drop Down Boxes Hover */ 
/* THEMER: DO NOT SUBCLASS START */
.parquebicentenario .dojoxGrid .dijitComboBox .dijitArrowButton:hover,
/* THEMER: DO NOT SUBCLASS END */
.parquebicentenario .wmeditor .dijitSpinner .dijitArrowButton:hover,
.parquebicentenario .wmeditor .dijitComboBox .dijitArrowButton:hover,
.parquebicentenario .wmeditor .dijitSelect .dijitArrowButton:hover {
/* 		  background-color: rgb(255, 102, 102); // THEMER: DISABLED */
/* 		  background-image: none; // THEMER: DISABLED */
/* 		  filter: none; // THEMER: DISABLED */
}

/* GROUP: Drop Down Clicking */
/* THEMER: DO NOT SUBCLASS START */
.parquebicentenario .dojoxGrid .dijitComboBox .dijitArrowButton:active,
/* THEMER: DO NOT SUBCLASS END */
.parquebicentenario .wmeditor .dijitSpinner .dijitArrowButton:active,
.parquebicentenario .wmeditor .dijitComboBox .dijitArrowButton:active,
.parquebicentenario .wmeditor .dijitSelect .dijitArrowButton:active {
/* 		  background-color: rgb(102, 102, 255); // THEMER: DISABLED */
/* 		  background-image: none; // THEMER: DISABLED */
/* 		  filter: none; // THEMER: DISABLED */
		  
}


/* GROUP: Drop Down Box Arrows */
/* THEMER: DO NOT SUBCLASS START */
.parquebicentenario .dijitComboBox .dijitArrowButton .dijitArrowButtonInner,
.parquebicentenario .dijitSelect .dijitArrowButton .dijitArrowButtonInner,
/* THEMER: DO NOT SUBCLASS END */
.parquebicentenario .wmeditor .dijitComboBox .dijitArrowButton .dijitArrowButtonInner,
.parquebicentenario .wmeditor .dijitSelect .dijitArrowButton .dijitArrowButtonInner {
	background: url(images/comboArrowDownDark.png) no-repeat 50% 50%;
}



/* GROUP: Spinner Arrows Down */
.parquebicentenario .wmeditor .dijitSpinner .dijitArrowButton .dijitArrowButtonInner {
	background: url(images/comboArrowDownDark.png) no-repeat 30% 30%;
}

/* GROUP: Spinner Arrows Up */
.parquebicentenario .wmeditor .dijitSpinner .dijitArrowButton.dijitUpArrowButton .dijitArrowButtonInner {
	background: url(images/comboArrowUpDark.png) no-repeat 0% 0%;
}



/* GROUP: Sliders */
.parquebicentenario .wmeditor .dijitSlider .dijitSliderImageHandleH {
    background: url(images/preciseSliderThumb.png) no-repeat 50% 0%;
    outline-width: 0;
}

/* GROUP: Slider Bar Progress */
.parquebicentenario .wmeditor .dijitSlider .dijitSliderProgressBarH,
.parquebicentenario .wmeditor .dijitSlider .dijitSliderLeftBumper,
.parquebicentenario .wmeditor .dijitSliderFocused.dijitSlider .dijitSliderProgressBarH,
.parquebicentenario .wmeditor .dijitSliderFocused.dijitSlider .dijitSliderLeftBumper {
	background-color: #851912;
	background-image: none;
	filter: none;
}

/* GROUP: Slider Bar Remainder */
.parquebicentenario .wmeditor .dijitSlider .dijitSliderRemainingBarH,
.parquebicentenario .wmeditor .dijitSlider .dijitSliderRightBumper,
.parquebicentenario .wmeditor .dijitSliderFocused.dijitSlider .dijitSliderRemainingBarH,
.parquebicentenario .wmeditor .dijitSliderFocused.dijitSlider .dijitSliderRightBumper {
	background-color: #dcdcdc;
	background-image: none;
	filter: none;
}    
