/* GROUP: ProgressBar */
.parquebicentenario .wmprogressbar .dijitProgressBar {
/* 	border-radius: 8px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 8px; // THEMER: DISABLED */
/* 	border: solid 1px black; // THEMER: DISABLED */
}


.parquebicentenario .wmprogressbar .dijitProgressBarLabel {
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
		color: #FFFFFF;
	font-weight: normal;
}

.parquebicentenario .wmprogressbar .dijitProgressBar {
	background-color: #b4b4b4;
	background-image: none;
	filter: none;
}


/* GROUP: Progress Indicator */
.parquebicentenario .wmprogressbar .dijitProgressBarFull {
	background-color: #851912;
	background-image: none;
	filter: none;
/* 	border-radius: 8px 0px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 8px 0px; // THEMER: DISABLED */
/* 	border-top: solid 0px black; // THEMER: DISABLED */
/* 	border-right: solid 1px black; // THEMER: DISABLED */
/* 	border-bottom: solid 0px black; // THEMER: DISABLED */
/* 	border-left: solid 0px black; // THEMER: DISABLED */
    }


.parquebicentenario .wmprogressbar .dijitProgressBarTile {
   background-image: inherit; /* THEMER: HIDE */
   background-color: inherit; /* THEMER: HIDE */
}