/* GROUP: Toggle Panel */
.parquebicentenario .wmtogglebuttonpanel {
/* 	border-radius: 8px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 8px; // THEMER: DISABLED */
}

/* GROUP: First Button Radius */
.parquebicentenario .wmtogglebuttonpanel .wmbutton:first-child {
/* 	border-radius: 8px 0px 0px 8px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 8px 0px 0px 8px; // THEMER: DISABLED */
}

/* GROUP: Last Button Radius */
.parquebicentenario .wmtogglebuttonpanel .wmbutton:last-child {
/* 	border-radius: 0px 8px 8px 0px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 0px 8px 8px 0px; // THEMER: DISABLED */
}

/* GROUP: Middle Buttons Radius */
.parquebicentenario .wmapproot .wmtogglebuttonpanel .wmbutton {
/* 	border-radius: 0px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 0px; // THEMER: DISABLED */
}


/* GROUP: Buttons */
.parquebicentenario .wmtogglebuttonpanel .wmbutton {
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	color: #ffffff;
	font-weight: normal;

	background-color: #1c1e20;
	background-image: none;
	filter: none;
}


/* GROUP: Selected Button */
.parquebicentenario .wmtogglebuttonpanel .wmbutton.toggleButtonDown {
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	color: #ffffff;
	font-weight: normal;

	background-color: #851912;
	background-image: none;
	filter: none;
}