/* GROUP: Dialog Frame */
.phonegap .wmdialog {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 2px 2px 4px black;
	-webkit-box-shadow: 2px 2px 4px black;
}

/* GROUP: Dialog Container */
.phonegap .wmdialog {
	background-color: #ffffff;
	background-image: none;
	filter: none;
	font-family: "Open Sans",sans-serif;
	font-size: 12px;
	color: #373737;
	font-weight: normal;
}

/* GROUP: Dialog Titlebar */
.phonegap .dialogtitlebar .wmlabel{
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	color: #1976d2;
	font-weight: bold;
}

.phonegap .dialogtitlebar {
	background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(255, 255, 255)), color-stop(37%,rgb(220, 220, 220)), to(rgb(220, 220, 220)));
	background-image: -moz-linear-gradient(top, rgb(255, 255, 255) 0%,rgb(220, 220, 220) 37%,rgb(220, 220, 220) 100%);
	background-image: -o-linear-gradient(top, rgb(255, 255, 255) 0%,rgb(220, 220, 220) 37%,rgb(220, 220, 220) 100%);
	background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%,rgb(220, 220, 220) 37%,rgb(220, 220, 220) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(255, 255, 255)', endColorstr='rgb(220, 220, 220)',GradientType=0);
}


/* GROUP: Titlebar Buttons: Close Button */
.phonegap .dialogtitlebar .dialogclosebutton {
/* 	background: url(images/DialogIconsGray.png) repeat 0% 0%; // THEMER: DISABLED */
}

/* GROUP: Titlebar Buttons: Minify Button */
.phonegap .dialogtitlebar .dialogminifybutton {
/* 	background: url(images/DialogIconsGray.png) no-repeat -16px 0px; // THEMER: DISABLED */
}
/* GROUP: Titlebar Buttons: Maxify Button */
.phonegap .dialogtitlebar .dialogmaxifybutton {
/* 	background: url(images/DialogIconsGray.png) no-repeat -32px 0px; // THEMER: DISABLED */
}
