/* GROUP: Standard Button */
/* dijitReset needed for popupButton */
.qventas .wmbutton,
.qventas button.wmbutton, /* mostly to clobber .dj_ie .wmbutton in default/theme.css */
.qventas .wmbutton .dijitReset {
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	color: #474747;
	font-weight: normal;
}
.qventas .wmbutton {
	border-radius: 4px;
	-webkit-border-radius: 4px;
/* 	box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
	background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(255, 255, 255)), color-stop(75%,#d2d2d2), to(#d2d2d2));
	background-image: -moz-linear-gradient(top, rgb(255, 255, 255) 0%,#d2d2d2 75%,#d2d2d2 100%);
	background-image: -o-linear-gradient(top, rgb(255, 255, 255) 0%,#d2d2d2 75%,#d2d2d2 100%);
	background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%,#d2d2d2 75%,#d2d2d2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(255, 255, 255)', endColorstr='#d2d2d2',GradientType=0);
}

/* GROUP: Hover State */
 .qventas   .wmbutton:hover {
 	color: #FFFFFF;
	font-weight: normal;
/* 	box-shadow: 0px 0px 0px black; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 0px 0px 0px black; // THEMER: DISABLED */
	background-color: #0866c6;
	background-image: none;
	filter: none;
}


/* GROUP: Active State */
/* button.wmbutton required instead of .wmbutton for IE8 */
.qventas   button.wmbutton.toggleButtonDown,
.qventas   .wmbutton.Active,
.qventas   .wmbutton.Active:hover,
.qventas   .wmbutton:active,
.qventas   .wmbutton:hover:active {
	color: #FFFFFF;
	font-weight: normal;
/* 	box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
	background-color: #68a2df;
	background-image: none;
	filter: none;
}

/* GROUP: Focus State */
/* NOTE: This occurs when the user tabs to the button.
  It may also occur when the user clicks the button */
.qventas   .wmbutton:focus {
     outline: solid 1px #9999ff;
}

/* GROUP: Popup Menu */
.qventas .wmbutton.wmPopupButton .popupIcon {
   background-image: url(lib/wm/base/widget/themes/wm_default/images/comboArrowDownDark.png);
   background-position: 0% 50%;
}

/* GROUP: Disabled Button */
.qventas .Disabled.wmbutton,
.qventas .Disabled.wmbutton:hover,
.qventas .Disabled.wmbutton:active,
.qventas .Disabled.wmbutton:active:hover {
	color: #fbfbfb;
	font-weight: normal;
/* 	box-shadow: 0px 0px 0px black; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 0px 0px 0px black; // THEMER: DISABLED */
  background-color: #333333;
  background-image: none;
	opacity: 0.25;
}