/* GROUP: Tool tips */
.dgr .AppToolTip {
/* 	font-family: Helvetica, sans-serif; // THEMER: DISABLED */
	font-size: 1em;
	color: #ffffff;
	font-weight: normal;

	background-color: #505050;
	background-image: none;
	filter: none;

	border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: 4px 4px 8px #666;
	-webkit-box-shadow: 4px 4px 8px #666;
}