/* GROUP: Main Document Styles */
.enreja_2015  .wmapproot {
	font-family: Verdana, Geneva, sans-serifVerdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	font-weight: normal;
}
.enreja_2015 .wmapproot > .wmpagecontainer,
.enreja_2015.wmapproot > .wmpagecontainer,
.enreja_2015 #studio_designer > .wmlayout {
	border-radius: 0px;
	-webkit-border-radius: 0px;
/* 	box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
	background-color: #ffffff;
	background-image: none;
	filter: none;
}

/* IE9 has buggy display when combinding both gradients and radius.
 * Gradients and not radius work on IE8, so we'll just do it the IE 8 way */
.dj_ie9 .enreja_2015 div,
.dj_ie9 .enreja_2015 input,
.dj_ie9 .enreja_2015 button {
   border-radius: 0px !important; /* THEMER: HIDE */
}