/* GROUP: Grid Rows */
.enreja_2015 .GridListStyle div.dojoxGrid, 
.enreja_2015 .GridListStyle .wmlist {
	font-size: 11px;
}

.enreja_2015 .GridListStyle  .wmlist-cell,
.enreja_2015 .GridListStyle td.dojoxGridCell {
	border-top: solid 0px rgb(153, 153, 153);
	border-right: solid 0px rgb(153, 153, 153);
	border-bottom: solid 0px rgb(153, 153, 153);
	border-left: solid 0px rgb(153, 153, 153);
}

.enreja_2015 .GridListStyle div.dojoxGridRow,
.enreja_2015 .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOver,
.enreja_2015 .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOver td.dojoxGridCell,
.enreja_2015 .GridListStyle div.wmlist-item,
.enreja_2015 .GridListStyle.Disabled div.wmlist-item.wmlist-item-over  {
	font-family: Verdana, Geneva, sans-serifVerdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.enreja_2015 .GridListStyle div.dojoxGridContent .dojoxGridCell {
   background-color: transparent; /* THEMER: HIDE */
}

.enreja_2015 .GridListStyle div.dojoxGridContent .dojoxGridCellFocus,
.enreja_2015 .GridListStyle div.dojoxGridContent .dojoxGrid-cell-focus {
   border: 1px dashed transparent !important; /* THEMER: HIDE */
}


/* GROUP: Odd Numbered Rows */
.enreja_2015 .GridListStyle div.dojoxGridRow,
.enreja_2015 .GridListStyle div.wmlist-item,

/* Disabled grid rows */
.enreja_2015 .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOver,
.enreja_2015 .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowSelected,
.enreja_2015 .GridListStyle.Disabled .dojoxGridRowOver td.dojoxGridCell,
.enreja_2015 .GridListStyle.Disabled div.wmlist-item.wmlist-item-over,
.enreja_2015 .GridListStyle.Disabled div.wmlist-item.wmlist-item-selected,

/* Disabled odd    rows */
.enreja_2015 .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOdd.dojoxGridRowOver,
.enreja_2015 .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOdd.dojoxGridRowSelected,
.enreja_2015 .GridListStyle.Disabled div.wmlist-item.Odd.wmlist-item-over,
.enreja_2015 .GridListStyle.Disabled div.wmlist-item.Odd.wmlist-item-selected   {
	color: #333;
	background-color: #ffffff;
	background-image: none;
	filter: none;
}


/* GROUP: Even Numbered Rows */
.enreja_2015 .GridListStyle div.dojoxGrid-row.dojoxGrid-row-odd,
.enreja_2015 .GridListStyle div.dojoxGridRow.dojoxGridRowOdd,
.enreja_2015 .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOdd.dojoxGridRowOver,
.enreja_2015 .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOdd.dojoxGridRowSelected,
.enreja_2015 .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOdd.dojoxGridRowOver td.dojoxGridCell,
.enreja_2015 .GridListStyle.Disabled div.wmlist-item.Odd.wmlist-item-over,
.enreja_2015 .GridListStyle.Disabled div.wmlist-item.Odd.wmlist-item-selected,
.enreja_2015 .GridListStyle .wmlist-item.Odd {
	color: #333;
	background-color: #e6e6e6;
	background-image: none;
	filter: none;
}

/* GROUP: Selected Row */
.enreja_2015 .GridListStyle .dojoxGridRow.dojoxGridRowSelected,
.enreja_2015 .GridListStyle.Disabled .dojoxGridRow.dojoxGridRowSelected,
.enreja_2015 .GridListStyle .dojoxGridRow.dojoxGridRowSelected td.dojoxGridCell,
.enreja_2015 .GridListStyle .dojoxGridRow.dojoxGridRowOdd.dojoxGridRowSelected,
.enreja_2015 .GridListStyle .dojoxGridRow.dojoxGridRowOver.dojoxGridRowSelected,
.enreja_2015 .GridListStyle .dojoxGridRow.dojoxGridRowOdd.dojoxGridRowOver.dojoxGridRowSelected,
.enreja_2015 .GridListStyle .wmlist-item.wmlist-item-selected,
.enreja_2015 .GridListStyle.Disabled .wmlist-item.wmlist-item-selected,
.enreja_2015 .GridListStyle .wmlist-item.wmlist-item-selected.wmlist-item-over {
	background-color: #6b6b6b;
	background-image: none;
	filter: none;
   color: #FFFFFF;
}

/* GROUP: Selected Cell */
.enreja_2015 .dojoxGridCellFocus {
	   outline: solid 0px #ae0909;
    outline-offset: -1px; /* Change this to match outline width (but negative). Not supported by IE */ /* THEMER: HIDE */
}

/* GROUP: Hover row */
.enreja_2015 .GridListStyle .wmlist-item.wmlist-item-over,
.enreja_2015 .GridListStyle .dojoxGridRow.dojoxGridRowOver,
.enreja_2015 .GridListStyle .dojoxGridRow.dojoxGridRowOdd.dojoxGridRowOver,
.enreja_2015 .GridListStyle .dojoxGridRowOver a,
.enreja_2015 .GridListStyle .dojoxGridRowOver td.dojoxGridCell {
   background-color: #999999;
   color: #000000;
}

/* GROUP: Grid Header */
.enreja_2015 .GridListStyle .wmlist-header th,
.enreja_2015 .GridListStyle.wmNoFontSize div.dojoxGridHeader .dojoxGridCell {
	font-size: 11px;
}

.enreja_2015 .GridListStyle .wmlist-header .wmlist-cell,
.enreja_2015 .GridListStyle div.dojoxGridHeader .dojoxGridCell {
	border-top: solid 0px #a8a8a8;
	border-right: solid 1px #a8a8a8;
	border-bottom: solid 1px #a8a8a8;
	border-left: solid 0px #a8a8a8;
}



.enreja_2015 .GridListStyle .wmlist-header,
.enreja_2015 .GridListStyle div.dojoxGridHeader {
	background-image: -webkit-gradient(linear, center top, center bottom, from(#d9d9d9), color-stop(100%,#ffffff), to(#ffffff));
	background-image: -moz-linear-gradient(top, #d9d9d9 0%,#ffffff 100%,#ffffff 100%);
	background-image: -o-linear-gradient(top, #d9d9d9 0%,#ffffff 100%,#ffffff 100%);
	background-image: -ms-linear-gradient(top, #d9d9d9 0%,#ffffff 100%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#ffffff',GradientType=0);
}
.enreja_2015 .GridListStyle .wmlist-header th,
.enreja_2015 .GridListStyle div.dojoxGridHeader th.dojoxGridCell,
.enreja_2015 .GridListStyle div.dojoxGridHeader th.dojoxGridCell.dojoxGridCellOver {	
  background: transparent none !important; /* THEMER: HIDE */

	font-family: Verdana, Geneva, sans-serifVerdana, Arial, Helvetica, sans-serif;
	color: #333333;
	font-weight: bold;
}

/* GROUP: Grid Cells */
.enreja_2015 .GridListStyle .dojoxGridCell,
.enreja_2015 .GridListStyle .wmlist-cell {
    padding: 4px 8px;
}

/* GROUP: Focused Cell */
.enreja_2015 .GridListStyle .dojoxGridCellFocus {
/*   outline: solid 1px #5b9dd7; // THEMER: DISABLED */
}


/* THEMER: DO NOT SUBCLASS START */
/* GROUP: Mobile List */
.enreja_2015 .MobileListStyle div.wmlist-item,
.enreja_2015 .Disabled.MobileListStyle div.wmlist-item,
.enreja_2015 .Disabled.MobileListStyle div.wmlist-item.wmlist-item-over {
	border-radius: 0px;
	-webkit-border-radius: 0px;
   margin: 5px;
	background-color: #a81919;
	background-image: none;
	filter: none;
   color: #000000;
	font-family: Verdana, Geneva, sans-serifVerdana, Arial, Helvetica, sans-serif;
   min-height: 24px;
}

.enreja_2015 .wmlist.MobileListStyle td.wmlist-cell {
	border: solid 0px #a8a8a8;
}

/* GROUP: Mobile List Hover (Desktop only!) */
.enreja_2015 .MobileListStyle div.wmlist-item.wmlist-item-over,
.enreja_2015 .MobileListStyle div.wmlist-item.Odd.wmlist-item-over {
		background-color: #555555;
		color: #FFFFFF;
}

/* GROUP: Mobile List Selected Row */
.enreja_2015 .MobileListStyle div.wmlist-item.wmlist-item-selected,
.enreja_2015 .MobileListStyle div.wmlist-item.Odd.wmlist-item-selected,
.enreja_2015 .MobileListStyle div.wmlist-item.wmlist-item-selected.wmlist-item-over,
.enreja_2015 .MobileListStyle div.wmlist-item.Odd.wmlist-item-selected.wmlist-item-over {
		background-color: #333333; 
		color: #FFFFFF; 
}
/* THEMER: DO NOT SUBCLASS END */