.enreja_2015  .wmapproot {
font-family: Verdana, Geneva, sans-serifVerdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #333;
font-weight: normal;
}
.enreja_2015 .wmapproot > .wmpagecontainer,
.enreja_2015.wmapproot > .wmpagecontainer,
.enreja_2015 #studio_designer > .wmlayout {
border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #ffffff;
background-image: none;
filter: none;
}
.dj_ie9 .enreja_2015 div,
.dj_ie9 .enreja_2015 input,
.dj_ie9 .enreja_2015 button {
border-radius: 0px !important;
}
.enreja_2015 .wmtablayers .wmtablayers-tab,
.enreja_2015 .wmtablayers button.wmtablayers-verticaltab {
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #333;
font-weight: normal;
font-size: 11px;
background-color: rgb(238, 238, 238);
background-image: none;
filter: none;
}
.enreja_2015 .wmtablayers .wmtablayers-tab {
height: 24px;
margin-left: 4px;
border-top: solid 1px #a8a8a8;
border-right: solid 1px #a8a8a8;
border-bottom: solid 1px #a8a8a8;
border-left: solid 1px #a8a8a8;
}
.dj_ff .enreja_2015 .wmtablayers .wmtablayers-tab {
box-shadow: 0 0 0 black !important;
}
.enreja_2015 .wmtablayers-tab:first-child {
margin-left: 0px;
}
.enreja_2015 .wmtablayers .wmtablayers-verticaltab.wmtablayers-selected,
.enreja_2015 .wmtablayers .wmtablayers-verticaltab.wmtablayers-selected:hover,
.enreja_2015 .wmtablayers .wmtablayers-tab.wmtablayers-selected,
.enreja_2015 .wmtablayers .wmtablayers-tab.wmtablayers-selected:hover {
background-color: #ffffff;
background-image: none;
filter: none;
}
.enreja_2015 .wmtablayers .wmtablayers-tab.wmtablayers-selected,
.enreja_2015 .wmtablayers .wmtablayers-tab.wmtablayers-selected:hover {
top: 0px;
}
.enreja_2015 .wmtablayers .wmtablayers-verticaltab:focus,
.enreja_2015 .wmtablayers .wmtablayers-tab:focus {
}
.enreja_2015 .wmtablayers .wmtablayers-tab:hover,
.enreja_2015 .wmtablayers .wmtablayers-verticaltab:hover {
background-color: #ffffff;
background-image: none;
filter: none;
}
.enreja_2015 .wmtablayers .wmtablayers-tab:hover {
}
.enreja_2015 .wmtablayers .wmtablayers-tab:active,
.enreja_2015 .wmtablayers .wmtablayers-verticaltab:active,
.enreja_2015 .wmtablayers .wmtablayers-tab:active:.focus,
.enreja_2015 .wmtablayers .wmtablayers-verticaltab:active:focus {
color: #FFFFFF;
background-color: #444444;
background-image: none;
filter: none;
}
.enreja_2015 .wmtablayers .wmtablayers-tab:active,
.enreja_2015 .wmtablayers .wmtablayers-tab:active:focus {
box-shadow: 0px 0px 0px #444444;
}
.enreja_2015 .wmtablayers  .wmTabLayers-client > .wmlayer {
}
.enreja_2015 .wmtablayers div.wmtablayers-tabbar {
background-color: #ffffff;
background-image: none;
filter: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
}
.enreja_2015 .wmtablayers button.wmtablayers-verticaltab {
font-size: 11px;
width: 100%;
border-top: solid 1px #bbbbbb;
border-right: solid 1px rgb(187, 187, 187);
border-bottom: solid 1px rgb(187, 187, 187);
border-left: solid 1px rgb(187, 187, 187);
}
.enreja_2015 .wmtablayers .wmtablayers-verticaltab:first-child {
}
.enreja_2015 .wmtablayers .wmtablayers-verticaltab:hover {
}
.enreja_2015 .wmtablayers .wmtablayers-verticaltab.wmtablayers-selected {
}
.enreja_2015 .wmtablayers .wmtablayers-verticaltab:active,
.enreja_2015 .wmtablayers .wmtablayers-verticaltab:active:focus {
box-shadow: 0px 0px 0px #444444;
}
.enreja_2015 .wmaccordion div.wmaccordion-header {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #333333;
font-weight: normal;
background-color: rgb(255,255,255);
background-image: none;
filter: none;
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(252, 252, 252);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-top: solid 1px rgb(51, 51, 51);
border-right: solid 1px rgb(51, 51, 51);
border-bottom: solid 1px rgb(51, 51, 51);
border-left: solid 1px rgb(51, 51, 51);
display: block;
height: 21px;
line-height: 21px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
text-decoration: none solid rgb(51, 51, 51);
text-shadow: none;
vertical-align: baseline;
}
.enreja_2015 .wmaccordion div.wmaccordion-header.wmaccordion-collapsed {
color: #333333;
font-weight: normal;
background-color: #eeeeee;
background-image: none;
filter: none;
}
.enreja_2015 div.wmaccordion .wmaccordion-header.wmaccordion-collapsed:hover {
background-color: #e7e7e7;
background-image: none;
filter: none;
}
.enreja_2015 .wmaccordion .accordionArrowNode {
float: none !important;
position: absolute;
}
.enreja_2015 .wmaccordion .accordionArrowNode.accordionOnLeftArrowNode {
position: relative;
float: none;
}
.enreja_2015 .wmaccordion .wmaccordion-collapsed .accordionArrowNode {
}
.enreja_2015 .wmaccordion .wmlayer.wmaccordion-content {
background-color: transparent;
}
.enreja_2015 .wmfancypanel .wmFancyPanel-containerWidget {
border-top-left-radius: 0px !important;
border-top-right-radius: 0px !important;
-webkit-border-top-left-radius: 0px !important;
-webkit-border-top-right-radius: 0px !important;
box-shadow: 0px 0px 0px black !important;
border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #ffffff;
background-image: none;
filter: none;
}
.enreja_2015 .wmfancypanel .wmFancyPanel-labelWidget {
border-radius: 0px;
-webkit-border-radius: 0px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
color: #a81919;
background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), color-stop(50%,#d9d9d9), to(#d9d9d9));
background-image: -moz-linear-gradient(top, #ffffff 0%,#d9d9d9 50%,#d9d9d9 100%);
background-image: -o-linear-gradient(top, #ffffff 0%,#d9d9d9 50%,#d9d9d9 100%);
background-image: -ms-linear-gradient(top, #ffffff 0%,#d9d9d9 50%,#d9d9d9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9d9d9',GradientType=0);
}
.enreja_2015 .wmbutton,
.enreja_2015 button.wmbutton,
.enreja_2015 .wmbutton .dijitReset {
font-family: Verdana, Geneva, sans-serifVerdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #333;
font-weight: normal;
}
.enreja_2015 .wmbutton {
background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), color-stop(50%,#d9d9d9), to(#d9d9d9));
background-image: -moz-linear-gradient(top, #ffffff 0%,#d9d9d9 50%,#d9d9d9 100%);
background-image: -o-linear-gradient(top, #ffffff 0%,#d9d9d9 50%,#d9d9d9 100%);
background-image: -ms-linear-gradient(top, #ffffff 0%,#d9d9d9 50%,#d9d9d9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9d9d9',GradientType=0);
}
.enreja_2015   .wmbutton:hover {
color: #FFFFFF;
font-weight: normal;
background-color: #a81919;
background-image: none;
filter: none;
}
.enreja_2015   button.wmbutton.toggleButtonDown,
.enreja_2015   .wmbutton.Active,
.enreja_2015   .wmbutton.Active:hover,
.enreja_2015   .wmbutton:active,
.enreja_2015   .wmbutton:hover:active {
color: #FFFFFF;
font-weight: normal;
background-color: #a86464;
background-image: none;
filter: none;
}
.enreja_2015   .wmbutton:focus {
outline: solid 1px #9999ff;
}
.enreja_2015 .wmbutton.wmPopupButton .popupIcon {
background-image: url(lib/wm/base/widget/themes/wm_default/images/comboArrowDownDark.png);
background-position: 0% 50%;
}
.enreja_2015 .Disabled.wmbutton,
.enreja_2015 .Disabled.wmbutton:hover,
.enreja_2015 .Disabled.wmbutton:active,
.enreja_2015 .Disabled.wmbutton:active:hover {
color: #fbfbfb;
font-weight: normal;
background-color: #333333;
background-image: none;
opacity: 0.25;
}
.enreja_2015 .wmtogglebuttonpanel {
}
.enreja_2015 .wmtogglebuttonpanel .wmbutton:first-child {
}
.enreja_2015 .wmtogglebuttonpanel .wmbutton:last-child {
}
.enreja_2015 .wmapproot .wmtogglebuttonpanel .wmbutton {
}
.enreja_2015 .wmtogglebuttonpanel .wmbutton {
font-family: Verdana, Geneva, sans-serif;
font-size: 12px;
}
.enreja_2015 .wmtogglebuttonpanel .wmbutton.toggleButtonDown {
font-family: Verdana, Geneva, sans-serif;
font-size: 12px;
background-color: #a51919;
background-image: none;
filter: none;
}
.enreja_2015 .wmeditor .dijitTextBox,
.enreja_2015 .wmeditor .dijitTextArea,
.enreja_2015 .wmeditor .dijitComboBox,
.enreja_2015 .wmeditor .dijitSelect .dijitButtonContents,
.enreja_2015 .dijitTimePickerItem,
.enreja_2015 .wmeditor .RichTextEditable iframe {
border: solid 1px #a8a8a8;
font-family: Verdana, Geneva, sans-serifVerdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #333;
font-weight: normal;
background-color: #ffffff;
background-image: none;
filter: none;
}
.enreja_2015  .wmeditor .dijitTextBox,
.enreja_2015  .wmeditor .dijitTextArea,
.enreja_2015  .wmeditor .dijitComboBox,
-webkit-border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
}
.enreja_2015 .dijitTimePickerMarker.dijitTimePickerMarkerHover,
.enreja_2015 .dijitTimePickerItem.dijitTimePickerItemHover,
.enreja_2015 .wmeditor .dijitTextBox.dijitHover,
.enreja_2015 .wmeditor .dijitTextArea:hover,
.enreja_2015 .wmeditor .dijitComboBox.dijitHover,
.enreja_2015 .wmeditor .dijitSelect.dijitHover .dijitButtonContents,
.enreja_2015 .wmeditor .RichTextEditable:hover iframe {
color: #000000;
border: solid 1px #a81919;
background-color: #ffffff;
background-image: none;
filter: none;
}
.enreja_2015 .wmeditor .dijitTextBox.dijitFocused,
.enreja_2015 .wmeditor .dijitTextBox.dijitFocused.dijitHover,
.enreja_2015 .wmeditor .dijitTextArea.dijitFocused,
.enreja_2015 .wmeditor .dijitTextArea.dijitFocused:hover,
.enreja_2015 .wmeditor .dijitComboBox.dijitFocused,
.enreja_2015 .wmeditor .dijitComboBox.dijitFocused.dijitHover,
.enreja_2015 .wmeditor .dijitSelect.dijitFocused .dijitButtonContents,
.enreja_2015 .wmeditor .dijitSelect.dijitFocused.dijitHover .dijitButtonContents,
.enreja_2015 .isDirty.wmeditor .dijitTextBox.dijitFocused,
.enreja_2015 .isDirty.wmeditor .dijitTextArea.dijitFocused,
.enreja_2015 .isDirty.wmeditor .dijitComboBox.dijitFocused,
.enreja_2015 .wmeditor .RichTextEditable.Focused iframe {
color: #000000;
border: solid 1px #a81919;
background-color: #ffffff;
background-image: none;
filter: none;
}
.enreja_2015 .isDirty.wmeditor .dijitTextBox,
.enreja_2015 .isDirty.wmeditor .dijitTextArea,
.enreja_2015 .isDirty.wmeditor .dijitComboBox {
border: solid 1px #a8a8a8;
}
.enreja_2015 .wmeditor .dijitError.dijitTextBox,
.enreja_2015 .wmeditor .dijitError.dijitTextArea,
.enreja_2015 .wmeditor .dijitError.dijitComboBox,
.enreja_2015 .wmeditor .dijitError.isDirty.dijitTextBox,
.enreja_2015 .wmeditor .dijitError.isDirty.dijitTextArea,
.enreja_2015 .wmeditor .dijitError.isDirty.dijitComboBox
{
color: #ffffff;
border: solid 1px #a8a8a8;
background-color: red;
background-image: none;
filter: none;
}
.enreja_2015 .wmeditor .wmeditor-caption {
font-family: Verdana, Geneva, sans-serifVerdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #333;
font-weight: normal;
}
.enreja_2015 .wmeditor .wmeditor-readonlyNode {
font-family: Verdana, Geneva, sans-serifVerdana, Arial, Helvetica, sans-serif;
font-size: 11px;
}
.enreja_2015 .wmeditor .dijitSpinner .dijitArrowButton,
.enreja_2015 .wmeditor .dijitComboBox .dijitArrowButton,
.enreja_2015 .wmeditor .dijitSelect .dijitArrowButton {
background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(170, 170, 170)), color-stop(52%,rgb(102, 102, 102)), to(rgb(102, 102, 102)));
background-image: -moz-linear-gradient(top, rgb(170, 170, 170) 0%,rgb(102, 102, 102) 52%,rgb(102, 102, 102) 100%);
background-image: -o-linear-gradient(top, rgb(170, 170, 170) 0%,rgb(102, 102, 102) 52%,rgb(102, 102, 102) 100%);
background-image: -ms-linear-gradient(top, rgb(170, 170, 170) 0%,rgb(102, 102, 102) 52%,rgb(102, 102, 102) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(170, 170, 170)', endColorstr='rgb(102, 102, 102)',GradientType=0);
}
.enreja_2015 .dijitComboBox .dijitArrowButton .dijitArrowButtonInner,
.enreja_2015 .dijitSelect .dijitArrowButton .dijitArrowButtonInner,
.enreja_2015 .wmeditor .dijitComboBox .dijitArrowButton,
.enreja_2015 .wmeditor .dijitSelect .dijitArrowButton,
.enreja_2015 .wmeditor .dijitComboBox .dijitArrowButton .dijitArrowButtonInner,
.enreja_2015 .wmeditor .dijitSelect .dijitArrowButton .dijitArrowButtonInner {
}
.enreja_2015 .wmeditor .dijitSpinner .dijitArrowButton:hover,
.enreja_2015 .wmeditor .dijitComboBox .dijitArrowButton:hover,
.enreja_2015 .wmeditor .dijitSelect .dijitArrowButton:hover {
}
.enreja_2015 .wmeditor .dijitSpinner .dijitArrowButton:active,
.enreja_2015 .wmeditor .dijitComboBox .dijitArrowButton:active,
.enreja_2015 .wmeditor .dijitSelect .dijitArrowButton:active {
}
.enreja_2015 .dijitComboBox .dijitArrowButton .dijitArrowButtonInner,
.enreja_2015 .dijitSelect .dijitArrowButton .dijitArrowButtonInner,
.enreja_2015 .wmeditor .dijitComboBox .dijitArrowButton .dijitArrowButtonInner,
.enreja_2015 .wmeditor .dijitSelect .dijitArrowButton .dijitArrowButtonInner {
background-position: 50% 50%;
background-image: url(images/comboArrowDownLight.png);
}
.enreja_2015 .wmeditor .dijitSpinner .dijitArrowButton .dijitArrowButtonInner {
background-position: 30% 30%;
background-image: url(images/comboArrowDownLight.png);
}
.enreja_2015 .wmeditor .dijitSpinner .dijitArrowButton.dijitUpArrowButton .dijitArrowButtonInner {
background-image: url(images/comboArrowUpLight.png);
}
.enreja_2015 .wmeditor .dijitSlider .dijitSliderImageHandleH {
background: url(images/preciseSliderThumb.png) no-repeat 50% 0%;
outline-width: 0;
}
.enreja_2015 .wmeditor .dijitSlider .dijitSliderProgressBarH,
.enreja_2015 .wmeditor .dijitSlider .dijitSliderLeftBumper,
.enreja_2015 .wmeditor .dijitSliderFocused.dijitSlider .dijitSliderProgressBarH,
.enreja_2015 .wmeditor .dijitSliderFocused.dijitSlider .dijitSliderLeftBumper {
background-color: #a81919;
background-image: none;
filter: none;
}
.enreja_2015 .wmeditor .dijitSlider .dijitSliderRemainingBarH,
.enreja_2015 .wmeditor .dijitSlider .dijitSliderRightBumper,
.enreja_2015 .wmeditor .dijitSliderFocused.dijitSlider .dijitSliderRemainingBarH,
.enreja_2015 .wmeditor .dijitSliderFocused.dijitSlider .dijitSliderRightBumper {
background-color: #dcdcdc;
background-image: none;
filter: none;
}
.enreja_2015 .GridListStyle .wmlist {
font-size: 11px;
}
.enreja_2015 .GridListStyle  .wmlist-cell{
border-top: solid 0px rgb(153, 153, 153);
border-right: solid 0px rgb(153, 153, 153);
border-bottom: solid 0px rgb(153, 153, 153);
border-left: solid 0px rgb(153, 153, 153);
}
.enreja_2015 .GridListStyle div.wmlist-item,
.enreja_2015 .GridListStyle.Disabled div.wmlist-item.wmlist-item-over  {
font-family: Verdana, Geneva, sans-serifVerdana, Arial, Helvetica, sans-serif;
font-weight: normal;
}
.enreja_2015 .GridListStyle div.wmlist-item,
.enreja_2015 .GridListStyle.Disabled div.wmlist-item.Odd.wmlist-item-over,
.enreja_2015 .GridListStyle.Disabled div.wmlist-item.Odd.wmlist-item-selected,
.enreja_2015 .GridListStyle .wmlist-item.Odd {
color: #333;
background-color: #e6e6e6;
background-image: none;
filter: none;
}
.enreja_2015 .GridListStyle .wmlist-item.wmlist-item-selected,
.enreja_2015 .GridListStyle.Disabled .wmlist-item.wmlist-item-selected,
.enreja_2015 .GridListStyle .wmlist-item.wmlist-item-selected.wmlist-item-over {
background-color: #6b6b6b;
background-image: none;
filter: none;
color: #FFFFFF;
}
.enreja_2015 .GridListStyle .wmlist-item.wmlist-item-over{
background-color: #999999;
color: #000000;
}
.enreja_2015 .GridListStyle .wmlist-header th{
font-size: 11px;
}
.enreja_2015 .GridListStyle .wmlist-header .wmlist-cell{
border-top: solid 0px #a8a8a8;
border-right: solid 1px #a8a8a8;
border-bottom: solid 1px #a8a8a8;
border-left: solid 0px #a8a8a8;
}
.enreja_2015 .GridListStyle .wmlist-header{
background-image: -webkit-gradient(linear, center top, center bottom, from(#d9d9d9), color-stop(100%,#ffffff), to(#ffffff));
background-image: -moz-linear-gradient(top, #d9d9d9 0%,#ffffff 100%,#ffffff 100%);
background-image: -o-linear-gradient(top, #d9d9d9 0%,#ffffff 100%,#ffffff 100%);
background-image: -ms-linear-gradient(top, #d9d9d9 0%,#ffffff 100%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#ffffff',GradientType=0);
}
.enreja_2015 .GridListStyle .wmlist-header th{
background: transparent none !important;
font-family: Verdana, Geneva, sans-serifVerdana, Arial, Helvetica, sans-serif;
color: #333333;
font-weight: bold;
}
.enreja_2015 .GridListStyle .wmlist-cell {
padding: 4px 8px;
}
.enreja_2015 .MobileListStyle div.wmlist-item,
.enreja_2015 .Disabled.MobileListStyle div.wmlist-item,
.enreja_2015 .Disabled.MobileListStyle div.wmlist-item.wmlist-item-over {
border-radius: 0px;
-webkit-border-radius: 0px;
margin: 5px;
background-color: #a81919;
background-image: none;
filter: none;
color: #000000;
font-family: Verdana, Geneva, sans-serifVerdana, Arial, Helvetica, sans-serif;
min-height: 24px;
}
.enreja_2015 .wmlist.MobileListStyle td.wmlist-cell {
border: solid 0px #a8a8a8;
}
.enreja_2015 .MobileListStyle div.wmlist-item.wmlist-item-over,
.enreja_2015 .MobileListStyle div.wmlist-item.Odd.wmlist-item-over {
background-color: #555555;
color: #FFFFFF;
}
.enreja_2015 .MobileListStyle div.wmlist-item.wmlist-item-selected,
.enreja_2015 .MobileListStyle div.wmlist-item.Odd.wmlist-item-selected,
.enreja_2015 .MobileListStyle div.wmlist-item.wmlist-item-selected.wmlist-item-over,
.enreja_2015 .MobileListStyle div.wmlist-item.Odd.wmlist-item-selected.wmlist-item-over {
background-color: #333333;
color: #FFFFFF;
}
.enreja_2015 .wmprogressbar .dijitProgressBar {
}
.enreja_2015 .wmprogressbar .dijitProgressBarLabel {
font-family: Verdana, Geneva, sans-serifVerdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #FFFFFF;
font-weight: normal;
}
.enreja_2015 .wmprogressbar .dijitProgressBar {
background-color: #6b6b6b;
background-image: none;
filter: none;
}
.enreja_2015 .wmprogressbar .dijitProgressBarFull {
background-color: #a81919;
background-image: none;
filter: none;
}
.enreja_2015 .wmprogressbar .dijitProgressBarTile {
background-image: inherit;
background-color: inherit;
}
.enreja_2015 .wmbevel {
background-color: #cccccc;
background-image: none;
filter: none;
}
.enreja_2015 div.wmsplitter-h,
.enreja_2015 div.wmsplitter-v {
background-color: #cccccc;
}
.enreja_2015 div.wmsplitter-h:hover,
.enreja_2015 div.wmsplitter-v:hover {
background-color: #6b6b6b;
}
.enreja_2015 .wmsplitter-h {
background: url(images/splitter_bg_h.png) no-repeat 50% 50%;
}
.enreja_2015 .wmsplitter-v {
background: url(images/splitter_bg_v.png) no-repeat 50% 50%;
}
.enreja_2015 .dijitCalendarDayLabel,
.enreja_2015 .dijitCalendarDateLabel {
font-size: 11px;
}
.enreja_2015 table.dijitCalendarContainer td.dijitCalendarCurrentMonth {
background-color: #ffffff !important;
background-image: none !important;
filter: none !important;
color: #333333;
}
.enreja_2015 .dijitCalendarBodyContainer td {
border-top: solid 1px rgb(204, 204, 204);
border-right: solid 1px rgb(204, 204, 204);
border-bottom: solid 0px rgb(102, 102, 102);
border-left: solid 0px rgb(102, 102, 102);
}
.enreja_2015 .dijitCalendarContainer td.dijitCalendarSelectedDate,
.enreja_2015 .dijitCalendarContainer td.dijitCalendarSelectedDate.dijitCalendarCurrentMonth {
background-color: #a81919 !important;
background-image: none !important;
filter: none !important;
color: #e2e2d4 !important;
}
.enreja_2015 .dijitCalendarContainer td.dijitCalendarHoveredDate,
.enreja_2015 .dijitCalendarContainer td.dijitCalendarHoveredDate.dijitCalendarCurrentMonth,
.enreja_2015 .dijitCalendarContainer .dijitCalendarHoveredYear,
.enreja_2015 .dijitCalendarContainer .dijitCalendarNextYear:hover,
.enreja_2015 .dijitCalendarContainer .dijitCalendarPreviousYear:hover {
background-color: #e7e7e7 !important;
background-image: none !important;
filter: none !important;
color: #333333;
}
.enreja_2015 .dijitCalendarContainer .dijitCalendarPreviousMonth,
.enreja_2015 .dijitCalendarContainer .dijitCalendarNextMonth {
background-color: #ffffff !important;
background-image: none !important;
filter: none !important;
color: #ffffff;
}
.enreja_2015 .dijitCalendarContainer .dijitCalendarDayLabelTemplate {
background-color: #eeeeee !important;
background-image: none !important;
filter: none !important;
color: #333333;
}
.enreja_2015 tr.dijitCalendarMonthContainer th {
background-color: #333333;
background-image: none;
filter: none;
}
.enreja_2015 tr.dijitCalendarMonthContainer th {
font-family: Verdana, Geneva, sans-serifVerdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #eeeeee;
font-weight: bold;
}
.enreja_2015 tr.dijitCalendarMonthContainer th .dijitCalendarMonthLabel {
font-family: Verdana, Geneva, sans-serifVerdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #FFFFFF;
font-weight: bold;
border: solid 0px rgb(251, 251, 251);
box-shadow: 0px 0px 0px black;
}
.enreja_2015 table.dijitCalendarContainer {
}
.enreja_2015 .wmapproot a,
.enreja_2015  #wavemakerNode  .wmapproot a,
#studio_designer.enreja_2015 .wmapproot a:visited,
.enreja_2015  #wavemakerNode  .wmapproot a:visited {
font-family: Helvetica, sans-serif;
font-size: 12px;
color: #336699;
font-weight: bold;
text-decoration:underline;
}
.enreja_2015  #wavemakerNode  .wmapproot a:hover,
.enreja_2015  #wavemakerNode  .wmapproot a:hover:visited {
color: #336699;
text-decoration:underline;
}
.enreja_2015  #wavemakerNode  .wmapproot a:active,
.enreja_2015  #wavemakerNode  .wmapproot a:hover:active,
.enreja_2015  #wavemakerNode  .wmapproot a:hover:visited:active {
color: #336699;
text-decoration:none;
}
.enreja_2015  #wavemakerNode  .wmapproot .Disabled a,
.enreja_2015  #wavemakerNode  .wmapproot .Disabled a:hover,
.enreja_2015  #wavemakerNode  .wmapproot .Disabled a:active,
.enreja_2015  #wavemakerNode  .wmapproot .Disabled a:hover:active,
.enreja_2015  #wavemakerNode  .wmapproot .Disabled a:hover:visited:active {
color: #999999;
}
.enreja_2015 .dojoxPortlet div.dijitTitlePaneTitle {
font-family: Helvetica, sans-serif;
font-size: 13px;
font-weight: normal;
min-height: 22px;
line-height: 28px;
padding-left: 10px;
}
.enreja_2015 .dojoxPortlet div.dijitTitlePaneTitle .dijitTitlePaneTextNode {
color: #333333;
}
.enreja_2015 .dojoxPortlet {
border: solid 1px #949494;
}
.enreja_2015 .dojoxPortlet div.dijitTitlePaneTitle {
background-color: #eeeeee;
background-image: none;
filter: none;
border-bottom: solid 1px #949494;
}
.enreja_2015 .dojoxPortlet div.dijitTitlePaneTitle .dojoxPortletIcon {
border-color: #333333;
width: 16px;
height: 20px;
margin-right: 4px;
}
.enreja_2015 .dojoxPortlet div.dijitTitlePaneTitle .dojoxPortletIcon.dojoxCloseNode {
background-image: url(images/DialogIconsGray.png);
background-position: 0px 0px;
position: relative;
top: 3px;
height: 16px;
}
.enreja_2015 .dojoxPortlet div.dijitTitlePaneTitle .dojoxPortletIcon.dojoxCloseNode:hover {
}
.enreja_2015 .dojoxPortlet div.dijitTitlePaneTitle .dojoxPortletIcon.dojoxArrowDown {
background-image: url(images/DialogIconsGray.png);
position: relative;
top: 3px;
height: 16px;
background-position: -16px 0px;
}
.enreja_2015 .dojoxPortlet div.dijitTitlePaneTitle .dojoxPortletIcon.dojoxArrowDown:hover {
}
.enreja_2015 .dojoxPortlet div.dijitTitlePaneTitle.dijitClosed .dojoxPortletIcon.dojoxArrowDown {
background-image: url(images/DialogIconsGray.png);
background-position: -32px 0px;
}
.enreja_2015 .dojoxPortlet div.dijitTitlePaneTitle.dijitClosed .dojoxPortletIcon.dojoxArrowDown:hover {
}
.enreja_2015 .wmdialog {
box-shadow: 4px 4px 8px black;
-webkit-box-shadow: 4px 4px 8px black;
}
.enreja_2015 .wmdialog {
background-color: white;
background-image: none;
filter: none;
font-family: Verdana, Geneva, sans-serifVerdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #333333;
font-weight: normal;
}
.enreja_2015 .dialogtitlebar .wmlabel{
font-family: Verdana, Geneva, sans-serifVerdana, Arial, Helvetica, sans-serif;
font-size: 13px;
color: #a51919;
font-weight: bold;
}
.enreja_2015 .dialogtitlebar {
background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), color-stop(37%,#dcdcdc), to(#dcdcdc));
background-image: -moz-linear-gradient(top, #ffffff 0%,#dcdcdc 37%,#dcdcdc 100%);
background-image: -o-linear-gradient(top, #ffffff 0%,#dcdcdc 37%,#dcdcdc 100%);
background-image: -ms-linear-gradient(top, #ffffff 0%,#dcdcdc 37%,#dcdcdc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dcdcdc',GradientType=0);
}
.enreja_2015 .dialogtitlebar .dialogclosebutton {
background-image: url(images/DialogIconsGray.png);
background-repeat: no-repeat;
background-repeat: no-repeat;
}
.enreja_2015 .dialogtitlebar .dialogminifybutton {
background-image: url(images/DialogIconsGray.png);
background-position: -16px 0px;
background-repeat: no-repeat;
}
.enreja_2015 .dialogtitlebar .dialogmaxifybutton {
background-image: url(images/DialogIconsGray.png);
background-position: -32px 0px;
background-repeat: no-repeat;
}
.enreja_2015 .dialogfooter,
.enreja_2015 .wmpagedialog-controlspanel {
}
.enreja_2015 .dialogfooter .wmbutton {
font-family: Verdana, Geneva, sans-serifVerdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #333;
font-weight: normal;
background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), color-stop(50%,#d9d9d9), to(#d9d9d9));
background-image: -moz-linear-gradient(top, #ffffff 0%,#d9d9d9 50%,#d9d9d9 100%);
background-image: -o-linear-gradient(top, #ffffff 0%,#d9d9d9 50%,#d9d9d9 100%);
background-image: -ms-linear-gradient(top, #ffffff 0%,#d9d9d9 50%,#d9d9d9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9d9d9',GradientType=0);
}
.enreja_2015 .dialogfooter .wmbutton:hover {
color: #FFFFFF;
background-color: #a81919;
background-image: none;
filter: none;
}
.enreja_2015 .dialogfooter button.wmbutton.toggleButtonDown,
.enreja_2015 .dialogfooter .wmbutton.Active,
.enreja_2015 .dialogfooter .wmbutton:active,
.enreja_2015 .dialogfooter .wmbutton.Active:hover,
.enreja_2015 .dialogfooter .wmbutton:active:hover {
}
.enreja_2015 .dojoMenu .dijitMenu,
.enreja_2015 .dojoMenu .dijitMenuBar,
.enreja_2015 .dojoMenu .dijitMenuItem {
font-family: Verdana, Geneva, sans-serifVerdana, Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: normal;
color: #eeeeee;
background-color: #232323;
background-image: none;
filter: none;
}
.enreja_2015 .dojoMenu .dijitMenuBar .dijitMenuItem {
margin-right: 0px;
margin-left: 0px;
height: 28px;
line-height: 24px;
text-align: center;
}
.enreja_2015 .dojoMenu .dijitMenuItem.dijitMenuItemHover {
color: #ffffff;
outline: 0px;
}
.enreja_2015 .dojoMenu .dijitMenuItem.dijitMenuItemSelected {
color: #FFFFFF;
background-color: #333333;
background-image: none;
filter: none;
outline: 0px;
}
.enreja_2015 .dojoMenu div.dijitMenuBar div.dijitMenuItem {
padding-right: 25px !important;
}
.enreja_2015 .dijitMenuPopup .dijitMenuTable {
background-color: #ffffff;
background-image: none;
filter: none;
border-top: solid 1px #cccccc;
border-right: solid 1px #cccccc;
border-bottom: solid 1px #cccccc;
border-left: solid 1px #cccccc;
border-radius: 4px;
-webkit-border-radius: 4px;
}
.enreja_2015 .dijitMenuPopup {
box-shadow: 3px 3px 4px #6b6b6b;
-webkit-box-shadow: 3px 3px 4px #6b6b6b;
}
.enreja_2015 .dijitPopup .dijitMenuTable .dijitMenuItem {
font-size: 11px;
font-family: Verdana, Geneva, sans-serifVerdana, Arial, Helvetica, sans-serif;
color: #333333;
font-weight: normal;
background-color: transparent;
border-top: solid 0px #cccccc;
border-right: solid 1px #cccccc;
border-bottom: solid 0px #cccccc;
border-left: solid 1px #cccccc;
height: 28px;
padding-bottom: 3px;
padding-left: 15px;
padding-right: 15px;
padding-top: 3px;
}
.enreja_2015 .dijitPopup .dijitMenu.dijitMenuTable .dijitMenuItem.dijitMenuItemFocused,
.enreja_2015 .dijitPopup .dijitMenu.dijitMenuTable .dijitMenuItem.dijitMenuItemSelected {
color: #FFFFFF;
background-color: #a81919;
background-image: none;
filter: none;
outline-width: 0;
}
.enreja_2015 .dijitPopup .dijitCalendarMonthMenu,
.enreja_2015  ul.dijitMenu {
background-color: #ffffff;
background-image: none;
filter: none;
border-top: solid 1px #cccccc;
border-right: solid 1px #cccccc;
border-bottom: solid 1px #cccccc;
border-left: solid 1px #cccccc;
box-shadow: 3px 3px 4px #cccccc;
-webkit-box-shadow: 3px 3px 4px #cccccc;
}
.enreja_2015 .dijitPopup .dijitCalendarMonthLabel,
.enreja_2015  ul.dijitMenu .dijitMenuItem {
padding: 4px 5px;
text-align: left;
font-size: 11px;
font-family: Verdana, Geneva, sans-serifVerdana, Arial, Helvetica, sans-serif;
color: #333333;
font-weight: normal;
background-color: transparent;
border-top: solid 0px rgb(251, 251, 251);
border-right: solid 0px rgb(251, 251, 251);
border-bottom: solid 0px rgb(170, 170, 170);
border-left: solid 0px rgb(251, 251, 251);
}
.enreja_2015 .dijitPopup .dijitCalendarMonthLabel .dijitMenuItemSelected,
.enreja_2015  ul.dijitMenu .dijitMenuItem.dijitMenuItemSelected {
color: #FFFFFF;
background-color: #a81919;
background-image: none;
filter: none;
border-top: solid 0px rgb(251, 251, 251);
border-right: solid 0px rgb(251, 251, 251);
border-bottom: solid 0px rgb(170, 170, 170);
border-left: solid 0px rgb(251, 251, 251);
}
.enreja_2015 .AppToolTip {
font-family: Verdana, Geneva, sans-serifVerdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #333333;
font-weight: normal;
background-color: #FFFECB;
background-image: none;
filter: none;
border-radius: 4px;
-webkit-border-radius: 4px;
box-shadow: 4px 4px 8px #666;
-webkit-box-shadow: 4px 4px 8px #666;
}
html.WMApp .enreja_2015 div.wmtoast.wmtoastExtraSpecific {
background-color: rgb(40,40,40);
background-image: none;
filter: none;
border-radius: 4px;
-webkit-border-radius: 4px;
box-shadow: 4px 4px 8px #222;
-webkit-box-shadow: 4px 4px 8px #222;
}
.enreja_2015 .wmtoast .wmtoastmessage {
font-family: Verdana, Geneva, sans-serifVerdana, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #333333;
font-weight: normal;
}
html.WMApp .enreja_2015 div.wmtoast.Success.wmtoastExtraSpecific {
background-color: #ffffff;
background-image: none;
filter: none;
}
.enreja_2015 .wmtoast .wmtoasttitle,
.enreja_2015 .wmtoast.Success .wmtoastmessage {
color: black;
}
.enreja_2015 .wmtoast.Success .ToastLeft {
background-image: url(images/OK.png);
}
html.WMApp .enreja_2015 div.wmtoast.Warning.wmtoastExtraSpecific {
background-color: #ffffff;
background-image: none;
filter: none;
}
.enreja_2015 .wmtoast .wmtoasttitle,
.enreja_2015 .wmtoast.Warning .wmtoastmessage {
color: black;
}
.enreja_2015 .wmtoast.Warning .ToastLeft {
background-image: url(images/Caution.png);
}
html.WMApp .enreja_2015 div.wmtoast.Error.wmtoastExtraSpecific {
background-color: #ffffff;
background-image: none;
filter: none;
}
.enreja_2015 .wmtoast .wmtoasttitle,
.enreja_2015 .wmtoast.Error .wmtoastmessage {
color: black;
}
.enreja_2015 .wmtoast.Error .ToastLeft {
background-image: url(images/Close.png);
}
html.WMApp .enreja_2015 div.wmtoast.Info.wmtoastExtraSpecific {
background-color: #ffffff;
background-image: none;
filter: none;
}
.enreja_2015 .wmtoast .wmtoasttitle,
.enreja_2015 .wmtoast.Info .wmtoastmessage {
color: black;
}
.enreja_2015 .wmtoast.Info .ToastLeft {
background-image: url(images/Help\ Circle.png);
}
.enreja_2015 .wmtoast .wmtoasttitle {
font-family: Verdana, Geneva, sans-serifVerdana, Arial, Helvetica, sans-serif;
font-size: 16px;
color: black;
font-weight: bold;
}
.wmtoastExtraSpecific.fadeInAnim {
-webkit-animation-name: toastFadeInKeyFrames;
-moz-animation-name: toastFadeInKeyFrames;
animation-name: toastFadeInKeyFrames;
}
@keyframes toastFadeInKeyFrames {
0% {
opacity: 0;
}
100% {
opacity: 0.9;
}
}
html.WMApp .enreja_2015 div.wmtoast.wmtoastExtraSpecific {
opacity: 0.9;
}