/* GROUP: Toggle Panel */
.enreja_2015 .wmtogglebuttonpanel {
/* 	border-radius: 8px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 8px; // THEMER: DISABLED */
}

/* GROUP: First Button Radius */
.enreja_2015 .wmtogglebuttonpanel .wmbutton:first-child {
/* 	border-radius: 8px 0px 0px 8px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 8px 0px 0px 8px; // THEMER: DISABLED */
}

/* GROUP: Last Button Radius */
.enreja_2015 .wmtogglebuttonpanel .wmbutton:last-child {
/* 	border-radius: 0px 8px 8px 0px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 0px 8px 8px 0px; // THEMER: DISABLED */
}

/* GROUP: Middle Buttons Radius */
.enreja_2015 .wmapproot .wmtogglebuttonpanel .wmbutton {
/* 	border-radius: 0px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 0px; // THEMER: DISABLED */
}


/* GROUP: Buttons */
.enreja_2015 .wmtogglebuttonpanel .wmbutton {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
/*	color: #FFFFFF;// THEMER: DISABLED */
/*	font-weight: bold;// THEMER: DISABLED */

/*	background-color: #333333;// THEMER: DISABLED */
/*	background-image: none;// THEMER: DISABLED */
/*	filter: none;// THEMER: DISABLED */
}


/* GROUP: Selected Button */
.enreja_2015 .wmtogglebuttonpanel .wmbutton.toggleButtonDown {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
/*	color: #FFFFFF;// THEMER: DISABLED */
/*	font-weight: bold;// THEMER: DISABLED */

	background-color: #a51919;
	background-image: none;
	filter: none;
}