/* GROUP: Standard Button */
/* dijitReset needed for popupButton */
.vsc .wmbutton,
.vsc button.wmbutton, /* mostly to clobber .dj_ie .wmbutton in default/theme.css */
.vsc .wmbutton .dijitReset {
	font-family: Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	font-weight: normal;
}
.vsc .wmbutton {
/* 	border-radius: 4px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 4px; // THEMER: DISABLED */
/* 	box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
	background-color: #0044cc;
	background-image: none;
	filter: none;
}

/* GROUP: Hover State */
 .vsc   .wmbutton:hover {
 	color: #FFFFFF;
	font-weight: normal;
/* 	box-shadow: 0px 0px 0px black; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 0px 0px 0px black; // THEMER: DISABLED */
	background-color: #0866c6;
	background-image: none;
	filter: none;
}


/* GROUP: Active State */
/* button.wmbutton required instead of .wmbutton for IE8 */
.vsc   button.wmbutton.toggleButtonDown,
.vsc   .wmbutton.Active,
.vsc   .wmbutton.Active:hover,
.vsc   .wmbutton:active,
.vsc   .wmbutton:hover:active {
	color: #FFFFFF;
	font-weight: normal;
	box-shadow: 4px 4px 4px black;
	background-color: #333333;
	background-image: none;
	filter: none;
}

/* GROUP: Focus State */
/* NOTE: This occurs when the user tabs to the button.
  It may also occur when the user clicks the button */
.vsc   .wmbutton:focus {
     outline: solid 1px #9999ff;
}

/* GROUP: Popup Menu */
.vsc .wmbutton.wmPopupButton .popupIcon {
   background-image: url(lib/wm/base/widget/themes/wm_default/images/comboArrowDownDark.png);
   background-position: 0% 50%;
}

/* GROUP: Disabled Button */
.vsc .Disabled.wmbutton,
.vsc .Disabled.wmbutton:hover,
.vsc .Disabled.wmbutton:active,
.vsc .Disabled.wmbutton:active:hover {
	color: #fbfbfb;
	font-weight: normal;
/* 	box-shadow: 0px 0px 0px black; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 0px 0px 0px black; // THEMER: DISABLED */
  background-color: #333333;
  background-image: none;
	opacity: 0.25;
}