
/* GROUP: Dialog Footer */
.vsc .dialogfooter,
.vsc .wmpagedialog-controlspanel {
	background-color: #eeeeee;
	background-image: none;
	filter: none;
}

/* GROUP: Dialog Footer Buttons */
.vsc .dialogfooter .wmbutton {
	font-family: Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
	font-weight: normal;
	background-color: rgb(0, 68, 204);
	background-image: none;
	filter: none;
/* 	box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
/* 	border-radius: 4px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 4px; // THEMER: DISABLED */
}

/* GROUP: Footer Buttons (Hover) */
.vsc .dialogfooter .wmbutton:hover {
    color: #FFFFFF; 
	background-color: #0866c6;
	background-image: none;
	filter: none;
	box-shadow: 0px 0px 0px black;
	-webkit-box-shadow: 0px 0px 0px black;
}

/* GROUP: Footer Buttons (Active) */
.vsc .dialogfooter button.wmbutton.toggleButtonDown,
.vsc .dialogfooter .wmbutton.Active,
.vsc .dialogfooter .wmbutton:active,
.vsc .dialogfooter .wmbutton.Active:hover,
.vsc .dialogfooter .wmbutton:active:hover {
/* 	color: #ffffff; // THEMER: DISABLED */
/* 	background-color: rgb(68, 68, 68); // THEMER: DISABLED */
/* 	background-image: none; // THEMER: DISABLED */
/* 	filter: none; // THEMER: DISABLED */
	box-shadow: 0px 0px 0px black;
	-webkit-box-shadow: 0px 0px 0px black;
}

