.vsc  .wmapproot {
font-family: Helvetica, sans-serif;
font-size: 13px;
color: #333333;
font-weight: normal;
}
.vsc .wmapproot > .wmpagecontainer,
.vsc.wmapproot > .wmpagecontainer,
.vsc #studio_designer > .wmlayout {
border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #ffffff;
background-image: none;
filter: none;
}
.dj_ie9 .vsc div,
.dj_ie9 .vsc input,
.dj_ie9 .vsc button {
border-radius: 0px !important;
}
.vsc .wmtablayers .wmtablayers-tab,
.vsc .wmtablayers button.wmtablayers-verticaltab {
font-family: Helvetica, sans-serif;
color: #333333;
font-weight: normal;
font-size: 12px;
background-color: rgb(238, 238, 238);
background-image: none;
filter: none;
}
.vsc .wmtablayers .wmtablayers-tab {
height: 32px;
margin-left: 1px;
border-top: solid 0px rgb(68, 68, 68);
border-right: solid 0px rgb(187, 187, 187);
border-bottom: solid 0px transparent;
border-left: solid 0px rgb(187, 187, 187);
}
.dj_ff .vsc .wmtablayers .wmtablayers-tab {
box-shadow: 0 0 0 black !important;
}
.vsc .wmtablayers-tab:first-child {
margin-left: 0px;
}
.vsc .wmtablayers .wmtablayers-verticaltab.wmtablayers-selected,
.vsc .wmtablayers .wmtablayers-verticaltab.wmtablayers-selected:hover,
.vsc .wmtablayers .wmtablayers-tab.wmtablayers-selected,
.vsc .wmtablayers .wmtablayers-tab.wmtablayers-selected:hover {
background-color: #ffffff;
background-image: none;
filter: none;
}
.vsc .wmtablayers .wmtablayers-tab.wmtablayers-selected,
.vsc .wmtablayers .wmtablayers-tab.wmtablayers-selected:hover {
}
.vsc .wmtablayers .wmtablayers-verticaltab:focus,
.vsc .wmtablayers .wmtablayers-tab:focus {
}
.vsc .wmtablayers .wmtablayers-tab:hover,
.vsc .wmtablayers .wmtablayers-verticaltab:hover {
background-color: #ffffff;
background-image: none;
filter: none;
}
.vsc .wmtablayers .wmtablayers-tab:hover {
}
.vsc .wmtablayers .wmtablayers-tab:active,
.vsc .wmtablayers .wmtablayers-verticaltab:active,
.vsc .wmtablayers .wmtablayers-tab:active:.focus,
.vsc .wmtablayers .wmtablayers-verticaltab:active:focus {
color: #FFFFFF;
background-color: #444444;
background-image: none;
filter: none;
}
.vsc .wmtablayers .wmtablayers-tab:active,
.vsc .wmtablayers .wmtablayers-tab:active:focus {
box-shadow: 0px 0px 0px #444444;
}
.vsc .wmtablayers  .wmTabLayers-client > .wmlayer {
}
.vsc .wmtablayers div.wmtablayers-tabbar {
background-color: #eeeeee;
background-image: none;
filter: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
}
.vsc .wmtablayers button.wmtablayers-verticaltab {
font-size: 12px;
width: 100%;
border-top: solid 0px rgb(68, 68, 68);
border-right: solid 0px transparent;
border-bottom: solid 0px rgb(68, 68, 68);
border-left: solid 0px rgb(68, 68, 68);
}
.vsc .wmtablayers .wmtablayers-verticaltab:first-child {
}
.vsc .wmtablayers .wmtablayers-verticaltab:hover {
}
.vsc .wmtablayers .wmtablayers-verticaltab.wmtablayers-selected {
}
.vsc .wmtablayers .wmtablayers-verticaltab:active,
.vsc .wmtablayers .wmtablayers-verticaltab:active:focus {
box-shadow: 0px 0px 0px #444444;
}
.vsc .wmaccordion div.wmaccordion-header {
font-family: Helvetica, sans-serif;
font-size: 12px;
color: #333333;
font-weight: normal;
background-color: rgb(255,255,255);
background-image: none;
filter: none;
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(252, 252, 252);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-top: solid 1px rgb(51, 51, 51);
border-right: solid 1px rgb(51, 51, 51);
border-bottom: solid 1px rgb(51, 51, 51);
border-left: solid 1px rgb(51, 51, 51);
display: block;
height: 21px;
line-height: 21px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
text-decoration: none solid rgb(51, 51, 51);
text-shadow: none;
vertical-align: baseline;
}
.vsc .wmaccordion div.wmaccordion-header.wmaccordion-collapsed {
color: #333333;
font-weight: normal;
background-color: #eeeeee;
background-image: none;
filter: none;
}
.vsc div.wmaccordion .wmaccordion-header.wmaccordion-collapsed:hover {
background-color: #e7e7e7;
background-image: none;
filter: none;
}
.vsc .wmaccordion .accordionArrowNode {
float: none !important;
position: absolute;
}
.vsc .wmaccordion .accordionArrowNode.accordionOnLeftArrowNode {
position: relative;
float: none;
}
.vsc .wmaccordion .wmaccordion-collapsed .accordionArrowNode {
}
.vsc .wmaccordion .wmlayer.wmaccordion-content {
background-color: transparent;
}
.vsc .wmfancypanel .wmFancyPanel-containerWidget {
border-top-left-radius: 0px !important;
border-top-right-radius: 0px !important;
-webkit-border-top-left-radius: 0px !important;
-webkit-border-top-right-radius: 0px !important;
box-shadow: 0px 0px 0px black !important;
border-radius: 0px 0px 4px 4px;
-webkit-border-radius: 0px 0px 4px 4px;
background-color: white;
background-image: none;
filter: none;
}
.vsc .wmfancypanel .wmFancyPanel-labelWidget {
border-radius: 0px;
-webkit-border-radius: 0px;
font-family: Helvetica, sans-serif;
font-size: 14px;
font-weight: normal;
color: #FFFFFF;
background-color: #0866c6;
background-image: none;
filter: none;
}
.vsc .wmbutton,
.vsc button.wmbutton,
.vsc .wmbutton .dijitReset {
font-family: Helvetica, sans-serif;
font-size: 13px;
color: #FFFFFF;
font-weight: normal;
}
.vsc .wmbutton {
background-color: #0044cc;
background-image: none;
filter: none;
}
.vsc   .wmbutton:hover {
color: #FFFFFF;
font-weight: normal;
background-color: #0866c6;
background-image: none;
filter: none;
}
.vsc   button.wmbutton.toggleButtonDown,
.vsc   .wmbutton.Active,
.vsc   .wmbutton.Active:hover,
.vsc   .wmbutton:active,
.vsc   .wmbutton:hover:active {
color: #FFFFFF;
font-weight: normal;
box-shadow: 4px 4px 4px black;
background-color: #333333;
background-image: none;
filter: none;
}
.vsc   .wmbutton:focus {
outline: solid 1px #9999ff;
}
.vsc .wmbutton.wmPopupButton .popupIcon {
background-image: url(lib/wm/base/widget/themes/wm_default/images/comboArrowDownDark.png);
background-position: 0% 50%;
}
.vsc .Disabled.wmbutton,
.vsc .Disabled.wmbutton:hover,
.vsc .Disabled.wmbutton:active,
.vsc .Disabled.wmbutton:active:hover {
color: #fbfbfb;
font-weight: normal;
background-color: #333333;
background-image: none;
opacity: 0.25;
}
.vsc .wmtogglebuttonpanel {
}
.vsc .wmtogglebuttonpanel .wmbutton:first-child {
}
.vsc .wmtogglebuttonpanel .wmbutton:last-child {
}
.vsc .wmapproot .wmtogglebuttonpanel .wmbutton {
}
.vsc .wmtogglebuttonpanel .wmbutton {
}
.vsc .wmtogglebuttonpanel .wmbutton.toggleButtonDown {
}
.vsc .dojoxGrid .dijitTextBox,
.vsc .dojoxGrid .dijitComboBox,
.vsc .dojoxGrid .dijitSelect .dijitButtonContents,
.vsc .wmeditor .dijitTextBox,
.vsc .wmeditor .dijitTextArea,
.vsc .wmeditor .dijitComboBox,
.vsc .wmeditor .dijitSelect .dijitButtonContents,
.vsc .dijitTimePickerItem,
.vsc .wmeditor .RichTextEditable iframe {
border: solid 1px rgb(187, 187, 187);
font-family: Helvetica, sans-serif;
font-size: 13px;
color: #555555;
font-weight: normal;
background-color: #ffffff;
background-image: none;
filter: none;
}
.vsc  .wmeditor .dijitTextBox,
.vsc  .wmeditor .dijitTextArea,
.vsc  .wmeditor .dijitComboBox,
.vsc  .dojoxGrid .dijitTextBox,
.vsc  .dojoxGrid .dijitTextArea,
.vsc  .dojoxGrid .dijitComboBox
{
}
.vsc .wmeditor.wmrichtext {
-webkit-border-bottom-left-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
}
.vsc .dijitTimePickerMarker.dijitTimePickerMarkerHover,
.vsc .dijitTimePickerItem.dijitTimePickerItemHover,
.vsc .wmeditor .dijitTextBox.dijitHover,
.vsc .wmeditor .dijitTextArea:hover,
.vsc .wmeditor .dijitComboBox.dijitHover,
.vsc .wmeditor .dijitSelect.dijitHover .dijitButtonContents,
.vsc .wmeditor .RichTextEditable:hover iframe {
border: solid 1px #bbbbbb;
background-color: #ffffff;
background-image: none;
filter: none;
}
.vsc .dojoxGrid .dijitTextBox.dijitFocused,
.vsc .dojoxGrid .dijitComboBox.dijitFocused,
.vsc .dojoxGrid .dijitSelect.dijitFocused .dijitButtonContents,
.vsc .wmeditor .dijitTextBox.dijitFocused,
.vsc .wmeditor .dijitTextBox.dijitFocused.dijitHover,
.vsc .wmeditor .dijitTextArea.dijitFocused,
.vsc .wmeditor .dijitTextArea.dijitFocused:hover,
.vsc .wmeditor .dijitComboBox.dijitFocused,
.vsc .wmeditor .dijitComboBox.dijitFocused.dijitHover,
.vsc .wmeditor .dijitSelect.dijitFocused .dijitButtonContents,
.vsc .wmeditor .dijitSelect.dijitFocused.dijitHover .dijitButtonContents,
.vsc .isDirty.wmeditor .dijitTextBox.dijitFocused,
.vsc .isDirty.wmeditor .dijitTextArea.dijitFocused,
.vsc .isDirty.wmeditor .dijitComboBox.dijitFocused,
.vsc .wmeditor .RichTextEditable.Focused iframe {
border: solid 1px #bbbbbb;
}
.vsc .isDirty.wmeditor .dijitTextBox,
.vsc .isDirty.wmeditor .dijitTextArea,
.vsc .isDirty.wmeditor .dijitComboBox {
}
.vsc .wmeditor .dijitError.dijitTextBox,
.vsc .wmeditor .dijitError.dijitTextArea,
.vsc .wmeditor .dijitError.dijitComboBox,
.vsc .wmeditor .dijitError.isDirty.dijitTextBox,
.vsc .wmeditor .dijitError.isDirty.dijitTextArea,
.vsc .wmeditor .dijitError.isDirty.dijitComboBox
{
color: #ffffff;
border: solid 1px #bbbbbb;
background-color: #ee1010;
background-image: none;
filter: none;
}
.vsc .wmeditor .wmeditor-caption {
font-family: Helvetica, sans-serif;
font-size: 13px;
color: #333333;
font-weight: normal;
}
.vsc .wmeditor .wmeditor-readonlyNode {
font-family: Helvetica, sans-serif;
font-size: 13px;
}
.vsc .dojoxGrid .dijitComboBox .dijitArrowButton,
.vsc .wmeditor .dijitSpinner .dijitArrowButton,
.vsc .wmeditor .dijitComboBox .dijitArrowButton,
.vsc .wmeditor .dijitSelect .dijitArrowButton {
background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(170, 170, 170)), color-stop(52%,rgb(102, 102, 102)), to(rgb(102, 102, 102)));
background-image: -moz-linear-gradient(top, rgb(170, 170, 170) 0%,rgb(102, 102, 102) 52%,rgb(102, 102, 102) 100%);
background-image: -o-linear-gradient(top, rgb(170, 170, 170) 0%,rgb(102, 102, 102) 52%,rgb(102, 102, 102) 100%);
background-image: -ms-linear-gradient(top, rgb(170, 170, 170) 0%,rgb(102, 102, 102) 52%,rgb(102, 102, 102) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(170, 170, 170)', endColorstr='rgb(102, 102, 102)',GradientType=0);
}
.vsc .dojoxGrid .dijitComboBox .dijitArrowButton,
.vsc .dijitComboBox .dijitArrowButton .dijitArrowButtonInner,
.vsc .dijitSelect .dijitArrowButton .dijitArrowButtonInner,
.vsc .wmeditor .dijitComboBox .dijitArrowButton,
.vsc .wmeditor .dijitSelect .dijitArrowButton,
.vsc .wmeditor .dijitComboBox .dijitArrowButton .dijitArrowButtonInner,
.vsc .wmeditor .dijitSelect .dijitArrowButton .dijitArrowButtonInner {
}
.vsc .dojoxGrid .dijitComboBox .dijitArrowButton:hover,
.vsc .wmeditor .dijitSpinner .dijitArrowButton:hover,
.vsc .wmeditor .dijitComboBox .dijitArrowButton:hover,
.vsc .wmeditor .dijitSelect .dijitArrowButton:hover {
}
.vsc .dojoxGrid .dijitComboBox .dijitArrowButton:active,
.vsc .wmeditor .dijitSpinner .dijitArrowButton:active,
.vsc .wmeditor .dijitComboBox .dijitArrowButton:active,
.vsc .wmeditor .dijitSelect .dijitArrowButton:active {
}
.vsc .dijitComboBox .dijitArrowButton .dijitArrowButtonInner,
.vsc .dijitSelect .dijitArrowButton .dijitArrowButtonInner,
.vsc .wmeditor .dijitComboBox .dijitArrowButton .dijitArrowButtonInner,
.vsc .wmeditor .dijitSelect .dijitArrowButton .dijitArrowButtonInner {
background-position: 50% 50%;
background-image: url(images/comboArrowDownLight.png);
}
.vsc .wmeditor .dijitSpinner .dijitArrowButton .dijitArrowButtonInner {
background-position: 30% 30%;
background-image: url(images/comboArrowDownLight.png);
}
.vsc .wmeditor .dijitSpinner .dijitArrowButton.dijitUpArrowButton .dijitArrowButtonInner {
background-image: url(images/comboArrowUpLight.png);
}
.vsc .wmeditor .dijitSlider .dijitSliderImageHandleH {
background: url(images/preciseSliderThumb.png) no-repeat 50% 0%;
outline-width: 0;
}
.vsc .wmeditor .dijitSlider .dijitSliderProgressBarH,
.vsc .wmeditor .dijitSlider .dijitSliderLeftBumper,
.vsc .wmeditor .dijitSliderFocused.dijitSlider .dijitSliderProgressBarH,
.vsc .wmeditor .dijitSliderFocused.dijitSlider .dijitSliderLeftBumper {
background-color: #0866c6;
background-image: none;
filter: none;
}
.vsc .wmeditor .dijitSlider .dijitSliderRemainingBarH,
.vsc .wmeditor .dijitSlider .dijitSliderRightBumper,
.vsc .wmeditor .dijitSliderFocused.dijitSlider .dijitSliderRemainingBarH,
.vsc .wmeditor .dijitSliderFocused.dijitSlider .dijitSliderRightBumper {
background-color: #eeeeee;
background-image: none;
filter: none;
}
.vsc .GridListStyle div.dojoxGrid,
.vsc .GridListStyle .wmlist {
font-size: 13px;
}
.vsc .GridListStyle  .wmlist-cell,
.vsc .GridListStyle td.dojoxGridCell {
border: solid 0px rgb(153, 153, 153);
}
.vsc .GridListStyle div.dojoxGridRow,
.vsc .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOver,
.vsc .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOver td.dojoxGridCell,
.vsc .GridListStyle div.wmlist-item,
.vsc .GridListStyle.Disabled div.wmlist-item.wmlist-item-over  {
font-family: Helvetica, sans-serif;
font-weight: normal;
}
.vsc .GridListStyle div.dojoxGridContent .dojoxGridCell {
background-color: transparent;
}
.vsc .GridListStyle div.dojoxGridContent .dojoxGridCellFocus,
.vsc .GridListStyle div.dojoxGridContent .dojoxGrid-cell-focus {
border: 1px dashed transparent !important;
}
.vsc .GridListStyle div.dojoxGridRow,
.vsc .GridListStyle div.wmlist-item,
.vsc .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOver,
.vsc .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowSelected,
.vsc .GridListStyle.Disabled .dojoxGridRowOver td.dojoxGridCell,
.vsc .GridListStyle.Disabled div.wmlist-item.wmlist-item-over,
.vsc .GridListStyle.Disabled div.wmlist-item.wmlist-item-selected,
.vsc .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOdd.dojoxGridRowOver,
.vsc .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOdd.dojoxGridRowSelected,
.vsc .GridListStyle.Disabled div.wmlist-item.Odd.wmlist-item-over,
.vsc .GridListStyle.Disabled div.wmlist-item.Odd.wmlist-item-selected   {
color: #333333;
background-color: rgb(252, 252, 252);
background-image: none;
filter: none;
}
.vsc .GridListStyle div.dojoxGrid-row.dojoxGrid-row-odd,
.vsc .GridListStyle div.dojoxGridRow.dojoxGridRowOdd,
.vsc .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOdd.dojoxGridRowOver,
.vsc .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOdd.dojoxGridRowSelected,
.vsc .GridListStyle.Disabled div.dojoxGridRow.dojoxGridRowOdd.dojoxGridRowOver td.dojoxGridCell,
.vsc .GridListStyle.Disabled div.wmlist-item.Odd.wmlist-item-over,
.vsc .GridListStyle.Disabled div.wmlist-item.Odd.wmlist-item-selected,
.vsc .GridListStyle .wmlist-item.Odd {
color: #333333;
background-color: rgb(238, 238, 238);
background-image: none;
filter: none;
}
.vsc .GridListStyle .dojoxGridRow.dojoxGridRowSelected,
.vsc .GridListStyle.Disabled .dojoxGridRow.dojoxGridRowSelected,
.vsc .GridListStyle .dojoxGridRow.dojoxGridRowSelected td.dojoxGridCell,
.vsc .GridListStyle .dojoxGridRow.dojoxGridRowOdd.dojoxGridRowSelected,
.vsc .GridListStyle .dojoxGridRow.dojoxGridRowOver.dojoxGridRowSelected,
.vsc .GridListStyle .dojoxGridRow.dojoxGridRowOdd.dojoxGridRowOver.dojoxGridRowSelected,
.vsc .GridListStyle .wmlist-item.wmlist-item-selected,
.vsc .GridListStyle.Disabled .wmlist-item.wmlist-item-selected,
.vsc .GridListStyle .wmlist-item.wmlist-item-selected.wmlist-item-over {
background-color: #6b6b6b;
background-image: none;
filter: none;
color: #FFFFFF;
}
.vsc .dojoxGridCellFocus {
outline: solid 0px #ae0909;
outline-offset: -1px;
}
.vsc .GridListStyle .wmlist-item.wmlist-item-over,
.vsc .GridListStyle .dojoxGridRow.dojoxGridRowOver,
.vsc .GridListStyle .dojoxGridRow.dojoxGridRowOdd.dojoxGridRowOver,
.vsc .GridListStyle .dojoxGridRowOver a,
.vsc .GridListStyle .dojoxGridRowOver td.dojoxGridCell {
background-color: #999999;
color: #000000;
}
.vsc .GridListStyle .wmlist-header th,
.vsc .GridListStyle.wmNoFontSize div.dojoxGridHeader .dojoxGridCell {
font-size: 14px;
}
.vsc .GridListStyle .wmlist-header .wmlist-cell,
.vsc .GridListStyle div.dojoxGridHeader .dojoxGridCell {
border-top: solid 0px rgb(251, 251, 251);
border-right: solid 1px rgb(170, 170, 170);
border-bottom: solid 0px rgb(251, 251, 251);
border-left: solid 0px rgb(251, 251, 251);
}
.vsc .GridListStyle .wmlist-header,
.vsc .GridListStyle div.dojoxGridHeader {
background-image: -webkit-gradient(linear, center top, center bottom, from(#cccccc), color-stop(100%,#333333), to(#333333));
background-image: -moz-linear-gradient(top, #cccccc 0%,#333333 100%,#333333 100%);
background-image: -o-linear-gradient(top, #cccccc 0%,#333333 100%,#333333 100%);
background-image: -ms-linear-gradient(top, #cccccc 0%,#333333 100%,#333333 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#333333',GradientType=0);
border-bottom: solid 1px #666666;
}
.vsc .GridListStyle .wmlist-header th,
.vsc .GridListStyle div.dojoxGridHeader th.dojoxGridCell,
.vsc .GridListStyle div.dojoxGridHeader th.dojoxGridCell.dojoxGridCellOver {
background: transparent none !important;
font-family: Helvetica, sans-serif;
color: #e6e6e6;
font-weight: normal;
}
.vsc .GridListStyle .dojoxGridCell,
.vsc .GridListStyle .wmlist-cell {
padding: 4px 8px;
}
.vsc .GridListStyle .dojoxGridCellFocus {
}
.vsc .MobileListStyle div.wmlist-item,
.vsc .Disabled.MobileListStyle div.wmlist-item,
.vsc .Disabled.MobileListStyle div.wmlist-item.wmlist-item-over {
border-radius: 4px;
margin: 5px;
background-color: #0866c6;
background-image: none;
filter: none;
color: #000000;
font-family: sans-serif;
min-height: 24px;
}
.vsc .wmlist.MobileListStyle td.wmlist-cell {
border-style: solid;
border-color: #AAAAAA;
border-width: 0px;
}
.vsc .MobileListStyle div.wmlist-item.wmlist-item-over,
.vsc .MobileListStyle div.wmlist-item.Odd.wmlist-item-over {
background-color: #555555;
color: #FFFFFF;
}
.vsc .MobileListStyle div.wmlist-item.wmlist-item-selected,
.vsc .MobileListStyle div.wmlist-item.Odd.wmlist-item-selected,
.vsc .MobileListStyle div.wmlist-item.wmlist-item-selected.wmlist-item-over,
.vsc .MobileListStyle div.wmlist-item.Odd.wmlist-item-selected.wmlist-item-over {
background-color: #333333;
color: #FFFFFF;
}
.vsc .wmprogressbar .dijitProgressBar {
}
.vsc .wmprogressbar .dijitProgressBarLabel {
font-family: Helvetica, sans-serif;
font-size: 13px;
color: #FFFFFF;
font-weight: normal;
}
.vsc .wmprogressbar .dijitProgressBar {
background-color: #6b6b6b;
background-image: none;
filter: none;
}
.vsc .wmprogressbar .dijitProgressBarFull {
background-color: #0866c6;
background-image: none;
filter: none;
}
.vsc .wmprogressbar .dijitProgressBarTile {
background-image: inherit;
background-color: inherit;
}
.vsc .wmbevel {
background-color: #cccccc;
background-image: none;
filter: none;
}
.vsc div.wmsplitter-h,
.vsc div.wmsplitter-v {
background-color: #cccccc;
}
.vsc div.wmsplitter-h:hover,
.vsc div.wmsplitter-v:hover {
background-color: #6b6b6b;
}
.vsc .wmsplitter-h {
background: url(images/splitter_bg_h.png) no-repeat 50% 50%;
}
.vsc .wmsplitter-v {
background: url(images/splitter_bg_v.png) no-repeat 50% 50%;
}
.vsc .dijitCalendarDayLabel,
.vsc .dijitCalendarDateLabel {
font-size: 11px;
}
.vsc table.dijitCalendarContainer td.dijitCalendarCurrentMonth {
background-color: #ffffff !important;
background-image: none !important;
filter: none !important;
color: #333333;
}
.vsc .dijitCalendarBodyContainer td {
border-top: solid 1px rgb(204, 204, 204);
border-right: solid 1px rgb(204, 204, 204);
border-bottom: solid 0px rgb(102, 102, 102);
border-left: solid 0px rgb(102, 102, 102);
}
.vsc .dijitCalendarContainer td.dijitCalendarSelectedDate,
.vsc .dijitCalendarContainer td.dijitCalendarSelectedDate.dijitCalendarCurrentMonth {
background-color: #0866c6 !important;
background-image: none !important;
filter: none !important;
color: #e2e2d4 !important;
}
.vsc .dijitCalendarContainer td.dijitCalendarHoveredDate,
.vsc .dijitCalendarContainer td.dijitCalendarHoveredDate.dijitCalendarCurrentMonth,
.vsc .dijitCalendarContainer .dijitCalendarHoveredYear,
.vsc .dijitCalendarContainer .dijitCalendarNextYear:hover,
.vsc .dijitCalendarContainer .dijitCalendarPreviousYear:hover {
background-color: #e7e7e7 !important;
background-image: none !important;
filter: none !important;
color: #333333;
}
.vsc .dijitCalendarContainer .dijitCalendarPreviousMonth,
.vsc .dijitCalendarContainer .dijitCalendarNextMonth {
background-color: #ffffff !important;
background-image: none !important;
filter: none !important;
color: #ffffff;
}
.vsc .dijitCalendarContainer .dijitCalendarDayLabelTemplate {
background-color: #eeeeee !important;
background-image: none !important;
filter: none !important;
color: #333333;
}
.vsc tr.dijitCalendarMonthContainer th {
background-color: #333333;
background-image: none;
filter: none;
}
.vsc tr.dijitCalendarMonthContainer th {
font-family: Helvetica, sans-serif;
font-size: 13px;
color: #eeeeee;
font-weight: bold;
}
.vsc tr.dijitCalendarMonthContainer th .dijitCalendarMonthLabel {
font-family: Helvetica, sans-serif;
font-size: 13px;
color: #FFFFFF;
font-weight: bold;
border: solid 0px rgb(251, 251, 251);
box-shadow: 0px 0px 0px black;
}
.vsc table.dijitCalendarContainer {
}
.vsc .wmapproot a,
.vsc  #wavemakerNode  .wmapproot a,
#studio_designer.vsc .wmapproot a:visited,
.vsc  #wavemakerNode  .wmapproot a:visited {
font-family: Helvetica, sans-serif;
font-size: 12px;
color: #336699;
font-weight: bold;
text-decoration:underline;
}
.vsc  #wavemakerNode  .wmapproot a:hover,
.vsc  #wavemakerNode  .wmapproot a:hover:visited {
color: #336699;
text-decoration:underline;
}
.vsc  #wavemakerNode  .wmapproot a:active,
.vsc  #wavemakerNode  .wmapproot a:hover:active,
.vsc  #wavemakerNode  .wmapproot a:hover:visited:active {
color: #336699;
text-decoration:none;
}
.vsc  #wavemakerNode  .wmapproot .Disabled a,
.vsc  #wavemakerNode  .wmapproot .Disabled a:hover,
.vsc  #wavemakerNode  .wmapproot .Disabled a:active,
.vsc  #wavemakerNode  .wmapproot .Disabled a:hover:active,
.vsc  #wavemakerNode  .wmapproot .Disabled a:hover:visited:active {
color: #999999;
}
.vsc .dojoxPortlet div.dijitTitlePaneTitle {
font-family: Helvetica, sans-serif;
font-size: 13px;
font-weight: normal;
min-height: 22px;
line-height: 28px;
padding-left: 10px;
}
.vsc .dojoxPortlet div.dijitTitlePaneTitle .dijitTitlePaneTextNode {
color: #333333;
}
.vsc .dojoxPortlet {
border: solid 1px #949494;
}
.vsc .dojoxPortlet div.dijitTitlePaneTitle {
background-color: #eeeeee;
background-image: none;
filter: none;
border-bottom: solid 1px #949494;
}
.vsc .dojoxPortlet div.dijitTitlePaneTitle .dojoxPortletIcon {
border-color: #333333;
width: 16px;
height: 20px;
margin-right: 4px;
}
.vsc .dojoxPortlet div.dijitTitlePaneTitle .dojoxPortletIcon.dojoxCloseNode {
background-image: url(images/DialogIconsGray.png);
background-position: 0px 0px;
position: relative;
top: 3px;
height: 16px;
}
.vsc .dojoxPortlet div.dijitTitlePaneTitle .dojoxPortletIcon.dojoxCloseNode:hover {
}
.vsc .dojoxPortlet div.dijitTitlePaneTitle .dojoxPortletIcon.dojoxArrowDown {
background-image: url(images/DialogIconsGray.png);
position: relative;
top: 3px;
height: 16px;
background-position: -16px 0px;
}
.vsc .dojoxPortlet div.dijitTitlePaneTitle .dojoxPortletIcon.dojoxArrowDown:hover {
}
.vsc .dojoxPortlet div.dijitTitlePaneTitle.dijitClosed .dojoxPortletIcon.dojoxArrowDown {
background-image: url(images/DialogIconsGray.png);
background-position: -32px 0px;
}
.vsc .dojoxPortlet div.dijitTitlePaneTitle.dijitClosed .dojoxPortletIcon.dojoxArrowDown:hover {
}
.vsc .wmdialog {
}
.vsc .wmdialog {
background-color: white;
background-image: none;
filter: none;
font-family: sans-serif;
font-size: 13px;
color: #333333;
font-weight: normal;
}
.vsc .dialogtitlebar .wmlabel{
font-family: Helvetica, sans-serif;
font-size: 14px;
color: #333333;
font-weight: normal;
}
.vsc .dialogtitlebar {
background-color: #e7e7e7;
background-image: none;
filter: none;
}
.vsc .dialogtitlebar .dialogclosebutton {
background-image: url(images/DialogIconsGray.png);
background-repeat: no-repeat;
background-repeat: no-repeat;
}
.vsc .dialogtitlebar .dialogminifybutton {
background-image: url(images/DialogIconsGray.png);
background-position: -16px 0px;
background-repeat: no-repeat;
}
.vsc .dialogtitlebar .dialogmaxifybutton {
background-image: url(images/DialogIconsGray.png);
background-position: -32px 0px;
background-repeat: no-repeat;
}
.vsc .dialogfooter,
.vsc .wmpagedialog-controlspanel {
background-color: #eeeeee;
background-image: none;
filter: none;
}
.vsc .dialogfooter .wmbutton {
font-family: Helvetica, sans-serif;
font-size: 13px;
color: #ffffff;
font-weight: normal;
background-color: rgb(0, 68, 204);
background-image: none;
filter: none;
}
.vsc .dialogfooter .wmbutton:hover {
color: #FFFFFF;
background-color: #0866c6;
background-image: none;
filter: none;
box-shadow: 0px 0px 0px black;
-webkit-box-shadow: 0px 0px 0px black;
}
.vsc .dialogfooter button.wmbutton.toggleButtonDown,
.vsc .dialogfooter .wmbutton.Active,
.vsc .dialogfooter .wmbutton:active,
.vsc .dialogfooter .wmbutton.Active:hover,
.vsc .dialogfooter .wmbutton:active:hover {
box-shadow: 0px 0px 0px black;
-webkit-box-shadow: 0px 0px 0px black;
}
.vsc .dojoMenu .dijitMenu,
.vsc .dojoMenu .dijitMenuBar,
.vsc .dojoMenu .dijitMenuItem {
font-family: Helvetica, sans-serif;
font-size: 13px;
font-weight: normal;
color: #eeeeee;
background-color: #232323;
background-image: none;
filter: none;
}
.vsc .dojoMenu .dijitMenuBar .dijitMenuItem {
margin-right: 0px;
margin-left: 0px;
height: 28px;
line-height: 24px;
text-align: center;
}
.vsc .dojoMenu .dijitMenuItem.dijitMenuItemHover {
color: #ffffff;
outline: 0px;
}
.vsc .dojoMenu .dijitMenuItem.dijitMenuItemSelected {
color: #FFFFFF;
background-color: #333333;
background-image: none;
filter: none;
outline: 0px;
}
.vsc .dojoMenu div.dijitMenuBar div.dijitMenuItem {
padding-right: 25px !important;
}
.vsc .dijitMenuPopup .dijitMenuTable {
background-color: #ffffff;
background-image: none;
filter: none;
border-top: solid 1px #cccccc;
border-right: solid 1px #cccccc;
border-bottom: solid 1px #cccccc;
border-left: solid 1px #cccccc;
border-radius: 4px;
-webkit-border-radius: 4px;
}
.vsc .dijitMenuPopup {
box-shadow: 3px 3px 4px #6b6b6b;
-webkit-box-shadow: 3px 3px 4px #6b6b6b;
}
.vsc .dijitPopup .dijitMenuTable .dijitMenuItem {
font-size: 12px;
font-family: Helvetica, sans-serif;
color: #333333;
font-weight: normal;
background-color: transparent;
border-top: solid 0px #cccccc;
border-right: solid 1px #cccccc;
border-bottom: solid 0px #cccccc;
border-left: solid 1px #cccccc;
height: 28px;
padding-bottom: 3px;
padding-left: 15px;
padding-right: 15px;
padding-top: 3px;
}
.vsc .dijitPopup .dijitMenu.dijitMenuTable .dijitMenuItem.dijitMenuItemFocused,
.vsc .dijitPopup .dijitMenu.dijitMenuTable .dijitMenuItem.dijitMenuItemSelected {
color: #FFFFFF;
background-color: #0866c6;
background-image: none;
filter: none;
outline-width: 0;
}
.vsc .dijitPopup .dijitCalendarMonthMenu,
.vsc  ul.dijitMenu {
background-color: #ffffff;
background-image: none;
filter: none;
border-top: solid 1px #cccccc;
border-right: solid 1px #cccccc;
border-bottom: solid 1px #cccccc;
border-left: solid 1px #cccccc;
box-shadow: 3px 3px 4px #cccccc;
-webkit-box-shadow: 3px 3px 4px #cccccc;
}
.vsc .dijitPopup .dijitCalendarMonthLabel,
.vsc  ul.dijitMenu .dijitMenuItem {
padding: 4px 5px;
text-align: left;
font-size: 13px;
font-family: Helvetica, sans-serif;
color: #333333;
font-weight: normal;
background-color: transparent;
border-top: solid 0px rgb(251, 251, 251);
border-right: solid 0px rgb(251, 251, 251);
border-bottom: solid 0px rgb(170, 170, 170);
border-left: solid 0px rgb(251, 251, 251);
}
.vsc .dijitPopup .dijitCalendarMonthLabel .dijitMenuItemSelected,
.vsc  ul.dijitMenu .dijitMenuItem.dijitMenuItemSelected {
color: #FFFFFF;
background-color: #0866c6;
background-image: none;
filter: none;
border-top: solid 0px rgb(251, 251, 251);
border-right: solid 0px rgb(251, 251, 251);
border-bottom: solid 0px rgb(170, 170, 170);
border-left: solid 0px rgb(251, 251, 251);
}
.vsc .AppToolTip {
font-family: Helvetica, sans-serif;
font-size: 13px;
color: #333333;
font-weight: normal;
background-color: #FFFECB;
background-image: none;
filter: none;
border-radius: 0px;
-webkit-border-radius: 0px;
box-shadow: 2px 2px 2px #666;
}
html.WMApp .vsc div.wmtoast.wmtoastExtraSpecific {
background-color: rgb(40,40,40);
background-image: none;
filter: none;
border-radius: 0px;
-webkit-border-radius: 0px;
-webkit-box-shadow: 3px 4px 4px #222;
box-shadow: 3px 4px 4px #222;
}
.vsc .wmtoast .wmtoastmessage {
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 13px;
color: #333333;
font-weight: normal;
}
html.WMApp .vsc div.wmtoast.Success.wmtoastExtraSpecific {
background-color: #ffffff;
background-image: none;
filter: none;
}
.vsc .wmtoast .wmtoasttitle,
.vsc .wmtoast.Success .wmtoastmessage {
color: black;
}
.vsc .wmtoast.Success .ToastLeft {
background-image: url(images/OK.png);
}
html.WMApp .vsc div.wmtoast.Warning.wmtoastExtraSpecific {
background-color: #ffffff;
background-image: none;
filter: none;
}
.vsc .wmtoast .wmtoasttitle,
.vsc .wmtoast.Warning .wmtoastmessage {
color: black;
}
.vsc .wmtoast.Warning .ToastLeft {
background-image: url(images/Caution.png);
}
html.WMApp .vsc div.wmtoast.Error.wmtoastExtraSpecific {
background-color: #ffffff;
background-image: none;
filter: none;
}
.vsc .wmtoast .wmtoasttitle,
.vsc .wmtoast.Error .wmtoastmessage {
color: black;
}
.vsc .wmtoast.Error .ToastLeft {
background-image: url(images/Close.png);
}
html.WMApp .vsc div.wmtoast.Info.wmtoastExtraSpecific {
background-color: #ffffff;
background-image: none;
filter: none;
}
.vsc .wmtoast .wmtoasttitle,
.vsc .wmtoast.Info .wmtoastmessage {
color: black;
}
.vsc .wmtoast.Info .ToastLeft {
background-image: url(images/Help\ Circle.png);
}
.vsc .wmtoast .wmtoasttitle {
font-family: Helvetica, sans-serif;
font-size: 1em;
color: black;
font-weight: bold;
}
.wmtoastExtraSpecific.fadeInAnim {
-webkit-animation-name: toastFadeInKeyFrames;
-moz-animation-name: toastFadeInKeyFrames;
animation-name: toastFadeInKeyFrames;
}
@keyframes toastFadeInKeyFrames {
0% {
opacity: 0;
}
100% {
opacity: 0.9;
}
}
html.WMApp .vsc div.wmtoast.wmtoastExtraSpecific {
opacity: 0.9;
}
.vsc .SubmitButton.wmbutton,
.vsc button.SubmitButton.wmbutton,
.vsc .SubmitButton.wmbutton .dijitReset {
}
.vsc .SubmitButton.wmbutton {
}
.vsc   .wmbutton:hover {
}
.vsc   button.SubmitButton.wmbutton.toggleButtonDown,
.vsc   .SubmitButton.wmbutton.Active,
.vsc   .SubmitButton.wmbutton.Active:hover,
.vsc   .wmbutton:active,
.vsc   .wmbutton:hover:active {
}
.vsc   .wmbutton:focus {
}
.vsc .SubmitButton.wmbutton.wmPopupButton .popupIcon {
}
.vsc .Disabled.SubmitButton.wmbutton,
.vsc .Disabled.wmbutton:hover,
.vsc .Disabled.wmbutton:active,
.vsc .Disabled.wmbutton:active:hover {
}