/* GROUP: Toast Dialog */
html.WMApp .vsc div.wmtoast.wmtoastExtraSpecific {
    background-color: rgb(40,40,40);
    background-image: none;
    filter: none;

	border-radius: 0px;
	-webkit-border-radius: 0px;
     -webkit-box-shadow: 3px 4px 4px #222;
     box-shadow: 3px 4px 4px #222;
}
.vsc .wmtoast .wmtoastmessage {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
	font-weight: normal;
}

/* GROUP: Success Styling */
html.WMApp .vsc div.wmtoast.Success.wmtoastExtraSpecific {
    background-color: #ffffff;
    background-image: none;
    filter: none;
}
.vsc .wmtoast .wmtoasttitle,
.vsc .wmtoast.Success .wmtoastmessage {
    color: black;
}


/* GROUP: Success Graphic */
.vsc .wmtoast.Success .ToastLeft {
   background-image: url(images/OK.png);
}

/* GROUP: Warning Styling */
html.WMApp .vsc div.wmtoast.Warning.wmtoastExtraSpecific {
    background-color: #ffffff;
    background-image: none;
    filter: none;
}
.vsc .wmtoast .wmtoasttitle,
.vsc .wmtoast.Warning .wmtoastmessage {
    color: black;
}

/* GROUP: Warning Graphic */
.vsc .wmtoast.Warning .ToastLeft {
   background-image: url(images/Caution.png);
}

/* GROUP: Error Styling */
html.WMApp .vsc div.wmtoast.Error.wmtoastExtraSpecific {
    background-color: #ffffff;
    background-image: none;
    filter: none;
}
.vsc .wmtoast .wmtoasttitle,
.vsc .wmtoast.Error .wmtoastmessage {
    color: black;
}

/* GROUP: Error Graphic */
.vsc .wmtoast.Error .ToastLeft {
   background-image: url(images/Close.png);
}

/* GROUP: Info Styling */
html.WMApp .vsc div.wmtoast.Info.wmtoastExtraSpecific {
    background-color: #ffffff;
    background-image: none;
    filter: none;
}
.vsc .wmtoast .wmtoasttitle,
.vsc .wmtoast.Info .wmtoastmessage {
    color: black;
}

/* GROUP: Info Graphic */
.vsc .wmtoast.Info .ToastLeft {
   background-image: url(images/Help\ Circle.png);
}

/* GROUP: Title */
.vsc .wmtoast .wmtoasttitle {
	font-family: Helvetica, sans-serif;
	font-size: 1em;
    color: black;
	font-weight: bold;
}

/* GROUP: Opacity */
.wmtoastExtraSpecific.fadeInAnim {
      -webkit-animation-name: toastFadeInKeyFrames; /* THEMER: HIDE */
      -moz-animation-name: toastFadeInKeyFrames; /* THEMER: HIDE */
      animation-name: toastFadeInKeyFrames; /* THEMER: HIDE */
}

@keyframes toastFadeInKeyFrames {
   0% {
       opacity: 0; /* THEMER: HIDE */
   }
   100% {
	opacity: 0.9;
   }
 }

/* GROUP: Opacity again */
html.WMApp .vsc div.wmtoast.wmtoastExtraSpecific {
	opacity: 0.9;
}