/* GROUP: Main Document Styles */
.galton  .wmapproot {
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	color: #373737;
	font-weight: normal;
}
.galton .wmapproot > .wmpagecontainer,
.galton.wmapproot > .wmpagecontainer,
.galton #studio_designer > .wmlayout {
/* 	border-radius: 0px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 0px; // THEMER: DISABLED */
/* 	box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 4px 4px 4px black; // THEMER: DISABLED */
	background-color: #f0f0f0;
	background-image: none;
	filter: none;
}

/* IE9 has buggy display when combinding both gradients and radius.
 * Gradients and not radius work on IE8, so we'll just do it the IE 8 way */
.dj_ie9 .galton div,
.dj_ie9 .galton input,
.dj_ie9 .galton button {
   border-radius: 0px !important; /* THEMER: HIDE */
}