/* GROUP: ProgressBar */
.galton .wmprogressbar .dijitProgressBar {
	border-radius: 3px;
	-webkit-border-radius: 3px;
/* 	border: solid 1px black; // THEMER: DISABLED */
}


.galton .wmprogressbar .dijitProgressBarLabel {
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
		color: #FFFFFF;
	font-weight: normal;
}

.galton .wmprogressbar .dijitProgressBar {
	background-color: #b4b4b4;
	background-image: none;
	filter: none;
}


/* GROUP: Progress Indicator */
.galton .wmprogressbar .dijitProgressBarFull {
	background-color: #1565c0;
	background-image: none;
	filter: none;
/* 	border-radius: 3px 3px 8px 0px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 3px 3px 8px 0px; // THEMER: DISABLED */
/* 	border-top: solid 0px black; // THEMER: DISABLED */
/* 	border-right: solid 1px black; // THEMER: DISABLED */
/* 	border-bottom: solid 0px black; // THEMER: DISABLED */
/* 	border-left: solid 0px black; // THEMER: DISABLED */
    }


.galton .wmprogressbar .dijitProgressBarTile {
   background-image: inherit; /* THEMER: HIDE */
   background-color: inherit; /* THEMER: HIDE */
}