/* GROUP: Standard Tab Button */
.galton .wmtablayers .wmtablayers-tab,
.galton .wmtablayers button.wmtablayers-verticaltab {
	font-family: "Open Sans", sans-serif;
	color: #474747;
	font-weight: normal;
	font-size: 1em;
	background-color: rgb(230, 230, 230);
	background-image: none;
	filter: none;
}
.galton .wmtablayers .wmtablayers-tab {

	height: 28px;
/* 	margin-left: 4px; // THEMER: DISABLED */
/* 	border-radius: 3px 3px 0px 0px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 3px 3px 0px 0px; // THEMER: DISABLED */
/* 	box-shadow: -1px 1px 1px #444444; // THEMER: DISABLED */
/* 	-webkit-box-shadow: -1px 1px 1px #444444; // THEMER: DISABLED */

	border-top: solid 0px rgb(210, 210, 210);
	border-right: solid 0px rgb(230, 230, 230);
	border-bottom: solid 0px rgb(230, 230, 230);
	border-left: solid 0px rgb(230, 230, 230);
}
.dj_ff .galton .wmtablayers .wmtablayers-tab {
       box-shadow: 0 0 0 black !important; /* THEMER: HIDE */
}
/* GROUP: First Tab */
.galton .wmtablayers-tab:first-child {
/* 	margin-left: 4px; // THEMER: DISABLED */
}


/* GROUP: Standard Selected Tab Button */
.galton .wmtablayers .wmtablayers-verticaltab.wmtablayers-selected,
.galton .wmtablayers .wmtablayers-verticaltab.wmtablayers-selected:hover,
.galton .wmtablayers .wmtablayers-tab.wmtablayers-selected,
.galton .wmtablayers .wmtablayers-tab.wmtablayers-selected:hover {
	background-color: rgb(250, 250, 250);
	background-image: none;
	filter: none;
	color: #0d47a1;
	border-top: solid 0px rgb(13, 71, 161);
	border-right: solid 0px rgb(215, 215, 215);
	border-bottom: solid 0px rgb(215, 215, 215);
	border-left: solid 0px rgb(215, 215, 215);
}
.galton .wmtablayers .wmtablayers-tab.wmtablayers-selected,
.galton .wmtablayers .wmtablayers-tab.wmtablayers-selected:hover {
/* 	box-shadow: -1px 1px 1px #444444; // THEMER: DISABLED */
/* 	-webkit-box-shadow: -1px 1px 1px #444444; // THEMER: DISABLED */
	top: 0;
    /* NOTE: To create different values of top for different browsers, use
     .dj_ie .galton .wmtablayers .wmtablayers-tab.wmtablayers-selected, 
     .dj_ff .galton .wmtablayers .wmtablayers-tab.wmtablayers-selected,
     .dj_webkit .galton .wmtablayers .wmtablayers-tab.wmtablayers-selected */
}

/* GROUP: Tab Button with Focus */
.galton .wmtablayers .wmtablayers-verticaltab:focus,
.galton .wmtablayers .wmtablayers-tab:focus {
/* 	outline: solid 0px ; // THEMER: DISABLED */
	color: #0d47a1;
}

/* GROUP: Tab Button with Hover */
.galton .wmtablayers .wmtablayers-tab:hover,
.galton .wmtablayers .wmtablayers-verticaltab:hover {
	color: #0d47a1;
/* 	background-color: rgb(242, 242, 242); // THEMER: DISABLED */
/* 	background-image: none; // THEMER: DISABLED */
/* 	filter: none; // THEMER: DISABLED */
	border-top: solid 2px #0d47a1;
	border-right: solid 0px #0d47a1;
	border-bottom: solid 0px #0d47a1;
	border-left: solid 0px #0d47a1;
}
.galton .wmtablayers .wmtablayers-tab:hover {
/* 	box-shadow: null; // THEMER: DISABLED */
/* 	-webkit-box-shadow: null; // THEMER: DISABLED */
}

/* GROUP: Tab Button with Mouse Down */
/* NOTE: This does not appear to work in firefox at design time but is fine at runtime */
.galton .wmtablayers .wmtablayers-tab:active,
.galton .wmtablayers .wmtablayers-verticaltab:active,
.galton .wmtablayers .wmtablayers-tab:active:.focus,
.galton .wmtablayers .wmtablayers-verticaltab:active:focus {
/* 	color: #ffffff; // THEMER: DISABLED */
background-color: #444444; 
background-image: none;
filter: none;
}
.galton .wmtablayers .wmtablayers-tab:active,
.galton .wmtablayers .wmtablayers-tab:active:focus {
/* 	box-shadow: 0px 0px 0px #444444; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 0px 0px 0px #444444; // THEMER: DISABLED */
}


/* GROUP: Layer Borders */
.galton .wmtablayers  .wmTabLayers-client > .wmlayer {
/* 	border-radius: 4px !important; // THEMER: DISABLED */
/* 	-webkit-border-radius: 4px !important; // THEMER: DISABLED */
}

/* GROUP: Tab Bar */
.galton .wmtablayers div.wmtablayers-tabbar {
	background-color: rgb(230, 230, 230);
	background-image: none;
	filter: none;
	margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
	margin-top: 0px;
}



/* GROUP: Vertical Tab Buttons */
.galton .wmtablayers button.wmtablayers-verticaltab {
	font-size: 1em;
	width: 98%;
/* 	margin-left: 5%; // THEMER: DISABLED */
/* 	margin-bottom: 10px; // THEMER: DISABLED */
/* 	border-radius: 4px 0px 0px 4px; // THEMER: DISABLED */
/* 	-webkit-border-radius: 4px 0px 0px 4px; // THEMER: DISABLED */
	border-top: solid 0px rgb(68, 68, 68);
	border-right: solid 0px transparent;
	border-bottom: solid 0px rgb(68, 68, 68);
	border-left: solid 0px rgb(68, 68, 68);
/* 	box-shadow: -1px 1px 1px #444444; // THEMER: DISABLED */
/* 	-webkit-box-shadow: -1px 1px 1px #444444; // THEMER: DISABLED */
}

/* GROUP: First Vertical Tab */
.galton .wmtablayers .wmtablayers-verticaltab:first-child {
/* 	margin-top: 8px; // THEMER: DISABLED */
}

/* GROUP: Vertical Tab Buttons with Hover */
.galton .wmtablayers .wmtablayers-verticaltab:hover {
/* 	box-shadow: null; // THEMER: DISABLED */
/* 	-webkit-box-shadow: null; // THEMER: DISABLED */
}

/* GROUP: Vertical Selected Tab Buttons */
.galton .wmtablayers .wmtablayers-verticaltab.wmtablayers-selected {
/* 	box-shadow: null; // THEMER: DISABLED */
/* 	-webkit-box-shadow: null; // THEMER: DISABLED */
/*  border: solid 1px black; // THEMER: DISABLED */
}

/* GROUP: Vertical Tab with Mouse Down */
.galton .wmtablayers .wmtablayers-verticaltab:active,
.galton .wmtablayers .wmtablayers-verticaltab:active:focus {
/* 	box-shadow: 0px 0px 0px #444444; // THEMER: DISABLED */
/* 	-webkit-box-shadow: 0px 0px 0px #444444; // THEMER: DISABLED */
}